force-app/main/default/flows/Add_to_PRC_Meeting_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Score_to_Cumulative_Score</name>
        <label>Add Score to Cumulative Score</label>
        <locationX>1547</locationX>
        <locationY>1135</locationY>
        <assignmentItems>
            <assignToReference>vSumScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sCurrentReviewRecord.SymphonyIPM__Overall_Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Recommendation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_DP_Count</name>
        <label>Increment DP Count</label>
        <locationX>1543</locationX>
        <locationY>1134</locationY>
        <assignmentItems>
            <assignToReference>vDPCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_review_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_File_Count</name>
        <label>Increment File Count</label>
        <locationX>1528</locationX>
        <locationY>1153</locationY>
        <assignmentItems>
            <assignToReference>vFileCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_review_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Hold_Count</name>
        <label>Increment Hold Count</label>
        <locationX>1526</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>vHoldCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_review_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Reject_Count</name>
        <label>Increment Reject Count</label>
        <locationX>1541</locationX>
        <locationY>1155</locationY>
        <assignmentItems>
            <assignToReference>vRejectCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_review_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Review_Count</name>
        <label>Increment Review Count</label>
        <locationX>1540</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>vReviewCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Score_to_Cumulative_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_TS_Count</name>
        <label>Increment TS Count</label>
        <locationX>1547</locationX>
        <locationY>1160</locationY>
        <assignmentItems>
            <assignToReference>vTSCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_review_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PRB_Tech_Area</name>
        <label>PRB Tech Area</label>
        <locationX>1258</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>sCurrentDisclosure.UHG_Tech_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sCurrentPath.UHG_Tech_Area__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_disclosure_assigned_to_PRC_Meeting</name>
        <label>Set disclosure assigned to PRC Meeting</label>
        <locationX>797</locationX>
        <locationY>1452</locationY>
        <assignmentItems>
            <assignToReference>sCurrentDisclosure.SymphonyIPM__Added_to_PRC_Meeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCurrentDisclosure.SymphonyIPM__Disclosure_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PRB_Review_Scheduled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Disclsoure_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Top_Level_Technology</name>
        <label>Top Level Technology</label>
        <locationX>1247</locationX>
        <locationY>627</locationY>
        <assignmentItems>
            <assignToReference>prbTechArea</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sCurrentDisclosure.UHG_Tech_Area__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Disclosure_PRC_Flag</name>
        <label>Update Disclosure PRC Flag</label>
        <locationX>925</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>sCurrentDisclosure.SymphonyIPM__Added_to_PRC_Meeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCurrentDisclosure.SymphonyIPM__Disclosure_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for PRB Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Disclosure_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_list_of_inventors</name>
        <label>Update list of inventors</label>
        <locationX>1285</locationX>
        <locationY>1342</locationY>
        <assignmentItems>
            <assignToReference>vListofInventors</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddInventor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Additional_Inventor_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PRB_Meeting_Name</name>
        <label>Update PRB Meeting Name</label>
        <locationX>1164</locationX>
        <locationY>765</locationY>
        <assignmentItems>
            <assignToReference>meetingPRBName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PRB_Technology_AreaChoiceLookup.selectedChoiceLabels</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_PRC_Meeting_New</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Create_New_PRC_Meeting</name>
        <choiceText>Create New PRB Meeting</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Create_New_PRC_Meeting</elementReference>
        </value>
    </choices>
    <decisions>
        <name>check_profile_name</name>
        <label>check profile name</label>
        <locationX>1030</locationX>
        <locationY>90</locationY>
        <defaultConnector>
            <targetReference>Assigned_PRC_Meeting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reviewer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getprofile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Platform Reviewer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reviewer_Screen</targetReference>
            </connector>
            <label>Reviewer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Recommendation</name>
        <label>Check Recommendation</label>
        <locationX>1536</locationX>
        <locationY>1168</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>File</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentReviewRecord.SymphonyIPM__Reviewer_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>File</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_File_Count</targetReference>
            </connector>
            <label>File</label>
        </rules>
        <rules>
            <name>Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentReviewRecord.SymphonyIPM__Reviewer_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Reject_Count</targetReference>
            </connector>
            <label>Reject</label>
        </rules>
        <rules>
            <name>Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentReviewRecord.SymphonyIPM__Reviewer_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Hold_Count</targetReference>
            </connector>
            <label>Hold</label>
        </rules>
        <rules>
            <name>TS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentReviewRecord.SymphonyIPM__Reviewer_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trade Secret</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_TS_Count</targetReference>
            </connector>
            <label>TS</label>
        </rules>
        <rules>
            <name>DP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentReviewRecord.SymphonyIPM__Reviewer_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Defensive Publication</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_DP_Count</targetReference>
            </connector>
            <label>DP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_new_PRC_meeting_1</name>
        <label>Create new PRC meeting?</label>
        <locationX>612</locationX>
        <locationY>738</locationY>
        <defaultConnector>
            <targetReference>Get_PRC_Meeting_Owner_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_create_new_PRC_meeting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_PRC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_New_PRC_Meeting</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_PRC_Meeting_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_new_PRC_meeting_1_0</name>
        <label>Create new PRC meeting?</label>
        <locationX>1555</locationX>
        <locationY>706</locationY>
        <defaultConnector>
            <targetReference>Create_Task_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_create_new_PRC_meeting_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_PRC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_New_PRC_Meeting</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_the_disclosure_already_been_assigned_to_a_PRC_meeting</name>
        <label>Has the disclosure already been assigned to a PRC meeting?</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_all_PRC_Meetings_from_Tech_Path</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_already_in_PRC_meeting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentDisclosure.SymphonyIPM__Added_to_PRC_Meeting__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PRC_Meeting_Detail_for_current_Disclosure</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Current_Hierarchy_User_the_Owner_of_the_PRC_Meeting_Record</name>
        <label>Is Current Hierarchy User the Owner of the PRC Meeting Record?</label>
        <locationX>1609</locationX>
        <locationY>529</locationY>
        <defaultConnector>
            <targetReference>Share_PRC_Meeting_Record_with_Hierarchy_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_they_are_the_same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPRCMeetingOwnerID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sLoopHierarchyUser.SymphonyIPM__User__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_PRC_meeting_1_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_PRB_Technology</name>
        <label>Update PRB Technology</label>
        <locationX>1100</locationX>
        <locationY>641</locationY>
        <defaultConnector>
            <targetReference>PRB_Technolgy_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRB_Technology_AreaChoiceLookup.selectedChoiceLabels</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>sCurrentDisclosure.SymphonyIPM__Hierarchy__r.UHG_Tech_Area__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PRB_Meeting_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>PRC to PRB Name change Done.


Removed Disclosure Status for PRB under Review in &quot;Set disclosure assigned to PRC Meeting&quot; assignment

Change PRC naming defaults/convention to [PRB Technology Area] [YYYY-MM-DD] (i.e., remove &quot;PRC-&quot; prefix, remove time suffix, and remove dash between PRB and date) - 22/6/20

Chenged value for PRB Review Scheduled - 09/07/2020

Disclosure Status set as Ready for PRB Review after the PRB meeting deleted - 29/06/2023

Added PRB Technology Area in Screen(Screen Reviewer),
Added PRB Technology Area in Screen(Added to PRB Meeting)-05/07/2023</description>
    <dynamicChoiceSets>
        <name>drcPRCMeetings</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Meeting_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Path__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sCurrentDisclosure.SymphonyIPM__Hierarchy__c</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__PRC_Meeting__c</object>
        <outputAssignments>
            <assignToReference>vPRCMeetingID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SymphonyIPM__Disclosure_Status__c</picklistField>
        <picklistObject>SymphonyIPM__Invention_Disclosure_New__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListOfPRCMeeting</name>
        <dataType>String</dataType>
        <displayField>SymphonyIPM__Title__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PRC Meeting</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>vPRCMeetingID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PRBTechnologyAreaPath</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>SymphonyIPM__Hierarchy__c</object>
        <outputAssignments>
            <assignToReference>vPRCMeetingID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>sInventionDisclosureTechArea</name>
        <dataType>String</dataType>
        <displayField>UHG_Tech_Area__c</displayField>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
        <outputAssignments>
            <assignToReference>vPathID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>UHG_Tech_Area__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Tzones</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Time_Zone__c</picklistField>
        <picklistObject>SymphonyIPM__PRC_Meeting__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fAddInventor</name>
        <dataType>String</dataType>
        <expression>{!vListofInventors}+&quot;, &quot;+{!vCurrentInventorName}</expression>
    </formulas>
    <formulas>
        <name>fAverageScore</name>
        <dataType>Number</dataType>
        <expression>{!vSumScore}/{!vReviewCount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fCurrentYear</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fExistingDate</name>
        <dataType>String</dataType>
        <expression>TEXT({!ExistingMeetingDate})</expression>
    </formulas>
    <formulas>
        <name>fExistingMeetingName</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!sCurrentDisclosure.SymphonyIPM__Hierarchy__r.Name})&gt;50, LEFT({!sCurrentDisclosure.SymphonyIPM__Hierarchy__r.Name}, 50), {!sCurrentDisclosure.SymphonyIPM__Hierarchy__r.Name}) + &quot; &quot; + {!fExistingDate}</expression>
    </formulas>
    <formulas>
        <name>FLfinalInventors</name>
        <dataType>String</dataType>
        <expression>RIGHT({!vListofInventors}, LEN ({!vListofInventors})-2)</expression>
    </formulas>
    <formulas>
        <name>fMeetingName</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!sCurrentDisclosure.SymphonyIPM__Hierarchy__r.Name})&gt;50, LEFT({!sCurrentDisclosure.SymphonyIPM__Hierarchy__r.Name}, 50), {!sCurrentDisclosure.SymphonyIPM__Hierarchy__r.Name}) + &quot; &quot; + {!fTextDate}</expression>
    </formulas>
    <formulas>
        <name>fMeetingNameUpdate</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!meetingPRBName})&gt;50, LEFT({!meetingPRBName}, 50), {!meetingPRBName}) + &quot; &quot; + {!fTextDate}</expression>
    </formulas>
    <formulas>
        <name>fRecommendationsSummary</name>
        <dataType>String</dataType>
        <expression>&quot;File:&quot; + TEXT({!vFileCount}) + &quot; | Reject:&quot; + TEXT({!vRejectCount}) + &quot; | Hold:&quot; + TEXT({!vHoldCount}) + &quot; | Trade Secret:&quot; + TEXT({!vTSCount}) + &quot; | Defensive Publication:&quot; + TEXT({!vDPCount})</expression>
    </formulas>
    <formulas>
        <name>fTextDate</name>
        <dataType>String</dataType>
        <expression>TEXT({!Meeting_Date_1})</expression>
    </formulas>
    <formulas>
        <name>fTEXTMeetingStart</name>
        <dataType>String</dataType>
        <expression>{!fTextDate} + &quot; &quot; + {!Meeting_Start_Time_HH_MM} + &quot;:00&quot;</expression>
    </formulas>
    <formulas>
        <name>userid</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Add to PRC Meeting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add to PRB Meeting</label>
    <loops>
        <name>Loop_through_Additional_Inventor_Records</name>
        <label>Loop through Additional Inventor Records</label>
        <locationX>789</locationX>
        <locationY>1300</locationY>
        <assignNextValueToReference>sLoopAdditionalInventor</assignNextValueToReference>
        <collectionReference>scAllAdditionalInventors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Inventor_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_PRC_Meeting_Detail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_Hierarchy_Users</name>
        <label>Loop through all Hierarchy Users</label>
        <locationX>1180</locationX>
        <locationY>915</locationY>
        <assignNextValueToReference>sLoopHierarchyUser</assignNextValueToReference>
        <collectionReference>scHierarcyRoles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_new_PRC_meeting_1_0</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_through_all_review_records</name>
        <label>Loop through all review records</label>
        <locationX>1548</locationX>
        <locationY>1152</locationY>
        <assignNextValueToReference>sCurrentReviewRecord</assignNextValueToReference>
        <collectionReference>scDisclosureReviewRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Review_Count</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_PRC_Meeting_Detail</name>
        <label>Create New PRC Meeting Detail</label>
        <locationX>602</locationX>
        <locationY>1454</locationY>
        <assignRecordIdToReference>vPRCMeetingDetailID</assignRecordIdToReference>
        <connector>
            <targetReference>Set_disclosure_assigned_to_PRC_Meeting</targetReference>
        </connector>
        <inputAssignments>
            <field>SymphonyIPM__Average_Rating_Score__c</field>
            <value>
                <elementReference>fAverageScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Invention_Title__c</field>
            <value>
                <elementReference>sCurrentDisclosure.SymphonyIPM__Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Inventors__c</field>
            <value>
                <elementReference>FLfinalInventors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Number_of_DP_Recommendations__c</field>
            <value>
                <elementReference>vDPCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Number_of_File_Recommendations__c</field>
            <value>
                <elementReference>vFileCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Number_of_Hold_Recommendations__c</field>
            <value>
                <elementReference>vHoldCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Number_of_Reject_Recommendations__c</field>
            <value>
                <elementReference>vRejectCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Number_of_TS_Recommendations__c</field>
            <value>
                <elementReference>vTSCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__PRC_Meeting__c</field>
            <value>
                <elementReference>vPRCMeetingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Related_Invention_Disclosure__c</field>
            <value>
                <elementReference>iCurrentDisclosureID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Relationship_Type__c</field>
            <value>
                <stringValue>Disclosure</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Submitted_Date__c</field>
            <value>
                <elementReference>sCurrentDisclosure.SymphonyIPM__Submitted_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__PRC_Meeting_Details__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_PRC_Meeting_New</name>
        <label>Create New PRC Meeting</label>
        <locationX>907</locationX>
        <locationY>733</locationY>
        <assignRecordIdToReference>vPRCMeetingID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_PRC_Meeting_Owner_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fMeetingNameUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Business_Unit__c</field>
            <value>
                <elementReference>sCurrentDisclosure.SymphonyIPM__BU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Duration_in_Minutes__c</field>
            <value>
                <elementReference>Meeting_Duration_in_minutes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Location__c</field>
            <value>
                <elementReference>Meeting_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Meeting_Date__c</field>
            <value>
                <elementReference>Meeting_Date_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Path__c</field>
            <value>
                <elementReference>sCurrentDisclosure.SymphonyIPM__Hierarchy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Start_Time__c</field>
            <value>
                <elementReference>Meeting_Start_Time_HH_MM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Zone__c</field>
            <value>
                <elementReference>Tzones</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__PRC_Meeting__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>1291</locationX>
        <locationY>920</locationY>
        <connector>
            <targetReference>Loop_through_all_Hierarchy_Users</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Meeting_Date_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>sLoopHierarchyUser.SymphonyIPM__User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>fMeetingName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>PRC Meeting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>vPRCMeetingID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_0</name>
        <label>Create Task</label>
        <locationX>1507</locationX>
        <locationY>910</locationY>
        <connector>
            <targetReference>Loop_through_all_Hierarchy_Users</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>ExistingMeetingDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>sLoopHierarchyUser.SymphonyIPM__User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>fExistingMeetingName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>PRC Meeting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>vPRCMeetingID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Share_PRC_Meeting_Record_with_Hierarchy_User</name>
        <label>Share PRC Meeting Record with Hierarchy User</label>
        <locationX>1380</locationX>
        <locationY>579</locationY>
        <connector>
            <targetReference>Create_new_PRC_meeting_1_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>vPRCMeetingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>sLoopHierarchyUser.SymphonyIPM__User__c</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__PRC_Meeting__Share</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_PRC_Meeting_Detail_Record</name>
        <label>Delete PRC Meeting Detail Record</label>
        <locationX>1071</locationX>
        <locationY>348</locationY>
        <connector>
            <targetReference>Update_Disclosure_PRC_Flag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAssignedPRCMeetingDetailID</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__PRC_Meeting_Details__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Additional_Inventors</name>
        <label>Get Additional Inventors</label>
        <locationX>438</locationX>
        <locationY>1217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Additional_Inventor_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Invention_Disclosure_New__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iCurrentDisclosureID</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Additional_Inventor__c</object>
        <outputReference>scAllAdditionalInventors</outputReference>
        <queriedFields>SymphonyIPM__Inventor__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_all_associated_review_records</name>
        <label>Get all associated review records</label>
        <locationX>595</locationX>
        <locationY>1007</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Additional_Inventors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Base_Invention_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iCurrentDisclosureID</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__IDF_Review__c</object>
        <outputReference>scDisclosureReviewRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyIPM__Overall_Score__c</queriedFields>
        <queriedFields>SymphonyIPM__Reviewer_Recommendation__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Hierarchy_Roles</name>
        <label>Get all Hierarchy Roles</label>
        <locationX>1045</locationX>
        <locationY>810</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_associated_review_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Hierarchy_Path__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sCurrentDisclosure.SymphonyIPM__Hierarchy__c</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Hierarchy_Role__c</object>
        <outputReference>scHierarcyRoles</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyIPM__User__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_all_PRC_Meetings_from_Tech_Path</name>
        <label>Get all PRC Meetings from Tech Path</label>
        <locationX>551</locationX>
        <locationY>507</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_to_PRC_Meeting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Meeting_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Path__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sCurrentDisclosure.SymphonyIPM__Hierarchy__c</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__PRC_Meeting__c</object>
        <outputReference>scAllMeetingsbyPath</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SymphonyIPM__Meeting_Date__c</queriedFields>
        <queriedFields>SymphonyIPM__Duration_in_Minutes__c</queriedFields>
        <queriedFields>SymphonyIPM__Location__c</queriedFields>
        <queriedFields>Time_Zone__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Inventor_Name</name>
        <label>Get Inventor Name</label>
        <locationX>1116</locationX>
        <locationY>1297</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_list_of_inventors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sLoopAdditionalInventor.SymphonyIPM__Inventor__c</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Inventor__c</object>
        <outputAssignments>
            <assignToReference>vCurrentInventorName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PRC_Meeting</name>
        <label>Get PRC Meeting</label>
        <locationX>354</locationX>
        <locationY>798</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPRCMeetingID</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__PRC_Meeting__c</object>
        <outputAssignments>
            <assignToReference>ExistingMeetingDate</assignToReference>
            <field>SymphonyIPM__Meeting_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ExistingMeetingTime</assignToReference>
            <field>SymphonyIPM__Start_Time__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PRC_Meeting_Detail_for_current_Disclosure</name>
        <label>Get PRC Meeting Detail for current Disclosure</label>
        <locationX>714</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_PRC_Meeting_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Related_Invention_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iCurrentDisclosureID</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__PRC_Meeting_Details__c</object>
        <outputAssignments>
            <assignToReference>vAssignedPRCMeetingDetailID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vAssignedPRCMeeting</assignToReference>
            <field>SymphonyIPM__PRC_Meeting__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PRC_Meeting_Owner_Id</name>
        <label>Get PRC Meeting Owner Id</label>
        <locationX>890</locationX>
        <locationY>873</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_Hierarchy_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPRCMeetingID</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__PRC_Meeting__c</object>
        <outputAssignments>
            <assignToReference>vPRCMeetingOwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getprofile</name>
        <label>getprofile</label>
        <locationX>922</locationX>
        <locationY>96</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_profile_name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getuser.Profile.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getuser</name>
        <label>getuser</label>
        <locationX>813</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getprofile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProfileId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Disclosure_Record</name>
        <label>Lookup Disclosure Record</label>
        <locationX>390</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_the_disclosure_already_been_assigned_to_a_PRC_meeting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iCurrentDisclosureID</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
        <outputReference>sCurrentDisclosure</outputReference>
        <queriedFields>SymphonyIPM__BU__c</queriedFields>
        <queriedFields>SymphonyIPM__Hierarchy__c</queriedFields>
        <queriedFields>SymphonyIPM__Title__c</queriedFields>
        <queriedFields>SymphonyIPM__Invention_Date__c</queriedFields>
        <queriedFields>SymphonyIPM__Submitted_Date__c</queriedFields>
        <queriedFields>SymphonyIPM__Invention_Country__c</queriedFields>
        <queriedFields>SymphonyIPM__Primary_Inventor__c</queriedFields>
        <queriedFields>SymphonyIPM__Added_to_PRC_Meeting__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_PRC_Meeting_Record</name>
        <label>Lookup PRC Meeting Record</label>
        <locationX>751</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getuser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAssignedPRCMeeting</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Path__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sCurrentDisclosure.SymphonyIPM__Hierarchy__c</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__PRC_Meeting__c</object>
        <outputReference>sAssignedPRCMeeting</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>SymphonyIPM__Meeting_Date__c</queriedFields>
        <queriedFields>SymphonyIPM__Start_Time__c</queriedFields>
        <queriedFields>SymphonyIPM__Duration_in_Minutes__c</queriedFields>
        <queriedFields>SymphonyIPM__Location__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Time_Zone__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Disclosure_Record</name>
        <label>Update Disclosure Record</label>
        <locationX>759</locationX>
        <locationY>472</locationY>
        <inputReference>sCurrentDisclosure</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Disclsoure_Record</name>
        <label>Update Disclsoure Record</label>
        <locationX>970</locationX>
        <locationY>1446</locationY>
        <inputReference>sCurrentDisclosure</inputReference>
    </recordUpdates>
    <screens>
        <name>Add_to_PRC_Meeting</name>
        <label>Add to PRB Meeting</label>
        <locationX>711</locationX>
        <locationY>605</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_new_PRC_meeting_1</targetReference>
        </connector>
        <fields>
            <name>Select_PRC</name>
            <choiceReferences>Create_New_PRC_Meeting</choiceReferences>
            <choiceReferences>drcPRCMeetings</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Create_New_PRC_Meeting</defaultSelectedChoiceReference>
            <fieldText>Select PRB Meeting</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assigned_PRC_Meeting</name>
        <label>Assigned PRB Meeting</label>
        <locationX>1218</locationX>
        <locationY>218</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_PRC_Meeting_Detail_Record</targetReference>
        </connector>
        <fields>
            <name>assignedPRCMeetingDetails</name>
            <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;This Disclosure has been assigned to the following PRB Meeting. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Meeting Name: &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!sAssignedPRCMeeting.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Date: &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!sAssignedPRCMeeting.SymphonyIPM__Meeting_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Time: &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!sAssignedPRCMeeting.SymphonyIPM__Start_Time__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;Time Zone: &lt;strong&gt;{!sAssignedPRCMeeting.Time_Zone__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Location: &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!sAssignedPRCMeeting.SymphonyIPM__Location__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;To delete the current PRB Meeting assignment and assign to a new PRB Meeting, click Next. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_PRC_Meeting_Details</name>
        <label>New PRB Meeting Details</label>
        <locationX>935</locationX>
        <locationY>604</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_PRB_Technology</targetReference>
        </connector>
        <fields>
            <name>Meeting_Date_1</name>
            <dataType>Date</dataType>
            <fieldText>Meeting Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Meeting_Start_Time_HH_MM</name>
            <dataType>String</dataType>
            <fieldText>Meeting Start Time (HH:MM)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Enter the start time in the specified format of HH:MM.</errorMessage>
                <formulaExpression>LEN(TRIM({!Meeting_Start_Time_HH_MM})) = 5</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Meeting_Duration_in_minutes</name>
            <dataType>Number</dataType>
            <fieldText>Meeting Duration (in minutes)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Time_Zone</name>
            <choiceReferences>Tzones</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Time Zone</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Meeting_Location</name>
            <dataType>String</dataType>
            <fieldText>Meeting Location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PRB_Technology_AreaChoiceLookup</name>
            <choiceReferences>PRBTechnologyAreaPath</choiceReferences>
            <defaultValue>
                <elementReference>sCurrentDisclosure.SymphonyIPM__Hierarchy__c</elementReference>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>PRB Technology Area</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PRB_Technolgy_Selection</name>
        <label>PRB Technolgy Selection</label>
        <locationX>1086</locationX>
        <locationY>500</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorPrbTech</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 10, 10);&quot;&gt;You are not allowed to select this technology.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reviewer_Screen</name>
        <label>Reviewer Screen</label>
        <locationX>1243</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PRC_Meeting</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;PRB Meeting&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;This Disclosure has been assigned to the following PRB Meeting. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Meeting Name: &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!sAssignedPRCMeeting.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Date: &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!sAssignedPRCMeeting.SymphonyIPM__Meeting_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Time: &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!sAssignedPRCMeeting.SymphonyIPM__Start_Time__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Time Zone: &lt;strong&gt;{!sAssignedPRCMeeting.Time_Zone__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Location: &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!sAssignedPRCMeeting.SymphonyIPM__Location__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>219</locationY>
        <connector>
            <targetReference>Lookup_Disclosure_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ExistingMeetingDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingMeetingTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iCurrentDisclosureID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>meetingPRBName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>prbTechArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sAssignedPRCMeeting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__PRC_Meeting__c</objectType>
    </variables>
    <variables>
        <name>scAllAdditionalInventors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Additional_Inventor__c</objectType>
    </variables>
    <variables>
        <name>scAllMeetingsbyPath</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__PRC_Meeting__c</objectType>
    </variables>
    <variables>
        <name>scDisclosureReviewRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__IDF_Review__c</objectType>
    </variables>
    <variables>
        <name>scHierarcyRoles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Hierarchy_Role__c</objectType>
    </variables>
    <variables>
        <name>sCurrentDisclosure</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Invention_Disclosure_New__c</objectType>
    </variables>
    <variables>
        <name>sCurrentPath</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Hierarchy__c</objectType>
    </variables>
    <variables>
        <name>sCurrentReviewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__IDF_Review__c</objectType>
    </variables>
    <variables>
        <name>sLoopAdditionalInventor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Additional_Inventor__c</objectType>
    </variables>
    <variables>
        <name>sLoopHierarchyUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Hierarchy_Role__c</objectType>
    </variables>
    <variables>
        <name>vAssignedPRCMeeting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAssignedPRCMeetingDetailID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCurrentInventorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDPCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vFileCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vFNInventorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vHoldCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vListofInventors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPathID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPRCMeetingDetailID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPRCMeetingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPRCMeetingOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRejectCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vReviewCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vSumScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vTSCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
