force-app/main/default/flows/Application_Drafting_and_Filing_Workflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>if_document_null</name>
        <label>if document null</label>
        <locationX>603</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Get_Document_Id_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocumentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Drafting</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_document_null_0</name>
        <label>if document null</label>
        <locationX>328</locationX>
        <locationY>330</locationY>
        <defaultConnector>
            <targetReference>Create_Patent_Doc_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>otherDocument</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Drafting_0</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <description>Updated patent attachment url - kiran - 26-02-2021</description>
    <interviewLabel>Application Drafting and Filing Workflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Drafting and Filing Workflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Patent_Doc_Record</name>
        <label>Create Patent Doc Record</label>
        <locationX>512</locationX>
        <locationY>424</locationY>
        <connector>
            <targetReference>Get_Document_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>-</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Actor_Id__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Actor_Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Actor__c</field>
            <value>
                <stringValue>OC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Document_Type_No__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Document_Type__c</field>
            <value>
                <stringValue>Application to be Filed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Next_Action__c</field>
            <value>
                <stringValue>To be submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Patent__c</field>
            <value>
                <elementReference>PatentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Version__c</field>
            <value>
                <stringValue>Initial</stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Patent_Attachments__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Document_Id</name>
        <label>Get Document Id</label>
        <locationX>678</locationX>
        <locationY>413</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Application_Drafting_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Patent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Actor_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Patent_Attachments__c</object>
        <outputAssignments>
            <assignToReference>DocumentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Id_0</name>
        <label>Get Document Id</label>
        <locationX>513</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_document_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Patent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Actor_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Patent_Attachments__c</object>
        <outputAssignments>
            <assignToReference>DocumentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Id_0_0</name>
        <label>Get Document Id</label>
        <locationX>510</locationX>
        <locationY>268</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_document_null_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Patent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Actor_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Patent_Attachments__c</object>
        <outputAssignments>
            <assignToReference>otherDocument</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Patent_Details1</name>
        <label>Get Patent Details1</label>
        <locationX>382</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Document_Id_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatentId</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Patent__c</object>
        <outputReference>PatentRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyIPM__Target_Filing_Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_target_date</name>
        <label>Update target date</label>
        <locationX>888</locationX>
        <locationY>204</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SymphonyIPM__Target_Filing_Date__c</field>
            <value>
                <elementReference>Target_Filing_Date</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Patent__c</object>
    </recordUpdates>
    <screens>
        <name>Application_Drafting</name>
        <label>Application Drafting</label>
        <locationX>772</locationX>
        <locationY>80</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_target_date</targetReference>
        </connector>
        <fields>
            <name>sample</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Target_Filing_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>PatentRecord.SymphonyIPM__Target_Filing_Date__c</elementReference>
            </defaultValue>
            <fieldText>Target Filing Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>sample1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step1_Display</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Step 1.Upload Application Draft for IC/Inventor review&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Document_Communication_Link</name>
            <fieldText>&lt;p&gt;Upload the Application  Draft for IC/Inventor review by clicking &lt;a href=&quot;https://uhg.lightning.force.com/lightning/r/SymphonyIPM__Patent_Attachments__c/{!DocumentId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here.&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Next Once Done.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Application_Drafting_0</name>
        <label>Application Drafting</label>
        <locationX>793</locationX>
        <locationY>320</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>sample_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Target_Filing_Date_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>PatentRecord.SymphonyIPM__Target_Filing_Date__c</elementReference>
            </defaultValue>
            <fieldText>Target Filing Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>sample1_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step1_Display_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Step 1.Upload Application Draft for IC/Inventor review&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Document_Communication_Link_0</name>
            <fieldText>&lt;p&gt;Document communication is already initiated, please go to document section for more details.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Application_Drafting_0_0</name>
        <label>Application Drafting</label>
        <locationX>856</locationX>
        <locationY>426</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_target_date</targetReference>
        </connector>
        <fields>
            <name>sample_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Target_Filing_Date_0_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>PatentRecord.SymphonyIPM__Target_Filing_Date__c</elementReference>
            </defaultValue>
            <fieldText>Target Filing Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>sample1_0_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step1_Display_0_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Step 1.Upload Application Draft for IC/Inventor review&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Document_Communication_Link_0_0</name>
            <fieldText>&lt;p&gt;Upload the Application  Draft for IC/Inventor review by clicking &lt;a href=&quot;https://uhg.lightning.force.com/lightning/r/SymphonyIPM__Patent_Attachments__c/{!DocumentId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here.&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Next Once Done.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Patent_Details1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>otherDocument</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Patent__c</objectType>
    </variables>
</Flow>
