force-app/main/default/flows/Case_Rating2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>getvalues</name>
        <label>getvalues</label>
        <locationX>886</locationX>
        <locationY>1060</locationY>
        <assignmentItems>
            <assignToReference>getrcd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pickonevalue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pickdependantvalue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>testt_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getvalues_0</name>
        <label>getvalues</label>
        <locationX>2139</locationX>
        <locationY>922</locationY>
        <assignmentItems>
            <assignToReference>getrcd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>getvalues_0_0_0_0</name>
        <label>getvalues for Proceed</label>
        <locationX>848</locationX>
        <locationY>535</locationY>
        <assignmentItems>
            <assignToReference>getrcd</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Rating_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getvalues_0_0_0_0_0</name>
        <label>getvalues for Conditional Proceed</label>
        <locationX>753</locationX>
        <locationY>544</locationY>
        <assignmentItems>
            <assignToReference>getrcd</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Rating_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getvalues_0_0_0_0_0_0</name>
        <label>getvalues for Defer</label>
        <locationX>642</locationX>
        <locationY>537</locationY>
        <assignmentItems>
            <assignToReference>getrcd</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Defer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Rating_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getvalues_0_0_0_0_0_0_0</name>
        <label>getvalues for Close</label>
        <locationX>954</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>getrcd</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Close</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Rating_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getvalues_0_0_0_0_0_0_0_0</name>
        <label>getvalues for Proceed</label>
        <locationX>1373</locationX>
        <locationY>753</locationY>
        <assignmentItems>
            <assignToReference>getrcd</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pickdependentvalue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Rating_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getvalues_0_0_0_0_0_0_0_0_0</name>
        <label>getvalues for Conditional Proceed</label>
        <locationX>1167</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>getrcd</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pickdependentvalue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Rating_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getvalues_0_0_0_0_0_0_0_0_0_0</name>
        <label>getvalues for Defer</label>
        <locationX>1649</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>getrcd</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Defer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Rating_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getvalues_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>getvalues for Close</label>
        <locationX>1481</locationX>
        <locationY>727</locationY>
        <assignmentItems>
            <assignToReference>getrcd</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Close</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Rating_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getvalues_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>getvalues for Publish</label>
        <locationX>1817</locationX>
        <locationY>772</locationY>
        <assignmentItems>
            <assignToReference>getrcd</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Publish</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Rating_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getvalues_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>getvalues for Publish</label>
        <locationX>1063</locationX>
        <locationY>579</locationY>
        <assignmentItems>
            <assignToReference>getrcd</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Publish</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>child</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Rating_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check</name>
        <label>Check Condition</label>
        <locationX>495</locationX>
        <locationY>243</locationY>
        <defaultConnector>
            <targetReference>test1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isnotnull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getrcd</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>child</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssetRatingPRCName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_Rating</targetReference>
            </connector>
            <label>isnotnull</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_null</name>
        <label>is null</label>
        <locationX>336</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>TTTT_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>(1 OR 2) OR ( (5 OR 6) AND (3 OR 4) )</conditionLogic>
            <conditions>
                <leftValueReference>pickonevalue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pickonevalue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pickdependantvalue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pickdependantvalue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pickonevalue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proceed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pickonevalue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conditional Proceed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>vfs</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_null_0</name>
        <label>Checking the values given is null</label>
        <locationX>1301</locationX>
        <locationY>222</locationY>
        <defaultConnector>
            <targetReference>TTTT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_0</name>
            <conditionLogic>(1 OR 2) OR ( (5 OR 6) AND (3 OR 4) )</conditionLogic>
            <conditions>
                <leftValueReference>pick11value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pick11value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pickdependentvalue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pickdependentvalue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pick11value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proceed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pick11value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conditional Proceed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>vfs_0</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>testt_0</name>
        <label>test the Values 1</label>
        <locationX>916</locationX>
        <locationY>826</locationY>
        <defaultConnector>
            <targetReference>getvalues_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_p_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>pickonevalue</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Proceed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getvalues_0_0_0_0</targetReference>
            </connector>
            <label>is p</label>
        </rules>
        <rules>
            <name>IS_D</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pickonevalue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Defer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getvalues_0_0_0_0_0_0</targetReference>
            </connector>
            <label>IS D</label>
        </rules>
        <rules>
            <name>IS_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pickonevalue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getvalues_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>IS C</label>
        </rules>
        <rules>
            <name>IS_PU1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pickonevalue</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Publish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getvalues_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>IS PU1</label>
        </rules>
    </decisions>
    <decisions>
        <name>testt_0_0</name>
        <label>test for Values</label>
        <locationX>1511</locationX>
        <locationY>977</locationY>
        <defaultConnector>
            <targetReference>getvalues_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_p_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>pick11value</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Proceed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getvalues_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>is p</label>
        </rules>
        <rules>
            <name>IS_D_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pick11value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Defer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getvalues_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>IS D</label>
        </rules>
        <rules>
            <name>IS_C_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pick11value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getvalues_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>IS C</label>
        </rules>
        <rules>
            <name>IS_Pu</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>pick11value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Publish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getvalues_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>IS PU</label>
        </rules>
    </decisions>
    <decisions>
        <name>testt_0_0_0_0</name>
        <label>testt</label>
        <locationX>2124</locationX>
        <locationY>924</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_p_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>pick11value</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <label>is p</label>
        </rules>
        <rules>
            <name>IS_D_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pick11value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Defer</stringValue>
                </rightValue>
            </conditions>
            <label>IS D</label>
        </rules>
        <rules>
            <name>IS_C_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pick11value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close</stringValue>
                </rightValue>
            </conditions>
            <label>IS C</label>
        </rules>
    </decisions>
    <decisions>
        <name>TTTT</name>
        <label>Whether option Defer or Close or Publish</label>
        <locationX>1518</locationX>
        <locationY>169</locationY>
        <defaultConnector>
            <targetReference>Update_Rating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_DI_OR_CP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>pick11value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Defer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pick11value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pick11value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Publish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Rating_0_0</targetReference>
            </connector>
            <label>IS DI OR CP OR PU</label>
        </rules>
    </decisions>
    <decisions>
        <name>TTTT_0</name>
        <label>TTTT</label>
        <locationX>537</locationX>
        <locationY>622</locationY>
        <defaultConnector>
            <targetReference>create_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_DI_OR_CP_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>pickonevalue</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Defer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pickonevalue</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pickonevalue</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Publish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create</targetReference>
            </connector>
            <label>IS DI OR CP OR PU</label>
        </rules>
    </decisions>
    <description>Renamed the Field Labels for the flow.
Added the Change button to navigate to edit screen [31/03/2020]
Added the Save and Cancel button in the edit screen [31/03/2020]
Added the PRC Meeting Name in the Create record field (RK) (18/04/2020)
Added variable in update records for Proceed and Conditional Proceed - 26/4/2020
Changed variables in IDFReview and decision - 26/4/2020</description>
    <dynamicChoiceSets>
        <name>choiceRatingParam1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Proceed_Rating_Parameter_1__c</picklistField>
        <picklistObject>SymphonyIPM__IDF_Review__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>currentuser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>for</name>
        <dataType>String</dataType>
        <expression>{!getrcd}&amp;{!child}</expression>
    </formulas>
    <interviewLabel>Case Rating1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Disclosure Rating</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create</name>
        <label>Create a Disclosure Rating for Proceed or Conditional Proceed</label>
        <locationX>408</locationX>
        <locationY>913</locationY>
        <connector>
            <targetReference>getvalues</targetReference>
        </connector>
        <inputAssignments>
            <field>PRC_Meeting_Name__c</field>
            <value>
                <elementReference>PRCMeeting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating_Parameter_1_New__c</field>
            <value>
                <elementReference>pickonevalue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Base_Invention_Disclosure__c</field>
            <value>
                <elementReference>iCurrentIDRecord</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__IDF_Review__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_0</name>
        <label>Create a Disclosure Rating for Defer or Close or Publish</label>
        <locationX>564</locationX>
        <locationY>931</locationY>
        <connector>
            <targetReference>getvalues</targetReference>
        </connector>
        <inputAssignments>
            <field>PRC_Meeting_Name__c</field>
            <value>
                <elementReference>PRCMeeting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proceed_Rating_Parameter_1__c</field>
            <value>
                <elementReference>pickdependantvalue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating_Parameter_1_New__c</field>
            <value>
                <elementReference>pickonevalue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Base_Invention_Disclosure__c</field>
            <value>
                <elementReference>iCurrentIDRecord</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__IDF_Review__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Rating_Parameter_2</name>
        <label>Get Rating Parameter 2</label>
        <locationX>2132</locationX>
        <locationY>915</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Rating_Parameter_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Rating_Parameter_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rating Parameter 2</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Asset_Rating_Parameters__mdt</object>
        <outputAssignments>
            <assignToReference>vRatingParam2Name</assignToReference>
            <field>SymphonyIPM__Parameter_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vRatingParam2Wt</assignToReference>
            <field>SymphonyIPM__Weightage__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Rating_Parameter_3</name>
        <label>Get Rating Parameter 3</label>
        <locationX>2131</locationX>
        <locationY>916</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Rating_Parameter_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Rating_Parameter_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rating Parameter 3</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Asset_Rating_Parameters__mdt</object>
        <outputAssignments>
            <assignToReference>vRatingParam3Name</assignToReference>
            <field>SymphonyIPM__Parameter_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vRatingParam3Wt</assignToReference>
            <field>SymphonyIPM__Weightage__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Rating_Parameter_4</name>
        <label>Get Rating Parameter 4</label>
        <locationX>2132</locationX>
        <locationY>915</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Rating_Parameter_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rating Parameter 4</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Asset_Rating_Parameters__mdt</object>
        <outputAssignments>
            <assignToReference>vRatingParam4Name</assignToReference>
            <field>SymphonyIPM__Parameter_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vRatingParam4Wt</assignToReference>
            <field>SymphonyIPM__Weightage__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>IDFReview</name>
        <label>IDFReview</label>
        <locationX>315</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentuser</elementReference>
            </value>
        </filters>
        <filters>
            <field>PRC_Meeting_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRCMeeting</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Base_Invention_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iCurrentIDRecord</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__IDF_Review__c</object>
        <outputAssignments>
            <assignToReference>PRCMeeting</assignToReference>
            <field>PRC_Meeting_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>child</assignToReference>
            <field>final_rat12__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>IDFReview_0</name>
        <label>IDFReview</label>
        <locationX>2141</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Base_Invention_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iCurrentIDRecord</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__IDF_Review__c</object>
        <outputAssignments>
            <assignToReference>new</assignToReference>
            <field>Proceed_Rating_Parameter_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>new1</assignToReference>
            <field>Rating_Parameter_1_New__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>PRC meeting name from the PRC Meeting detail for the disclosure</description>
        <name>PRC_Meeting_Details_Name</name>
        <label>PRC Meeting Detail Name</label>
        <locationX>122</locationX>
        <locationY>238</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PRC_Meeting_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Related_Invention_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iCurrentIDRecord</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__PRC_Meeting_Details__c</object>
        <outputAssignments>
            <assignToReference>new</assignToReference>
            <field>SymphonyIPM__PRC_Meeting__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Getting the PRC Name</description>
        <name>PRC_Meeting_Name</name>
        <label>PRC Meeting Name</label>
        <locationX>210</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IDFReview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>new</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__PRC_Meeting__c</object>
        <outputAssignments>
            <assignToReference>PRCMeeting</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Rating</name>
        <label>Update Rating for Proceed or Conditional Proceed</label>
        <locationX>1922</locationX>
        <locationY>593</locationY>
        <connector>
            <targetReference>testt_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentuser</elementReference>
            </value>
        </filters>
        <filters>
            <field>PRC_Meeting_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetRatingPRCName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Base_Invention_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iCurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Proceed_Rating_Parameter_1__c</field>
            <value>
                <elementReference>pickdependentvalue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating_Parameter_1_New__c</field>
            <value>
                <elementReference>pick11value</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__IDF_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rating_0_0</name>
        <label>Update Rating for Defer or Close or Publish</label>
        <locationX>1849</locationX>
        <locationY>392</locationY>
        <connector>
            <targetReference>testt_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentuser</elementReference>
            </value>
        </filters>
        <filters>
            <field>PRC_Meeting_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetRatingPRCName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Base_Invention_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iCurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Proceed_Rating_Parameter_1__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Rating_Parameter_1_New__c</field>
            <value>
                <elementReference>pick11value</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__IDF_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rating_0_0_0_0_0_0</name>
        <label>Update Rating for Defer</label>
        <locationX>1539</locationX>
        <locationY>486</locationY>
        <connector>
            <targetReference>Asset_Rating</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentuser</elementReference>
            </value>
        </filters>
        <filters>
            <field>PRC_Meeting_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRCMeeting</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Base_Invention_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iCurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>final_rat12__c</field>
            <value>
                <stringValue>Defer</stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__IDF_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rating_0_0_0_0_0_0_0</name>
        <label>Update Rating for Close</label>
        <locationX>1402</locationX>
        <locationY>521</locationY>
        <connector>
            <targetReference>Asset_Rating</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentuser</elementReference>
            </value>
        </filters>
        <filters>
            <field>PRC_Meeting_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRCMeeting</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Base_Invention_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iCurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>final_rat12__c</field>
            <value>
                <stringValue>Close</stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__IDF_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rating_0_0_0_0_0_0_0_0</name>
        <label>Update Rating for Proceed</label>
        <locationX>1307</locationX>
        <locationY>569</locationY>
        <connector>
            <targetReference>Asset_Rating</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentuser</elementReference>
            </value>
        </filters>
        <filters>
            <field>PRC_Meeting_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRCMeeting</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Base_Invention_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iCurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>final_rat12__c</field>
            <value>
                <elementReference>for</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__IDF_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rating_0_0_0_0_0_0_0_0_0</name>
        <label>Update Rating Conditional Proceed</label>
        <locationX>1190</locationX>
        <locationY>597</locationY>
        <connector>
            <targetReference>Asset_Rating</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentuser</elementReference>
            </value>
        </filters>
        <filters>
            <field>PRC_Meeting_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRCMeeting</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Base_Invention_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iCurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>final_rat12__c</field>
            <value>
                <elementReference>for</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__IDF_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rating_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Rating</label>
        <locationX>2286</locationX>
        <locationY>922</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Base_Invention_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iCurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>final_rat12__c</field>
            <value>
                <elementReference>for</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__IDF_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rating_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Rating for Close1</label>
        <locationX>895</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Asset_Rating</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentuser</elementReference>
            </value>
        </filters>
        <filters>
            <field>PRC_Meeting_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRCMeeting</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Base_Invention_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iCurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>final_rat12__c</field>
            <value>
                <stringValue>Close</stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__IDF_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rating_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Rating for Proceed1</label>
        <locationX>783</locationX>
        <locationY>379</locationY>
        <connector>
            <targetReference>Asset_Rating</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentuser</elementReference>
            </value>
        </filters>
        <filters>
            <field>PRC_Meeting_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRCMeeting</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Base_Invention_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iCurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>final_rat12__c</field>
            <value>
                <elementReference>for</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__IDF_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rating_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Rating for Conditional Proceed1</label>
        <locationX>683</locationX>
        <locationY>344</locationY>
        <connector>
            <targetReference>Asset_Rating</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentuser</elementReference>
            </value>
        </filters>
        <filters>
            <field>PRC_Meeting_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRCMeeting</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Base_Invention_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iCurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>final_rat12__c</field>
            <value>
                <elementReference>for</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__IDF_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rating_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Rating for Defer</label>
        <locationX>552</locationX>
        <locationY>353</locationY>
        <connector>
            <targetReference>Asset_Rating</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentuser</elementReference>
            </value>
        </filters>
        <filters>
            <field>PRC_Meeting_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRCMeeting</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Base_Invention_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iCurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>final_rat12__c</field>
            <value>
                <stringValue>Defer</stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__IDF_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rating_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Rating for Publish</label>
        <locationX>1671</locationX>
        <locationY>465</locationY>
        <connector>
            <targetReference>Asset_Rating</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentuser</elementReference>
            </value>
        </filters>
        <filters>
            <field>PRC_Meeting_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRCMeeting</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Base_Invention_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iCurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>final_rat12__c</field>
            <value>
                <stringValue>Publish</stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__IDF_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rating_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Update Rating for Publish1</label>
        <locationX>1029</locationX>
        <locationY>409</locationY>
        <connector>
            <targetReference>Asset_Rating</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentuser</elementReference>
            </value>
        </filters>
        <filters>
            <field>PRC_Meeting_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRCMeeting</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Base_Invention_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iCurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>final_rat12__c</field>
            <value>
                <stringValue>Publish</stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__IDF_Review__c</object>
    </recordUpdates>
    <screens>
        <name>Asset_Rating</name>
        <label>Asset Rating</label>
        <locationX>924</locationX>
        <locationY>263</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>test1_0</targetReference>
        </connector>
        <fields>
            <name>EaseofDetection</name>
            <fieldText>&lt;p&gt;{!getrcd}{!child}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>viewrating</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChangeButton</name>
            <extensionName>c:cmpButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isChange</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isTrue</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>test1</name>
        <label>Rating2</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>is_null</targetReference>
        </connector>
        <fields>
            <name>check1</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>SymphonyIPM__IDF_Review__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Rating_Parameter_1_New__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Proceed_Rating_Parameter_1__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>pickonevalue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>pickdependantvalue</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>pickonevalue</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>pickdependantvalue</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>test1_0</name>
        <label>Asset Rating Test</label>
        <locationX>1106</locationX>
        <locationY>168</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>is_null_0</targetReference>
        </connector>
        <fields>
            <name>check1_0</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>SymphonyIPM__IDF_Review__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Rating_Parameter_1_New__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Proceed_Rating_Parameter_1__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>pickonevalue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>pickdependantvalue</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>pick11value</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>pickdependentvalue</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>NavigateButton</name>
            <extensionName>c:cmpButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isTrue</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isChange</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>vfs</name>
        <label>Rating111</label>
        <locationX>313</locationX>
        <locationY>756</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>test1</targetReference>
        </connector>
        <fields>
            <name>tesy</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Please Select atleast one option with Rating&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>vfs_0</name>
        <label>Rating11</label>
        <locationX>1266</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>test1_0</targetReference>
        </connector>
        <fields>
            <name>tesy_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Please Select atleast one option with Rating.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>15</locationX>
        <locationY>169</locationY>
        <connector>
            <targetReference>PRC_Meeting_Details_Name</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>disptempParam1Name</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!vRatingParam1Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>disptempParam2Name</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: Roboto, Arial, sans-serif; color: rgb(38, 50, 56);&quot;&gt;{!vRatingParam2Name}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>disptempParam3Name</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: Roboto, Arial, sans-serif; color: rgb(38, 50, 56);&quot;&gt;{!vRatingParam3Name}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>disptempParam4Name</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!vRatingParam4Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Asset Rating PRC Name for verification of existing record</description>
        <name>AssetRatingPRCName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>child</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getrcd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iCurrentIDRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loggeduser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>new</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>new1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pick11value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pickdependantvalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pickdependentvalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pickonevalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>PRC Meeting Value</description>
        <name>PRCMeeting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rating1</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Rating2</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Rating3</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Rating4</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRatingParam1Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRatingParam1Wt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRatingParam2Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRatingParam2Wt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRatingParam3Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRatingParam3Wt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRatingParam4Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRatingParam4Wt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
