force-app/main/default/flows/Check_for_Inventor_on_PRB.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Inventor_in_Reviewer_List</name>
        <label>Inventor in Reviewer List?</label>
        <locationX>396</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Inventor_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PRB_Technology_Area.UHG_Reviewer_ID_List__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Inventor_Loop.UHG_Employee_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_IDF_Validation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Check for Inventor on PRB {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check for Inventor on PRB</label>
    <loops>
        <name>Inventor_Loop</name>
        <label>Inventor Loop</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <collectionReference>Get_Inventors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Inventor_in_Reviewer_List</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Inventors</name>
        <label>Get Inventors</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PRB_Technology_Area</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Invention_Disclosure_New__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SymphonyIPM__Additional_Inventor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PRB_Technology_Area</name>
        <label>Get PRB Technology Area</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inventor_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyIPM__Hierarchy__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyIPM__Hierarchy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_IDF_Validation</name>
        <label>Update IDF Validation</label>
        <locationX>264</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>UHG_IDF_Validation__c</field>
            <value>
                <stringValue>Inventor on PRB</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Inventors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UHG_PRB_Technology_Area_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>PRB</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
