force-app/main/default/flows/Correct_Design_Patent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>parent_type_and_Jurisdiction</name>
        <label>parent type and Jurisdiction</label>
        <locationX>166</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Patent_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iISWO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iParentAssetType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WIPO_PCT</targetReference>
            </connector>
            <label>Patent, WO</label>
        </rules>
        <rules>
            <name>Design_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iParentAssetType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iISWO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WIPO_Hague</targetReference>
            </connector>
            <label>Design, WO</label>
        </rules>
        <rules>
            <name>Patent_Not_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iISWO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iParentAssetType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patent</stringValue>
                </rightValue>
            </conditions>
            <label>Patent, Not WO</label>
        </rules>
        <rules>
            <name>Design_Not_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iParentAssetType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>iISWO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Patent_Record_0</targetReference>
            </connector>
            <label>Design, Not WO</label>
        </rules>
    </decisions>
    <description>Workflow to correct design patent attributes from related case creation - [Ashwin 2020-06-30]</description>
    <interviewLabel>Correct Design Patent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Correct Design Patent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_WIPO_Hague</name>
        <label>Get WIPO (Hague)</label>
        <locationX>417</locationX>
        <locationY>165</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Patent_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>World Intellectual Property Organization (WIPO)/Hague</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Country__c</object>
        <outputAssignments>
            <assignToReference>vHagueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_WIPO_PCT</name>
        <label>Get WIPO (PCT)</label>
        <locationX>244</locationX>
        <locationY>517</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Patent_Record_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>World Intellectual Property Organization (WIPO)/PCT</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Country__c</object>
        <outputAssignments>
            <assignToReference>vPCTId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Patent_Record</name>
        <label>Update Patent Record</label>
        <locationX>560</locationX>
        <locationY>157</locationY>
        <connector>
            <targetReference>Regenerate_Docket_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iPatentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SymphonyIPM__Asset_Type__c</field>
            <value>
                <stringValue>Design</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Country__c</field>
            <value>
                <elementReference>vHagueId</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Patent__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patent_Record_0</name>
        <label>Update Patent Record</label>
        <locationX>407</locationX>
        <locationY>336</locationY>
        <connector>
            <targetReference>Regenerate_Docket_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iPatentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SymphonyIPM__Asset_Type__c</field>
            <value>
                <stringValue>Design</stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Patent__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patent_Record_0_0</name>
        <label>Update Patent Record</label>
        <locationX>401</locationX>
        <locationY>514</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iPatentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SymphonyIPM__Country__c</field>
            <value>
                <elementReference>vPCTId</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Patent__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>parent_type_and_Jurisdiction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Regenerate_Docket_Number</name>
        <label>Regenerate Docket Number</label>
        <locationX>705</locationX>
        <locationY>313</locationY>
        <flowName>SymphonyIPM__Docket_Number_Generator</flowName>
        <inputAssignments>
            <name>iPatentID</name>
            <value>
                <elementReference>iPatentId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>iISWO</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iParentAssetType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iPatentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vHagueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPCTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
