force-app/main/default/flows/Docket_Number_Generator_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Asset_Type_Design</name>
        <label>Add Asset Type Design</label>
        <locationX>1783</locationX>
        <locationY>1105</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddAssetTypeDesign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_constant_D</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Asset_Type_Disclosure</name>
        <label>Add Asset Type Disclosure</label>
        <locationX>65</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddAssetTypeDisclosure</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Asset_Type_Patent</name>
        <label>Add Asset Type Patent</label>
        <locationX>2001</locationX>
        <locationY>1161</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddAssetTypePatent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_constant_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Asset_Type_Trademark</name>
        <label>Add Asset Type Trademark</label>
        <locationX>3586</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddAssetTypeTrademark</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_T</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Asset_Type_UM</name>
        <label>Add Asset Type UM</label>
        <locationX>1904</locationX>
        <locationY>1162</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddAssetTypeUM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_constant_U</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_ARIPO_National_Designation</name>
        <label>Add Case Type State Filing</label>
        <locationX>4258</locationX>
        <locationY>981</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypeARIPONationalDesignation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_T</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_Associated_Trademark</name>
        <label>Add Case Type Associated Trademark</label>
        <locationX>4046</locationX>
        <locationY>843</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypeAssociatedTrademark</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_T</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_Cautionary_Notice</name>
        <label>Add Case Type Cautionary Notice</label>
        <locationX>3866</locationX>
        <locationY>846</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypeCautionaryNotice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_T</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_CIP</name>
        <label>Add Case Type CIP</label>
        <locationX>2771</locationX>
        <locationY>2031</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypeCIP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Separator_not_null_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_Continuation</name>
        <label>Add Case Type Continuation</label>
        <locationX>2576</locationX>
        <locationY>2502</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypeContinuation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Separator_not_null_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_Conversion_to_National_Filing</name>
        <label>Add Case Type Conversion to National Filing</label>
        <locationX>3257</locationX>
        <locationY>1047</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypeConversiontoNationalFiling</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_T</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_Divisional</name>
        <label>Add Case Type Divisional</label>
        <locationX>2420</locationX>
        <locationY>2495</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypeDivisional</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Separator_not_null_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_Divisional_T</name>
        <label>Add Case Type Divisional T</label>
        <locationX>4109</locationX>
        <locationY>976</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypeDivisional</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_T</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_EP_Validation</name>
        <label>Add Case Type EP Validation</label>
        <locationX>3011</locationX>
        <locationY>2045</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypeEPValidation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Separator_not_null_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_Madrid_Designation</name>
        <label>Add Case Type Madrid Designation</label>
        <locationX>3521</locationX>
        <locationY>847</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypeMadridDesignation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_T</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_Madrid_Subsequent_Designation</name>
        <label>Add Case Type Madrid Subsequent Designation</label>
        <locationX>3692</locationX>
        <locationY>845</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypeMadridSubsequentDesignation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_T</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_Null</name>
        <label>Add Case Type Null</label>
        <locationX>3389</locationX>
        <locationY>2025</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypeNull</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Separator_not_null_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_Null_Trademark</name>
        <label>Add Case Type Null Trademark</label>
        <locationX>3857</locationX>
        <locationY>700</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypeNull</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_T</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_Other</name>
        <label>Add Case Type Other</label>
        <locationX>3516</locationX>
        <locationY>2025</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypeOthers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Separator_not_null_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_PCT_National</name>
        <label>Add Case Type PCT National</label>
        <locationX>2894</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypePCTNational</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Separator_not_null_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_Primary</name>
        <label>Add Case Type Primary</label>
        <locationX>2193</locationX>
        <locationY>2481</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypePrimary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Separator_not_null_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_Primary_Trademark</name>
        <label>Add Case Type Primary Trademark</label>
        <locationX>3177</locationX>
        <locationY>844</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypePrimary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_T</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_Provisional</name>
        <label>Add Case Type Provisional</label>
        <locationX>1803</locationX>
        <locationY>2425</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypeProvisional</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Separator_not_null_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_Re_examination</name>
        <label>Add Case Type Re-examination</label>
        <locationX>3263</locationX>
        <locationY>2026</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypeReExam</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Separator_not_null_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_Re_Issue</name>
        <label>Add Case Type Re-Issue</label>
        <locationX>3139</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypeReIssue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Separator_not_null_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_Re_Registration</name>
        <label>Add Case Type Re-Registration</label>
        <locationX>3658</locationX>
        <locationY>973</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypeReRegistration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_T</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_Reputation_Mark</name>
        <label>Add Case Type Reputation Mark</label>
        <locationX>3804</locationX>
        <locationY>976</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypeReputationMark</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_T</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_Secondary</name>
        <label>Add Case Type Secondary</label>
        <locationX>2311</locationX>
        <locationY>2488</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypeSecondary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Separator_not_null_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_Secondary_Filing</name>
        <label>Add Case Type Secondary Filing</label>
        <locationX>3340</locationX>
        <locationY>845</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypeSecondary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_T</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_Slogan</name>
        <label>Add Case Type Slogan</label>
        <locationX>3498</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypeSlogan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_T</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_Tradename</name>
        <label>Add Case Type Tradename</label>
        <locationX>3952</locationX>
        <locationY>976</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypeTradename</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_T</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_Utility_Non_Provisional</name>
        <label>Add Case Type Utility Non-Provisional</label>
        <locationX>2037</locationX>
        <locationY>2634</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypeUtilityNonProvisional</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Type_Utility_Original</name>
        <label>Add Case Type Utility Original</label>
        <locationX>1949</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCaseTypeUtilityOriginal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Separator_not_null_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Company_Code</name>
        <label>Add Company Code</label>
        <locationX>63</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCompanyCode</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Company_Code_0</name>
        <label>Add Company Code</label>
        <locationX>2273</locationX>
        <locationY>1268</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCompanyCode</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Company_Code_T</name>
        <label>Add Company Code T</label>
        <locationX>3586</locationX>
        <locationY>175</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddCompanyCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_T</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_constant</name>
        <label>Add constant</label>
        <locationX>535</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IDF-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Config_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_constant_0</name>
        <label>Add constant</label>
        <locationX>2128</locationX>
        <locationY>1162</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>P-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Config_Items_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_constant_D</name>
        <label>add constant D</label>
        <locationX>1736</locationX>
        <locationY>1233</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>D-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Config_Items_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_constant_U</name>
        <label>add constant U</label>
        <locationX>1834</locationX>
        <locationY>1288</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>U-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Config_Items_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Family_ID</name>
        <label>Add Family ID</label>
        <locationX>983</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddFamilyID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Family_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Family_ID_0</name>
        <label>Add Family ID</label>
        <locationX>2370</locationX>
        <locationY>1978</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddFamilyID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Family_ID_Used</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Family_ID_T</name>
        <label>Add Family ID T</label>
        <locationX>3586</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddFamilyID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Family_ID_T</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Imported_Family_ID</name>
        <label>Add Imported Family ID</label>
        <locationX>1844</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddImportedFamilyID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Invention_Country</name>
        <label>Add Invention Country</label>
        <locationX>59</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddInventionCountry</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Invention_CountryT</name>
        <label>Add Invention CountryT</label>
        <locationX>3583</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddTrademarkCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_T</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Law_Firm_Code</name>
        <label>Add Law Firm Code</label>
        <locationX>2468</locationX>
        <locationY>2317</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddLawFirmCode</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Patent_Country</name>
        <label>Add Patent Country</label>
        <locationX>2258</locationX>
        <locationY>1414</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddPatentCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Root_Docket_Number_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Patent_Path</name>
        <label>Add Patent Path</label>
        <locationX>3382</locationX>
        <locationY>1447</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddPatentPath</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Separator</name>
        <label>Add Separator</label>
        <locationX>2158</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Patent_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Separator_0_0</name>
        <label>Add Separator</label>
        <locationX>1239</locationX>
        <locationY>2069</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddSeparator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Separator_not_null_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Separator_T</name>
        <label>Add Separator T</label>
        <locationX>3174</locationX>
        <locationY>700</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddSeparator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Separator_not_null_T</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Suffix_to_Docket_Number</name>
        <label>Add Suffix to Docket Number</label>
        <locationX>846</locationX>
        <locationY>1913</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddSuffix</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_Patent_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Suffix_to_Docket_Number_0</name>
        <label>Add Suffix to Docket Number</label>
        <locationX>2749</locationX>
        <locationY>1601</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddSuffix</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_Patent_Record_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_available_Symphony_DN_family_id</name>
        <label>Assign available Symphony DN family id</label>
        <locationX>1483</locationX>
        <locationY>680</locationY>
        <assignmentItems>
            <assignToReference>vFamilyID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPatentRecord.SymphonyIPM__Docket_Number_Family_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_Asset_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Base_Disclosure_Family_ID</name>
        <label>Assign Base Disclosure Family ID</label>
        <locationX>2066</locationX>
        <locationY>944</locationY>
        <assignmentItems>
            <assignToReference>vFamilyID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vBaseDisclosureFamilyID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_Asset_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_constant</name>
        <label>Assign constant</label>
        <locationX>2049</locationX>
        <locationY>1413</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>00</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_constant_for_legacy_records</name>
        <label>Assign constant for legacy records</label>
        <locationX>73</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DP-</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Constant_for_Legacy_Records_1</name>
        <label>Assign Constant for Legacy Records</label>
        <locationX>1402</locationX>
        <locationY>967</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LegacyDocketNumberPrefix</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Docket_Number</name>
        <label>Assign Docket Number</label>
        <locationX>689</locationX>
        <locationY>2267</locationY>
        <assignmentItems>
            <assignToReference>sPatentRecord.SymphonyIPM__Docket_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDocketNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patent_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Docket_Number_0</name>
        <label>Assign Docket Number</label>
        <locationX>3007</locationX>
        <locationY>1873</locationY>
        <assignmentItems>
            <assignToReference>sPatentRecord.SymphonyIPM__Docket_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDocketNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Docket_Number_to_Disclosure</name>
        <label>Assign Docket Number to Disclosure</label>
        <locationX>240</locationX>
        <locationY>565</locationY>
        <assignmentItems>
            <assignToReference>sInventionDisclosure.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDocketNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sInventionDisclosure.SymphonyIPM__Docket_Number_Family_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vFamilyID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Disclosure_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Docket_Number_to_Trademark</name>
        <label>Assign Docket Number to Trademark</label>
        <locationX>2876</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>sTrademark.SymphonyIPM__Docket_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDocketNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sTrademark.SymphonyIPM__Docket_Number_Family_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vFamilyID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Trademark_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_higher_suffix_to_variable</name>
        <label>Assign higher suffix to variable</label>
        <locationX>988</locationX>
        <locationY>1522</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumberSuffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sCurrentRelatedPatentRecord.SymphonyIPM__Docket_Number_Suffix__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_related_patent_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_higher_suffix_to_variable_0</name>
        <label>Assign higher suffix to variable</label>
        <locationX>2967</locationX>
        <locationY>1317</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumberSuffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sCurrentRelatedPatentRecord.SymphonyIPM__Docket_Number_Suffix__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_related_patent_records_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_last_used_separator</name>
        <label>Assign last used separator</label>
        <locationX>582</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>vLastUsedSeparator</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sCurrentConfigItem.SymphonyIPM__Separator__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Config_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_last_used_separator_0</name>
        <label>Assign last used separator</label>
        <locationX>1469</locationX>
        <locationY>1696</locationY>
        <assignmentItems>
            <assignToReference>vLastUsedSeparator</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sCurrentConfigItem.SymphonyIPM__Separator__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Config_Items_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_last_used_separatorT</name>
        <label>Assign last used separatorT</label>
        <locationX>3000</locationX>
        <locationY>303</locationY>
        <assignmentItems>
            <assignToReference>vLastUsedSeparator</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sCurrentConfigItem.SymphonyIPM__Separator__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Config_ItemsT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_parent_patent_family_ID</name>
        <label>Assign parent patent family ID</label>
        <locationX>1820</locationX>
        <locationY>879</locationY>
        <assignmentItems>
            <assignToReference>vFamilyID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vParentPatentFamilyID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_parent_patent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_suffix_1</name>
        <label>Assign suffix 1</label>
        <locationX>581</locationX>
        <locationY>1368</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumberSuffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Suffix_to_Docket_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_suffix_1_0</name>
        <label>Assign suffix 1</label>
        <locationX>581</locationX>
        <locationY>1868</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumberSuffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Suffix_to_Docket_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_suffix_1_0_0</name>
        <label>Assign suffix 1</label>
        <locationX>2642</locationX>
        <locationY>1155</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumberSuffix</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Suffix_to_Docket_Number_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_suffix_1_0_0_0</name>
        <label>Assign suffix 1</label>
        <locationX>2579</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumberSuffix</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Suffix_to_Docket_Number_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Symphony_Docket_Number_Family_ID</name>
        <label>Assign Symphony Docket Number Family ID</label>
        <locationX>1021</locationX>
        <locationY>2013</locationY>
        <assignmentItems>
            <assignToReference>sPatentRecord.SymphonyIPM__Docket_Number_Family_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vFamilyID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Docket_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Symphony_Docket_Number_Family_ID_0</name>
        <label>Assign Symphony Docket Number Family ID</label>
        <locationX>3088</locationX>
        <locationY>1671</locationY>
        <assignmentItems>
            <assignToReference>sPatentRecord.SymphonyIPM__Docket_Number_Family_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vFamilyID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Docket_Number_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Patent_Record</name>
        <label>Assign Values to Patent Record</label>
        <locationX>667</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>sPatentRecord.SymphonyIPM__Docket_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDocketNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sPatentRecord.SymphonyIPM__Docket_Number_Suffix__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDocketNumberSuffix</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sPatentRecord.SymphonyIPM__Root_Patent_Docket_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vRootDocketNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_imported_family_ID_used</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Patent_Record_0</name>
        <label>Assign Values to Patent Record</label>
        <locationX>2665</locationX>
        <locationY>1707</locationY>
        <assignmentItems>
            <assignToReference>sPatentRecord.SymphonyIPM__Docket_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDocketNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sPatentRecord.SymphonyIPM__Docket_Number_Suffix__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDocketNumberSuffix</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sPatentRecord.SymphonyIPM__Root_Patent_Docket_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vRootDocketNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_imported_family_ID_used_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Docket_no_Validation_assignment</name>
        <label>Docket no Validation assignment</label>
        <locationX>273</locationX>
        <locationY>753</locationY>
        <assignmentItems>
            <assignToReference>sInventionDisclosure.Docket_Number_Validation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateidf</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Family_ID</name>
        <label>Increment Family ID</label>
        <locationX>985</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>vIncrementedFamilyID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fIncrementFamilyID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Separator_not_null_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Family_ID_0</name>
        <label>Increment Family ID</label>
        <locationX>2371</locationX>
        <locationY>1615</locationY>
        <assignmentItems>
            <assignToReference>vFamilyID</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Family_ID_T</name>
        <label>Increment Family ID T</label>
        <locationX>3723</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>vIncrementedFamilyID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fIncrementFamilyID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Separator_T</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Suffix_by_1</name>
        <label>Increment Suffix by 1</label>
        <locationX>924</locationX>
        <locationY>1738</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumberSuffix</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Suffix_to_Docket_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Suffix_by_1_0</name>
        <label>Increment Suffix by 1</label>
        <locationX>2954</locationX>
        <locationY>1489</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumberSuffix</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Suffix_to_Docket_Number_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Trailing_Separator</name>
        <label>Remove Trailing Separator</label>
        <locationX>65</locationX>
        <locationY>255</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDocketNumberExcludingLastCharacter</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Remove_Trailing_SeparatorT</name>
        <label>Remove Trailing SeparatorT</label>
        <locationX>2734</locationX>
        <locationY>176</locationY>
        <assignmentItems>
            <assignToReference>vDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDocketNumberExcludingLastCharacter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Docket_Number_to_Trademark</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_flag_for_imported_family_ID</name>
        <label>Set flag for imported family ID</label>
        <locationX>2342</locationX>
        <locationY>1048</locationY>
        <assignmentItems>
            <assignToReference>vUseImportedFamilyID</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_Asset_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_flag_for_new_family_ID_being_used</name>
        <label>Set flag for new family ID being used</label>
        <locationX>2454</locationX>
        <locationY>847</locationY>
        <assignmentItems>
            <assignToReference>vNewFamilyIDUsed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Store_Root_Docket_Number</name>
        <label>Store Root Docket Number</label>
        <locationX>1077</locationX>
        <locationY>1066</locationY>
        <assignmentItems>
            <assignToReference>vRootDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDocketNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Patent_Records_with_same_Root_Docket_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Root_Docket_Number_0</name>
        <label>Store Root Docket Number</label>
        <locationX>2494</locationX>
        <locationY>1405</locationY>
        <assignmentItems>
            <assignToReference>vRootDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vDocketNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Patent_Records_with_same_Root_Docket_Number_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Use_country_code_defined_or_null</name>
        <label>Use country code defined or null</label>
        <locationX>2362</locationX>
        <locationY>402</locationY>
        <assignmentItems>
            <assignToReference>vCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sPatentRecord.SymphonyIPM__Country_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_family_ID_available_in_patent_record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DocketnumberConstant</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Check_If_Legacy_ID_not_null</name>
        <label>Check If Legacy ID Not Null</label>
        <locationX>1384</locationX>
        <locationY>965</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LegacyID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Legacy_ID_not_null_0</name>
        <label>Check If Legacy ID Not Null</label>
        <locationX>1375</locationX>
        <locationY>977</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LegacyID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Root_Patent_Record_Is_Present</name>
        <label>Check If Root Patent Record Is Present</label>
        <locationX>59</locationX>
        <locationY>260</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPatentRecord.SymphonyIPM__Root_Patent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Config_is_Asset_Type</name>
        <label>Current Config is Asset Type</label>
        <locationX>58</locationX>
        <locationY>268</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_AssetType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentConfigItem.SymphonyIPM__Tag_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asset Type</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Asset_Type_Disclosure</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Config_is_Asset_Type_0</name>
        <label>Current Config is Asset Type</label>
        <locationX>1961</locationX>
        <locationY>1268</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_AssetType_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentConfigItem.SymphonyIPM__Tag_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asset Type</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_is_the_Asset_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Config_is_Asset_Type_T</name>
        <label>Current Config is Asset Type T</label>
        <locationX>3390</locationX>
        <locationY>291</locationY>
        <defaultConnector>
            <targetReference>Current_Config_is_Family_ID_T</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_AssetType_T</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentConfigItem.SymphonyIPM__Tag_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asset Type</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Asset_Type_Trademark</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Config_is_Case_Type</name>
        <label>Current Config is Case Type?</label>
        <locationX>1742</locationX>
        <locationY>2091</locationY>
        <defaultConnector>
            <targetReference>Separator_not_null_1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Case_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentConfigItem.SymphonyIPM__Tag_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case Type</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>On_Patent_Case_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Config_is_Case_Type_Trademark</name>
        <label>Current Config is Case Type Trademark?</label>
        <locationX>3390</locationX>
        <locationY>612</locationY>
        <defaultConnector>
            <targetReference>Add_Separator_T</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_For_Trademark</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentConfigItem.SymphonyIPM__Tag_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case Type</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>On_Trademark_Case_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Config_is_Company</name>
        <label>Current Config is Company?</label>
        <locationX>56</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>Current_Config_is_Asset_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Company</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentConfigItem.SymphonyIPM__Tag_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Company</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Company_Code</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Config_is_Company_0</name>
        <label>Current Config is Company?</label>
        <locationX>2115</locationX>
        <locationY>1296</locationY>
        <defaultConnector>
            <targetReference>Current_Config_is_Asset_Type_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Company_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentConfigItem.SymphonyIPM__Tag_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Company</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Company_Code_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Config_is_Company_T</name>
        <label>Current Config is Company T?</label>
        <locationX>3390</locationX>
        <locationY>175</locationY>
        <defaultConnector>
            <targetReference>Current_Config_is_Asset_Type_T</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CompanyT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentConfigItem.SymphonyIPM__Tag_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Company</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Company_Code_T</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Config_is_Family_ID</name>
        <label>Current Config is Family ID?</label>
        <locationX>720</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>Separator_not_null_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FamilyID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentConfigItem.SymphonyIPM__Tag_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Family ID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Family_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Config_is_Family_ID_0</name>
        <label>Current Config is Family ID?</label>
        <locationX>1584</locationX>
        <locationY>1603</locationY>
        <defaultConnector>
            <targetReference>Current_Config_is_Case_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FamilyID_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentConfigItem.SymphonyIPM__Tag_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Family ID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Using_Imported_Family_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Config_is_Family_ID_T</name>
        <label>Current Config is Family ID T?</label>
        <locationX>3390</locationX>
        <locationY>399</locationY>
        <defaultConnector>
            <targetReference>Current_Config_is_Jurisdiction_T</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FamilyID_T</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentConfigItem.SymphonyIPM__Tag_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Family ID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Family_ID_T</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Config_is_Jurisdiction</name>
        <label>Current Config is Jurisdiction</label>
        <locationX>57</locationX>
        <locationY>273</locationY>
        <defaultConnector>
            <targetReference>Current_Config_is_Path</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Jurisdiction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentConfigItem.SymphonyIPM__Tag_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jurisdiction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Invention_Country</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Config_is_Jurisdiction_0</name>
        <label>Current Config is Jurisdiction</label>
        <locationX>1882</locationX>
        <locationY>1412</locationY>
        <defaultConnector>
            <targetReference>Current_Config_is_Family_ID_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Jurisdiction_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentConfigItem.SymphonyIPM__Tag_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jurisdiction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_constant</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Config_is_Jurisdiction_T</name>
        <label>Current Config is Jurisdiction T</label>
        <locationX>3389</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Current_Config_is_Case_Type_Trademark</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Jurisdiction_T</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentConfigItem.SymphonyIPM__Tag_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jurisdiction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Invention_CountryT</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Config_is_Law_Firm</name>
        <label>Current Config is Law Firm?</label>
        <locationX>1790</locationX>
        <locationY>2290</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Law_Firm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentConfigItem.SymphonyIPM__Tag_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Law Firm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Law_Firm_for_Outside_Counsel</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Config_is_Path</name>
        <label>Current Config is Path</label>
        <locationX>50</locationX>
        <locationY>271</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentConfigItem.SymphonyIPM__Tag_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Path</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Config_is_Path_0</name>
        <label>Current Config is Path</label>
        <locationX>3398</locationX>
        <locationY>1454</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Path_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentConfigItem.SymphonyIPM__Tag_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Path</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Disclosure_or_Patent_or_Trademark</name>
        <label>Disclosure or Patent or Trademark?</label>
        <locationX>1046</locationX>
        <locationY>204</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Disclosure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iInventionDisclosureID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Disclosure_Record</targetReference>
            </connector>
            <label>Disclosure</label>
        </rules>
        <rules>
            <name>Patent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iPatentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Patent_Record</targetReference>
            </connector>
            <label>Patent</label>
        </rules>
        <rules>
            <name>Trademark</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iTrademarkID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Trademark_Record</targetReference>
            </connector>
            <label>Trademark</label>
        </rules>
    </decisions>
    <decisions>
        <name>Docket_Number_ends_in_a_separator</name>
        <label>Docket Number ends in a separator?</label>
        <locationX>50</locationX>
        <locationY>262</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Ends_in_Separator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fLastCharacterOfDocketNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vLastUsedSeparator</elementReference>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Docket_Number_ends_in_a_separatorT</name>
        <label>Docket Number ends in a separatorT?</label>
        <locationX>2902</locationX>
        <locationY>176</locationY>
        <defaultConnector>
            <targetReference>Assign_Docket_Number_to_Trademark</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Ends_in_SeparatorT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fLastCharacterOfDocketNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vLastUsedSeparator</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Trailing_SeparatorT</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_base_disclosure_family_id_defined</name>
        <label>Is base disclosure family id defined?</label>
        <locationX>1937</locationX>
        <locationY>892</locationY>
        <defaultConnector>
            <targetReference>Use_Imported_Family_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_base_disclosure_familyID_defined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vBaseDisclosureFamilyID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Base_Disclosure_Family_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_country_code_missing_and_country_available</name>
        <label>Is country code missing and country available?</label>
        <locationX>2229</locationX>
        <locationY>196</locationY>
        <defaultConnector>
            <targetReference>Use_country_code_defined_or_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CC_Missng</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPatentRecord.SymphonyIPM__Country_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sPatentRecord.SymphonyIPM__Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Country_Code_from_Country</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Docket_Number_Suffix_of_record_higher_than_current_suffix</name>
        <label>Is Docket Number Suffix of record higher than current suffix?</label>
        <locationX>840</locationX>
        <locationY>1594</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_related_patent_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Higher</defaultConnectorLabel>
        <rules>
            <name>Is_higher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentRelatedPatentRecord.SymphonyIPM__Docket_Number_Suffix__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>vDocketNumberSuffix</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_higher_suffix_to_variable</targetReference>
            </connector>
            <label>Is higher</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Docket_Number_Suffix_of_record_higher_than_current_suffix_0</name>
        <label>Is Docket Number Suffix of record higher than current suffix?</label>
        <locationX>2805</locationX>
        <locationY>1395</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_related_patent_records_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Higher</defaultConnectorLabel>
        <rules>
            <name>Is_higher_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentRelatedPatentRecord.SymphonyIPM__Docket_Number_Suffix__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>vDocketNumberSuffix</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_higher_suffix_to_variable_0</targetReference>
            </connector>
            <label>Is higher</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_family_ID_available_in_patent_record</name>
        <label>Is Symphony family ID available in patent record?</label>
        <locationX>1826</locationX>
        <locationY>413</locationY>
        <defaultConnector>
            <targetReference>Is_there_a_parent_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Family_ID_Patent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPatentRecord.SymphonyIPM__Docket_Number_Family_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_available_Symphony_DN_family_id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Law_Firm_Code_Defined</name>
        <label>Is Law Firm Code Defined?</label>
        <locationX>2327</locationX>
        <locationY>2307</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Law_Firm_Code_defined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOCLawFirmCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Law_Firm_Code</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Law_Firm_defined</name>
        <label>Is Law Firm defined?</label>
        <locationX>2072</locationX>
        <locationY>2292</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Law_Firm_Defined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOCLawFirm</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Law_Firm_Code</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_parent_patent_family_ID_null</name>
        <label>Is parent patent family ID null?</label>
        <locationX>1735</locationX>
        <locationY>726</locationY>
        <defaultConnector>
            <targetReference>Assign_parent_patent_family_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Parent_FamilyID_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vParentPatentFamilyID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_a_base_invention_disclosure</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Path_Defined_and_Code_available</name>
        <label>Is Path Defined and Code available?</label>
        <locationX>3387</locationX>
        <locationY>1453</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Path_Defined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPatentRecord.SymphonyIPM__Hierarchy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fPatentPathCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_suffix_still_0</name>
        <label>Is suffix still 0?</label>
        <locationX>680</locationX>
        <locationY>1758</locationY>
        <defaultConnector>
            <targetReference>Increment_Suffix_by_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Suffix_is_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDocketNumberSuffix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_suffix_1_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_suffix_still_0_0</name>
        <label>Is suffix still 0?</label>
        <locationX>2612</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Increment_Suffix_by_1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Suffix_is_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDocketNumberSuffix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_suffix_1_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_base_invention_disclosure</name>
        <label>Is there a base invention disclosure?</label>
        <locationX>2263</locationX>
        <locationY>589</locationY>
        <defaultConnector>
            <targetReference>Use_Imported_Family_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_base_disclosure_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPatentRecord.SymphonyIPM__Base_Invention_Disclosure_New__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_base_disclosure_family_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_parent_record</name>
        <label>Is there a parent record?</label>
        <locationX>2040</locationX>
        <locationY>514</locationY>
        <defaultConnector>
            <targetReference>Is_there_a_base_invention_disclosure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_there_is_a_parent_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPatentRecord.SymphonyIPM__Root_Patent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_parent_record_family_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Family_ID_Used</name>
        <label>New Family ID Used?</label>
        <locationX>2530</locationX>
        <locationY>1852</locationY>
        <defaultConnector>
            <targetReference>Add_Separator_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_New_FamilyID_Used</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNewFamilyIDUsed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Family_ID_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>On_Patent_Case_Type</name>
        <label>On Patent Case Type</label>
        <locationX>2431</locationX>
        <locationY>2196</locationY>
        <defaultConnector>
            <targetReference>Add_Case_Type_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Patent_Case_Type_Provisional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPatentRecord.SymphonyIPM__Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provisional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_Provisional</targetReference>
            </connector>
            <label>Provisional</label>
        </rules>
        <rules>
            <name>Patent_Case_Type_Utility_Original</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPatentRecord.SymphonyIPM__Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Utility Original</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_Utility_Original</targetReference>
            </connector>
            <label>Utility Original</label>
        </rules>
        <rules>
            <name>Patent_Case_Type_Utility_Non_Provisional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPatentRecord.SymphonyIPM__Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Utility Non-Provisional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_Utility_Non_Provisional</targetReference>
            </connector>
            <label>Utility Non-Provisional</label>
        </rules>
        <rules>
            <name>Patent_Case_Type_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPatentRecord.SymphonyIPM__Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_Primary</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
        <rules>
            <name>Patent_Case_Type_Secondary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPatentRecord.SymphonyIPM__Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secondary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_Secondary</targetReference>
            </connector>
            <label>Secondary</label>
        </rules>
        <rules>
            <name>Patent_Case_Type_Divisional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPatentRecord.SymphonyIPM__Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Divisional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_Divisional</targetReference>
            </connector>
            <label>Divisional</label>
        </rules>
        <rules>
            <name>Patent_Case_Type_Continuation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPatentRecord.SymphonyIPM__Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Continuation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_Continuation</targetReference>
            </connector>
            <label>Continuation</label>
        </rules>
        <rules>
            <name>Patent_Case_Type_CIP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPatentRecord.SymphonyIPM__Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Continuation-in-Part</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_CIP</targetReference>
            </connector>
            <label>CIP</label>
        </rules>
        <rules>
            <name>Patent_Case_Type_PCT_National</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPatentRecord.SymphonyIPM__Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PCT National</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_PCT_National</targetReference>
            </connector>
            <label>PCT National</label>
        </rules>
        <rules>
            <name>Patent_Case_Type_EP_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPatentRecord.SymphonyIPM__Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EP Validation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_EP_Validation</targetReference>
            </connector>
            <label>EP Validation</label>
        </rules>
        <rules>
            <name>Patent_Case_Type_Re_Issue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPatentRecord.SymphonyIPM__Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-Issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_Re_Issue</targetReference>
            </connector>
            <label>Re-Issue</label>
        </rules>
        <rules>
            <name>Patent_Case_Type_Re_examination</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPatentRecord.SymphonyIPM__Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-examination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_Re_examination</targetReference>
            </connector>
            <label>Re-examination</label>
        </rules>
        <rules>
            <name>Patent_Case_Type_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPatentRecord.SymphonyIPM__Case_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_Null</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>On_Trademark_Case_Type</name>
        <label>On Trademark Case Type</label>
        <locationX>3576</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Add_Case_Type_Null_Trademark</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Trademark_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sTrademark.SymphonyIPM__Case_Type_v1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_Primary_Trademark</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
        <rules>
            <name>Secondary_Filing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sTrademark.SymphonyIPM__Case_Type_v1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secondary Filing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_Secondary_Filing</targetReference>
            </connector>
            <label>Secondary Filing</label>
        </rules>
        <rules>
            <name>Madrid_Designation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sTrademark.SymphonyIPM__Case_Type_v1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Madrid Designation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_Madrid_Designation</targetReference>
            </connector>
            <label>Madrid Designation</label>
        </rules>
        <rules>
            <name>Madrid_Subsequent_Designation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sTrademark.SymphonyIPM__Case_Type_v1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Madrid Subsequent Designation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_Madrid_Subsequent_Designation</targetReference>
            </connector>
            <label>Madrid Subsequent Designation</label>
        </rules>
        <rules>
            <name>Cautionary_Notice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sTrademark.SymphonyIPM__Case_Type_v1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cautionary Notice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_Cautionary_Notice</targetReference>
            </connector>
            <label>Cautionary Notice</label>
        </rules>
        <rules>
            <name>Associated_Trademark</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sTrademark.SymphonyIPM__Case_Type_v1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Associated Trademark</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_Associated_Trademark</targetReference>
            </connector>
            <label>Associated Trademark</label>
        </rules>
        <rules>
            <name>Conversion_to_Primary_Filing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sTrademark.SymphonyIPM__Case_Type_v1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conversion to Primary Filing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_Conversion_to_National_Filing</targetReference>
            </connector>
            <label>Conversion to Primary Filing</label>
        </rules>
        <rules>
            <name>Slogan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sTrademark.SymphonyIPM__Case_Type_v1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slogan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_Slogan</targetReference>
            </connector>
            <label>Slogan</label>
        </rules>
        <rules>
            <name>Re_Registration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sTrademark.SymphonyIPM__Case_Type_v1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-Registration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_Re_Registration</targetReference>
            </connector>
            <label>Re-Registration</label>
        </rules>
        <rules>
            <name>Reputation_Mark</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sTrademark.SymphonyIPM__Case_Type_v1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reputation Mark</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_Reputation_Mark</targetReference>
            </connector>
            <label>Reputation Mark</label>
        </rules>
        <rules>
            <name>Tradename</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sTrademark.SymphonyIPM__Case_Type_v1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tradename</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_Tradename</targetReference>
            </connector>
            <label>Tradename</label>
        </rules>
        <rules>
            <name>State_Filing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sTrademark.SymphonyIPM__Case_Type_v1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State Filing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_ARIPO_National_Designation</targetReference>
            </connector>
            <label>State Filing</label>
        </rules>
        <rules>
            <name>Divisional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sTrademark.SymphonyIPM__Case_Type_v1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Divisional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Case_Type_Divisional_T</targetReference>
            </connector>
            <label>Divisional</label>
        </rules>
    </decisions>
    <decisions>
        <name>Patent_has_imported_family_ID</name>
        <label>Patent has imported family ID?</label>
        <locationX>2361</locationX>
        <locationY>910</locationY>
        <defaultConnector>
            <targetReference>What_is_the_Asset_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_has_imported_familyID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPatentRecord.SymphonyIPM__Family_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_flag_for_imported_family_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_records_found</name>
        <label>Related records found?</label>
        <locationX>926</locationX>
        <locationY>1364</locationY>
        <defaultConnector>
            <targetReference>Assign_suffix_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records Found</defaultConnectorLabel>
        <rules>
            <name>Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scRelatedPatentRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_related_patent_records</targetReference>
            </connector>
            <label>Records Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_records_found_0</name>
        <label>Related records found?</label>
        <locationX>2841</locationX>
        <locationY>1179</locationY>
        <defaultConnector>
            <targetReference>Assign_suffix_1_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records Found</defaultConnectorLabel>
        <rules>
            <name>Records_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scRelatedPatentRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_related_patent_records_0</targetReference>
            </connector>
            <label>Records Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Separator_not_null_1</name>
        <label>Separator not null?</label>
        <locationX>713</locationX>
        <locationY>742</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Config_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Separator_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentConfigItem.SymphonyIPM__Separator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_last_used_separator</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Separator_not_null_1_0</name>
        <label>Separator not null?</label>
        <locationX>1295</locationX>
        <locationY>1508</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Config_Items_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Separator_Not_Null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentConfigItem.SymphonyIPM__Separator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_last_used_separator_0</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Separator_not_null_T</name>
        <label>Separator not null?</label>
        <locationX>3174</locationX>
        <locationY>435</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Config_ItemsT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Separator_Not_Null_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCurrentConfigItem.SymphonyIPM__Separator__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_last_used_separatorT</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Use_Imported_Family_ID</name>
        <label>Use Imported Family ID?</label>
        <locationX>2251</locationX>
        <locationY>789</locationY>
        <defaultConnector>
            <targetReference>What_is_the_Asset_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Imported_FamilyID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sDocketNumberTags.SymphonyIPM__Use_Imported_Family_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Patent_has_imported_family_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Using_Imported_Family_ID</name>
        <label>Using Imported Family ID?</label>
        <locationX>2063</locationX>
        <locationY>1924</locationY>
        <defaultConnector>
            <targetReference>Add_Family_ID_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Using_Imported_FamilyID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vUseImportedFamilyID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Imported_Family_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_imported_family_ID_used</name>
        <label>Was imported family ID used?</label>
        <locationX>752</locationX>
        <locationY>2062</locationY>
        <defaultConnector>
            <targetReference>Assign_Symphony_Docket_Number_Family_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Importe_Family_ID_Used</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vUseImportedFamilyID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Docket_Number</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_imported_family_ID_used_0</name>
        <label>Was imported family ID used?</label>
        <locationX>2758</locationX>
        <locationY>1753</locationY>
        <defaultConnector>
            <targetReference>Assign_Symphony_Docket_Number_Family_ID_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Importe_Family_ID_Used_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vUseImportedFamilyID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Docket_Number_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_new_family_id_used</name>
        <label>Was new family id used?</label>
        <locationX>1030</locationX>
        <locationY>2215</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Family_ID_Used</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNewFamilyIDUsed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Family_ID_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_Asset_Type</name>
        <label>What is the Asset Type?</label>
        <locationX>1885</locationX>
        <locationY>1032</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AssetType_Patent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sPatentRecord.SymphonyIPM__Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sPatentRecord.SymphonyIPM__Asset_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Asset_Type_Patent</targetReference>
            </connector>
            <label>Patent or Null</label>
        </rules>
        <rules>
            <name>AssetType_Utility_Model</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPatentRecord.SymphonyIPM__Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Utility Model</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Asset_Type_UM</targetReference>
            </connector>
            <label>Utility Model</label>
        </rules>
        <rules>
            <name>AssetType_Design</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sPatentRecord.SymphonyIPM__Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Asset_Type_Design</targetReference>
            </connector>
            <label>Design</label>
        </rules>
    </decisions>
    <description>Added connection after assignment for the CIP case type. [harshitha-2019/10/11]
Removed Serial No.

Docket number/Asset Name should have a dash between the first letter (e.g., P or D) and the following digits. 
For example, P001780-00-US1-PRV1 should be P-001780-00-US1-PRV1. 18/5/2020

Removed Default value in Assign suffix 1 (Assign_suffix_1_0_0, Assign_suffix_1_0_0_0 Assignments) - 6/1/2020</description>
    <formulas>
        <name>fAddAssetTypeDesign</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Asset_Type_Design__c}</expression>
    </formulas>
    <formulas>
        <name>fAddAssetTypeDisclosure</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Asset_Type_Disclosure__c}</expression>
    </formulas>
    <formulas>
        <name>fAddAssetTypePatent</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Asset_Type_Patent__c}</expression>
    </formulas>
    <formulas>
        <name>fAddAssetTypeTrademark</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Asset_Type_Trademark__c}</expression>
    </formulas>
    <formulas>
        <name>fAddAssetTypeUM</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Asset_Type_Utility_Model__c}</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypeARIPONationalDesignation</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Case_Type_State_Filing__c}</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypeAssociatedTrademark</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Case_Type_Associated_Trademark__c}</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypeCautionaryNotice</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Case_Type_Cautionary_Notice__c}</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypeCIP</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Case_Type_CIP__c}</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypeCommonLaw</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Case_Type_Common_Law__c}</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypeContinuation</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Case_Type_Continuation__c}</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypeConversiontoNationalFiling</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Case_Type_Conversion_to_National_Filing__c}</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypeDivisional</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Case_Type_Divisional__c}</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypeEPValidation</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Case_Type_EP_Validation__c}</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypeMadridDesignation</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Case_Type_Madrid_Designation__c}</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypeMadridSubsequentDesignation</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Case_Type_Madrid_Subsequent_Designation__c}</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypeNationalFiling</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Case_Type_National_Filing__c}</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypeNull</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;&quot;NULL&quot;</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypeOthers</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;&quot;OTH&quot;</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypePCTNational</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Case_Type_PCT_National__c}</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypePrimary</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Case_Type_Priority__c}</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypeProvisional</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Case_Type_Provisional__c}</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypeReExam</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Case_Type_Re_examination__c}</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypeReIssue</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Case_Type_Re_Issue__c}</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypeReputationMark</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Case_Type_Reputation_Mark__c}</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypeReRegistration</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Case_Type_Re_Registration__c}</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypeSecondary</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Case_Type_Secondary__c}</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypeSlogan</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Case_Type_Slogan__c}</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypeTradename</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Case_Type_Tradename__c}</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypeUtilityNonProvisional</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Case_Type_Utility_Non_Provisional__c}</expression>
    </formulas>
    <formulas>
        <name>fAddCaseTypeUtilityOriginal</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Case_Type_Utility_Original__c}</expression>
    </formulas>
    <formulas>
        <name>fAddCompanyCode</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sDocketNumberTags.SymphonyIPM__Company_Code__c}</expression>
    </formulas>
    <formulas>
        <name>fAddFamilyID</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;LPAD(TEXT({!vFamilyID}), {!sDocketNumberTags.SymphonyIPM__Number_of_Digits_in_Family_ID__c}, &apos;0&apos;)</expression>
    </formulas>
    <formulas>
        <name>fAddImportedFamilyID</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!fImportedFamilyID}</expression>
    </formulas>
    <formulas>
        <name>fAddInventionCountry</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sInventionDisclosure.SymphonyIPM__Invention_Country__r.SymphonyIPM__Country_Code__c}</expression>
    </formulas>
    <formulas>
        <name>fAddLawFirmCode</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!vOCLawFirmCode}</expression>
    </formulas>
    <formulas>
        <name>fAddPatentCountry</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!vCountryCode}</expression>
    </formulas>
    <formulas>
        <name>fAddPatentPath</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!fPatentPathCode}</expression>
    </formulas>
    <formulas>
        <name>fAddPath</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sInventionDisclosure.SymphonyIPM__Hierarchy__r.SymphonyIPM__Path_Code__c}</expression>
    </formulas>
    <formulas>
        <name>fAddSeparator</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sCurrentConfigItem.SymphonyIPM__Separator__c}</expression>
    </formulas>
    <formulas>
        <name>fAddSuffix</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;TRIM(TEXT({!vDocketNumberSuffix}))</expression>
    </formulas>
    <formulas>
        <name>fAddTrademarkCountry</name>
        <dataType>String</dataType>
        <expression>{!vDocketNumber}&amp;{!sTrademark.SymphonyIPM__Country_Code__c}</expression>
    </formulas>
    <formulas>
        <name>fDocketNumberExcludingLastCharacter</name>
        <dataType>String</dataType>
        <expression>LEFT({!vDocketNumber}, (LEN({!vDocketNumber})-1))</expression>
    </formulas>
    <formulas>
        <name>fImportedFamilyID</name>
        <dataType>String</dataType>
        <expression>{!sDocketNumberTags.SymphonyIPM__Imported_Family_ID_prefix__c}&amp;{!sPatentRecord.SymphonyIPM__Family_ID__c}</expression>
    </formulas>
    <formulas>
        <name>fIncrementFamilyID</name>
        <dataType>Number</dataType>
        <expression>{!vFamilyID}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fLastCharacterOfDocketNumber</name>
        <dataType>String</dataType>
        <expression>RIGHT({!vDocketNumber}, 1)</expression>
    </formulas>
    <formulas>
        <name>fPatentPathCode</name>
        <dataType>String</dataType>
        <expression>{!sPatentRecord.SymphonyIPM__Hierarchy__r.SymphonyIPM__Path_Code__c}</expression>
    </formulas>
    <formulas>
        <name>LegacyDocketNumberPrefix</name>
        <dataType>String</dataType>
        <expression>LEFT({!ParentPatentDocketNumber},Find(&quot;/&quot;,{!ParentPatentDocketNumber}))</expression>
    </formulas>
    <interviewLabel>Docket Number Generator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Docket Number Generator trial 3</label>
    <loops>
        <name>Loop_through_all_related_patent_records</name>
        <label>Loop through all related patent records</label>
        <locationX>689</locationX>
        <locationY>1520</locationY>
        <assignNextValueToReference>sCurrentRelatedPatentRecord</assignNextValueToReference>
        <collectionReference>scRelatedPatentRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Docket_Number_Suffix_of_record_higher_than_current_suffix</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_suffix_still_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_related_patent_records_0</name>
        <label>Loop through all related patent records</label>
        <locationX>2701</locationX>
        <locationY>1252</locationY>
        <assignNextValueToReference>sCurrentRelatedPatentRecord</assignNextValueToReference>
        <collectionReference>scRelatedPatentRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Docket_Number_Suffix_of_record_higher_than_current_suffix_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_suffix_still_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Config_Items</name>
        <label>Loop through Config Items</label>
        <locationX>394</locationX>
        <locationY>344</locationY>
        <assignNextValueToReference>sCurrentConfigItem</assignNextValueToReference>
        <collectionReference>scDocketNumberConfigs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Current_Config_is_Family_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Docket_Number_to_Disclosure</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Config_Items_0</name>
        <label>Loop through Config Items</label>
        <locationX>1399</locationX>
        <locationY>1169</locationY>
        <assignNextValueToReference>sCurrentConfigItem</assignNextValueToReference>
        <collectionReference>scDocketNumberConfigs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Current_Config_is_Jurisdiction_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Store_Root_Docket_Number</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Config_ItemsT</name>
        <label>Loop through Config ItemsT</label>
        <locationX>3170</locationX>
        <locationY>175</locationY>
        <assignNextValueToReference>sCurrentConfigItem</assignNextValueToReference>
        <collectionReference>scDocketNumberConfigs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Current_Config_is_Company_T</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Docket_Number_ends_in_a_separatorT</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Patent_Records_with_same_Root_Docket_Number</name>
        <label>Find Patent Records with same Root Docket Number</label>
        <locationX>712</locationX>
        <locationY>1231</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_records_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Root_Patent_Docket_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRootDocketNumber</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Patent__c</object>
        <outputReference>scRelatedPatentRecords</outputReference>
        <queriedFields>SymphonyIPM__Docket_Number_Suffix__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Patent_Records_with_same_Root_Docket_Number_0</name>
        <label>Find Patent Records with same Root Docket Number</label>
        <locationX>2809</locationX>
        <locationY>1013</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_records_found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Root_Patent_Docket_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRootDocketNumber</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Patent__c</object>
        <outputReference>scRelatedPatentRecords</outputReference>
        <queriedFields>Docket_number_suffix_1__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_base_disclosure_family_ID</name>
        <label>Get base disclosure family ID</label>
        <locationX>2012</locationX>
        <locationY>700</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_base_disclosure_family_id_defined</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sPatentRecord.SymphonyIPM__Base_Invention_Disclosure_New__c</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
        <outputAssignments>
            <assignToReference>vBaseDisclosureFamilyID</assignToReference>
            <field>SymphonyIPM__Docket_Number_Family_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Country_Code_from_Country</name>
        <label>Get Country Code from Country</label>
        <locationX>2443</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_family_ID_available_in_patent_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sPatentRecord.SymphonyIPM__Country__c</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Country__c</object>
        <outputAssignments>
            <assignToReference>vCountryCode</assignToReference>
            <field>SymphonyIPM__Country_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Disclosure_Record</name>
        <label>Get Disclosure Record</label>
        <locationX>712</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_constant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iInventionDisclosureID</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
        <outputReference>sInventionDisclosure</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyIPM__Hierarchy__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SymphonyIPM__Docket_Number_Family_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Docket_Number_Config</name>
        <label>Get Docket Number Config</label>
        <locationX>801</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Docket_Number_Tags</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Sequence_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SymphonyIPM__Docket_Number_Master_Config__mdt</object>
        <outputReference>scDocketNumberConfigs</outputReference>
        <queriedFields>SymphonyIPM__Sequence_Number__c</queriedFields>
        <queriedFields>SymphonyIPM__Tag_Type__c</queriedFields>
        <queriedFields>SymphonyIPM__Separator__c</queriedFields>
        <sortField>SymphonyIPM__Sequence_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Docket_Number_Tags</name>
        <label>Get Docket Number Tags</label>
        <locationX>968</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Family_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Master Tag List</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Docket_Number_Tags__mdt</object>
        <outputReference>sDocketNumberTags</outputReference>
        <queriedFields>SymphonyIPM__Company_Code__c</queriedFields>
        <queriedFields>SymphonyIPM__Asset_Type_Disclosure__c</queriedFields>
        <queriedFields>SymphonyIPM__Asset_Type_Patent__c</queriedFields>
        <queriedFields>SymphonyIPM__Asset_Type_Trademark__c</queriedFields>
        <queriedFields>SymphonyIPM__Asset_Type_Utility_Model__c</queriedFields>
        <queriedFields>SymphonyIPM__Asset_Type_Design__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type_CIP__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type_Continuation__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type_Divisional__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type_EP_Validation__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type_PCT_National__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type_Priority__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type_Provisional__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type_Re_examination__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type_Re_Issue__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type_Secondary__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type_Utility_Non_Provisional__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type_Utility_Original__c</queriedFields>
        <queriedFields>SymphonyIPM__Number_of_Digits_in_Family_ID__c</queriedFields>
        <queriedFields>SymphonyIPM__Family_ID__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyIPM__Use_Imported_Family_ID__c</queriedFields>
        <queriedFields>SymphonyIPM__Imported_Family_ID_prefix__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type_National_Filing__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type_Madrid_Designation__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type_Madrid_Subsequent_Designation__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type_Common_Law__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type_Cautionary_Notice__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type_Associated_Trademark__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type_Conversion_to_National_Filing__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type_Slogan__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type_Re_Registration__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type_Reputation_Mark__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type_Tradename__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type_State_Filing__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Family_ID</name>
        <label>Get Family ID</label>
        <locationX>1115</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Disclosure_or_Patent_or_Trademark</targetReference>
        </connector>
        <object>SymphonyIPM__Docket_Number_Family_ID__c</object>
        <outputAssignments>
            <assignToReference>vFamilyID</assignToReference>
            <field>SymphonyIPM__Family_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Law_Firm_Code</name>
        <label>Get Law Firm Code</label>
        <locationX>2190</locationX>
        <locationY>2307</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Law_Firm_Code_Defined</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOCLawFirm</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Law_Firm__c</object>
        <outputAssignments>
            <assignToReference>vOCLawFirmCode</assignToReference>
            <field>SymphonyIPM__Law_Firm_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Law_Firm_for_Outside_Counsel</name>
        <label>Get Law Firm for Outside Counsel</label>
        <locationX>1938</locationX>
        <locationY>2292</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Law_Firm_defined</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sPatentRecord.SymphonyIPM__Outside_Counsel__c</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Inventor__c</object>
        <outputAssignments>
            <assignToReference>vOCLawFirm</assignToReference>
            <field>SymphonyIPM__Law_Firm__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_parent_patent</name>
        <label>Get parent patent</label>
        <locationX>1637</locationX>
        <locationY>884</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_is_the_Asset_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sPatentRecord.SymphonyIPM__Root_Patent__c</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Patent__c</object>
        <outputAssignments>
            <assignToReference>LegacyID</assignToReference>
            <field>Legacy_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentPatentDocketNumber</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_parent_record_family_ID</name>
        <label>Get parent record family ID</label>
        <locationX>1788</locationX>
        <locationY>583</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_parent_patent_family_ID_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sPatentRecord.SymphonyIPM__Root_Patent__c</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Patent__c</object>
        <outputAssignments>
            <assignToReference>vParentPatentFamilyID</assignToReference>
            <field>SymphonyIPM__Docket_Number_Family_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Patent_Record</name>
        <label>Get Patent Record</label>
        <locationX>1996</locationX>
        <locationY>270</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_country_code_missing_and_country_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iPatentID</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Patent__c</object>
        <outputReference>sPatentRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyIPM__Docket_No__c</queriedFields>
        <queriedFields>SymphonyIPM__Asset_Type__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type__c</queriedFields>
        <queriedFields>SymphonyIPM__Country_Code__c</queriedFields>
        <queriedFields>SymphonyIPM__Hierarchy__c</queriedFields>
        <queriedFields>SymphonyIPM__Outside_Counsel__c</queriedFields>
        <queriedFields>SymphonyIPM__Base_Invention_Disclosure_New__c</queriedFields>
        <queriedFields>SymphonyIPM__Root_Patent__c</queriedFields>
        <queriedFields>SymphonyIPM__Root_Patent_Docket_Number__c</queriedFields>
        <queriedFields>SymphonyIPM__Docket_Number_Suffix__c</queriedFields>
        <queriedFields>SymphonyIPM__Docket_Number_Family_ID__c</queriedFields>
        <queriedFields>SymphonyIPM__Family_ID__c</queriedFields>
        <queriedFields>SymphonyIPM__Country__c</queriedFields>
        <queriedFields>Docket_number_suffix_1__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Trademark_Record</name>
        <label>Get Trademark Record</label>
        <locationX>3167</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Config_ItemsT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iTrademarkID</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Trademark_New__c</object>
        <outputReference>sTrademark</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyIPM__Jurisdiction1__c</queriedFields>
        <queriedFields>SymphonyIPM__Docket_Number_Family_ID__c</queriedFields>
        <queriedFields>SymphonyIPM__Docket_Number__c</queriedFields>
        <queriedFields>SymphonyIPM__Country_Code__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type__c</queriedFields>
        <queriedFields>SymphonyIPM__Case_Type_v1__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Disclosure_Record</name>
        <label>Update Disclosure Record</label>
        <locationX>70</locationX>
        <locationY>745</locationY>
        <connector>
            <targetReference>Docket_no_Validation_assignment</targetReference>
        </connector>
        <inputReference>sInventionDisclosure</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Family_ID</name>
        <label>Update Family ID</label>
        <locationX>327</locationX>
        <locationY>888</locationY>
        <inputAssignments>
            <field>SymphonyIPM__Family_ID__c</field>
            <value>
                <elementReference>vIncrementedFamilyID</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Docket_Number_Family_ID__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Family_ID_0</name>
        <label>Update Family ID</label>
        <locationX>1033</locationX>
        <locationY>2395</locationY>
        <inputAssignments>
            <field>SymphonyIPM__Family_ID__c</field>
            <value>
                <elementReference>vFamilyID</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Docket_Number_Family_ID__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Family_ID_T</name>
        <label>Update Family ID_T</label>
        <locationX>2872</locationX>
        <locationY>587</locationY>
        <inputAssignments>
            <field>SymphonyIPM__Family_ID__c</field>
            <value>
                <elementReference>vIncrementedFamilyID</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Docket_Number_Family_ID__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patent_Record</name>
        <label>Update Patent Record</label>
        <locationX>701</locationX>
        <locationY>2425</locationY>
        <connector>
            <targetReference>Was_new_family_id_used</targetReference>
        </connector>
        <inputReference>sPatentRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Trademark_Record</name>
        <label>Update Trademark Record</label>
        <locationX>2871</locationX>
        <locationY>475</locationY>
        <connector>
            <targetReference>Update_Family_ID_T</targetReference>
        </connector>
        <inputReference>sTrademark</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateidf</name>
        <label>updateidf</label>
        <locationX>126</locationX>
        <locationY>942</locationY>
        <connector>
            <targetReference>Update_Family_ID</targetReference>
        </connector>
        <inputReference>sInventionDisclosure</inputReference>
    </recordUpdates>
    <start>
        <locationX>170</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Docket_Number_Config</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>iInventionDisclosureID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iPatentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iTrademarkID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LegacyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentPatentDocketNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scDocketNumberConfigs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Docket_Number_Master_Config__mdt</objectType>
    </variables>
    <variables>
        <name>scRelatedPatentRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Patent__c</objectType>
    </variables>
    <variables>
        <name>sCurrentConfigItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Docket_Number_Master_Config__mdt</objectType>
    </variables>
    <variables>
        <name>sCurrentRelatedPatentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Patent__c</objectType>
    </variables>
    <variables>
        <name>sDocketNumberTags</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Docket_Number_Tags__mdt</objectType>
    </variables>
    <variables>
        <name>sInventionDisclosure</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Invention_Disclosure_New__c</objectType>
    </variables>
    <variables>
        <name>sPatentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Patent__c</objectType>
    </variables>
    <variables>
        <name>sTrademark</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Trademark_New__c</objectType>
    </variables>
    <variables>
        <name>vBaseDisclosureFamilyID</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDocketNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDocketNumberSuffix</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vFamilyID</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vIncrementedFamilyID</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vLastUsedSeparator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNewFamilyIDUsed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vOCLawFirm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOCLawFirmCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vParentPatentFamilyID</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vPathCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRootDocketNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUseImportedFamilyID</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
