force-app/main/default/flows/Final_Rating_v3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Close</name>
        <choiceText>Close</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Close</stringValue>
        </value>
    </choices>
    <choices>
        <name>ConditionalProceed1</name>
        <choiceText>Conditional Proceed 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conditional Proceed 1 </stringValue>
        </value>
    </choices>
    <choices>
        <name>ConditionalProceed2</name>
        <choiceText>Conditional Proceed 2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conditional Proceed 2</stringValue>
        </value>
    </choices>
    <choices>
        <name>ConditionalProceed3</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Conditional Proceed 3&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conditional Proceed 3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Defer</name>
        <choiceText>Defer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defer</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>-- None --</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>-- None --</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proceed1</name>
        <choiceText>Proceed 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proceed 1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proceed2</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Proceed &lt;/span&gt;2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proceed 2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proceed3</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Proceed &lt;/span&gt;3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proceed 3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Publish</name>
        <choiceText>Publish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Publish</stringValue>
        </value>
    </choices>
    <choices>
        <name>RatingStore</name>
        <choiceText>Rating Store</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Choice_Value_Store</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Check_Value_Null</name>
        <label>Check Value Null</label>
        <locationX>525</locationX>
        <locationY>142</locationY>
        <defaultConnector>
            <targetReference>Screen1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinalRating</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rating_New</targetReference>
            </connector>
            <label>Null</label>
        </rules>
        <rules>
            <name>outcome_Contains_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinalRating</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen1</targetReference>
            </connector>
            <label>outcome Contains value</label>
        </rules>
    </decisions>
    <decisions>
        <name>None_is_selected</name>
        <label>None is selected</label>
        <locationX>952</locationX>
        <locationY>258</locationY>
        <defaultConnectorLabel>None NOT selected</defaultConnectorLabel>
        <rules>
            <name>None_is_selected2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_Value_Store</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>None_Error_Message</targetReference>
            </connector>
            <label>None is selected</label>
        </rules>
        <rules>
            <name>Proceed_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_Value_Store</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proceed 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_for_Proceed_1</targetReference>
            </connector>
            <label>Proceed 1</label>
        </rules>
        <rules>
            <name>Proceed_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_Value_Store</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proceed 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_for_Proceed_2</targetReference>
            </connector>
            <label>Proceed 2</label>
        </rules>
        <rules>
            <name>Proceed_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_Value_Store</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proceed 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_for_Proceed_3</targetReference>
            </connector>
            <label>Proceed 3</label>
        </rules>
        <rules>
            <name>Proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_Value_Store</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conditional Proceed 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_for_Conditional_Proceed_1</targetReference>
            </connector>
            <label>Conditional Proceed 1</label>
        </rules>
        <rules>
            <name>Conditional_Proceed_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_Value_Store</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conditional Proceed 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_for_Conditional_Proceed_2</targetReference>
            </connector>
            <label>Conditional Proceed 2</label>
        </rules>
        <rules>
            <name>Conditional_Proceed_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_Value_Store</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conditional Proceed 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_for_Conditional_Proceed_3</targetReference>
            </connector>
            <label>Conditional Proceed 3</label>
        </rules>
        <rules>
            <name>Publish_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_Value_Store</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Publish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_for_Publish</targetReference>
            </connector>
            <label>Publish</label>
        </rules>
        <rules>
            <name>Defer_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_Value_Store</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Defer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_for_Defer</targetReference>
            </connector>
            <label>Defer</label>
        </rules>
        <rules>
            <name>Close_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_Value_Store</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_for_Close</targetReference>
            </connector>
            <label>Close</label>
        </rules>
    </decisions>
    <description>The step &quot;Select the Next button to enter a Final Rating&quot; has been removed - 02/10/21
Fixed &quot;Close&quot; rating option error - 02/03/21
Status update included in flow
Notes field with Long text data type is being added and short one is removed.
Feedback from UHG has been incorporated on 12/16.</description>
    <dynamicChoiceSets>
        <name>varPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Final_Rating__c</picklistField>
        <picklistObject>SymphonyIPM__Invention_Disclosure_New__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Final Rating v3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Final Rating</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>IDFFinalRating</name>
        <label>IDFFinalRating</label>
        <locationX>400</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Value_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentIDRecord</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
        <outputAssignments>
            <assignToReference>FinalRating</assignToReference>
            <field>Final_Rating__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNotes</assignToReference>
            <field>Notes2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_for_Close</name>
        <label>Update for Close</label>
        <locationX>1033</locationX>
        <locationY>480</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Rating__c</field>
            <value>
                <elementReference>Choice_Value_Store</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes2__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Disclosure_Status__c</field>
            <value>
                <stringValue>PRB Review Complete - Close</stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_for_Conditional_Proceed_1</name>
        <label>Update for Conditional Proceed 1</label>
        <locationX>1434</locationX>
        <locationY>202</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Rating__c</field>
            <value>
                <elementReference>Choice_Value_Store</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes2__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Disclosure_Status__c</field>
            <value>
                <stringValue>PRB Review Complete - Conditional Proceed 1</stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_for_Conditional_Proceed_2</name>
        <label>Update for Conditional Proceed 2</label>
        <locationX>1450</locationX>
        <locationY>358</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Rating__c</field>
            <value>
                <elementReference>Choice_Value_Store</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes2__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Disclosure_Status__c</field>
            <value>
                <stringValue>PRB Review Complete - Conditional Proceed 2</stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_for_Conditional_Proceed_3</name>
        <label>Update for Conditional Proceed 3</label>
        <locationX>1466</locationX>
        <locationY>490</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Rating__c</field>
            <value>
                <elementReference>Choice_Value_Store</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes2__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Disclosure_Status__c</field>
            <value>
                <stringValue>PRB Review Complete - Conditional Proceed 3</stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_for_Defer</name>
        <label>Update for Defer</label>
        <locationX>1119</locationX>
        <locationY>479</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Rating__c</field>
            <value>
                <elementReference>Choice_Value_Store</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes2__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Disclosure_Status__c</field>
            <value>
                <stringValue>PRB Review Complete - Defer</stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_for_Proceed_1</name>
        <label>Update for Proceed 1</label>
        <locationX>966</locationX>
        <locationY>7</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Rating__c</field>
            <value>
                <elementReference>Choice_Value_Store</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes2__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Disclosure_Status__c</field>
            <value>
                <stringValue>PRB Review Complete - Proceed 1</stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_for_Proceed_2</name>
        <label>Update for Proceed 2</label>
        <locationX>1113</locationX>
        <locationY>12</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Rating__c</field>
            <value>
                <elementReference>Choice_Value_Store</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes2__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Disclosure_Status__c</field>
            <value>
                <stringValue>PRB Review Complete - Proceed 2</stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_for_Proceed_3</name>
        <label>Update for Proceed 3</label>
        <locationX>1322</locationX>
        <locationY>88</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Rating__c</field>
            <value>
                <elementReference>Choice_Value_Store</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes2__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Disclosure_Status__c</field>
            <value>
                <stringValue>PRB Review Complete - Proceed 3</stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_for_Publish</name>
        <label>Update for Publish</label>
        <locationX>1527</locationX>
        <locationY>622</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Rating__c</field>
            <value>
                <elementReference>Choice_Value_Store</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes2__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Disclosure_Status__c</field>
            <value>
                <stringValue>PRB Review Complete - Publish</stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Check</name>
        <label>Error Check</label>
        <locationX>410</locationX>
        <locationY>388</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Select the Next button to enter a Final Rating.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>None_Error_Message</name>
        <label>None Error Message</label>
        <locationX>874</locationX>
        <locationY>551</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinalRatingErrorMsg</name>
            <fieldText>&lt;p&gt;Please select an option for the Final Rating.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Rating_New</name>
        <label>Rating New</label>
        <locationX>656</locationX>
        <locationY>376</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>None_is_selected</targetReference>
        </connector>
        <fields>
            <name>Choice_Value_Store</name>
            <choiceReferences>varPicklist</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Final Rating</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <defaultValue>
                <stringValue>{!varNotes}</stringValue>
            </defaultValue>
            <fieldText>Rating Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Choice_Value_Store</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Defer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Choice_Value_Store</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>Conditional</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NavigateButton</name>
            <extensionName>c:cmpButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isChange</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isTrue</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>RatingVal</name>
                <value>
                    <elementReference>FinalRating</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>791</locationX>
        <locationY>175</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Rating_New</targetReference>
        </connector>
        <fields>
            <name>FinalDecision1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Final Rating:&lt;/b&gt; {!FinalRating}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ViewNotes</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Rating Notes:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!varNotes}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Choice_Value_Store</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Defer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Choice_Value_Store</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>Conditional</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>FinalRating</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Defer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>FinalRating</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>Conditional</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ChangeButton</name>
            <extensionName>c:cmpButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isChange</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isTrue</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>65</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>IDFFinalRating</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentIDRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalRating</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FINALRATINGSTORENEW</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Invention_Disclosure_New__c</objectType>
    </variables>
    <variables>
        <name>StoreValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TEST</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
