force-app/main/default/flows/Final_Rating.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Close</name>
        <choiceText>Close</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Close</stringValue>
        </value>
    </choices>
    <choices>
        <name>ConditionalProceed1</name>
        <choiceText>Conditional Proceed 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conditional Proceed 1 </stringValue>
        </value>
    </choices>
    <choices>
        <name>ConditionalProceed2</name>
        <choiceText>Conditional Proceed 2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conditional Proceed 2</stringValue>
        </value>
    </choices>
    <choices>
        <name>ConditionalProceed3</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Conditional Proceed 3&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conditional Proceed 3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Defer</name>
        <choiceText>Defer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defer</stringValue>
        </value>
    </choices>
    <choices>
        <name>None1</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proceed1</name>
        <choiceText>Proceed 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proceed 1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proceed2</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Proceed &lt;/span&gt;2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proceed 2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proceed3</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Proceed &lt;/span&gt;3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proceed 3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Publish</name>
        <choiceText>Publish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Publish</stringValue>
        </value>
    </choices>
    <choices>
        <name>RatingStore</name>
        <choiceText>Rating Store</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Choice_Value_Store</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Check_Value_Null</name>
        <label>Check Value Null</label>
        <locationX>245</locationX>
        <locationY>82</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinalRating</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Check</targetReference>
            </connector>
            <label>Null</label>
        </rules>
        <rules>
            <name>outcome_Contains_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinalRating</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen1</targetReference>
            </connector>
            <label>outcome Contains value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check</name>
        <label>Null Check</label>
        <locationX>327</locationX>
        <locationY>289</locationY>
        <defaultConnector>
            <targetReference>Update_After_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_Value_Store</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Check</targetReference>
            </connector>
            <label>Null 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_0</name>
        <label>Null Check second time</label>
        <locationX>234</locationX>
        <locationY>737</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinalRating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <label>Null 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_0_0</name>
        <label>Null Check</label>
        <locationX>377</locationX>
        <locationY>690</locationY>
        <defaultConnector>
            <targetReference>IDF_Value_store</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_1_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_Value_Store</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Null_Check</targetReference>
            </connector>
            <label>Null 1</label>
        </rules>
    </decisions>
    <description>Removed Help Text in Screen
Default to the  Rating New Screen Flow
Giving Abbreviations from P1 to Proceed1 and so on.
Added the Previous button in the flow

Added a Null Check for the second time
Removed cmpFooter and added standard flow buttons - 22/04/2020
Added new Null check - 23/4/2020</description>
    <interviewLabel>Final Rating {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Final Rating</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Rating</name>
        <label>Create Rating</label>
        <locationX>1178</locationX>
        <locationY>346</locationY>
        <inputAssignments>
            <field>New_Rating_Store__c</field>
            <value>
                <elementReference>Choice_Value_Store</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Base_Invention_Disclosure__c</field>
            <value>
                <elementReference>CurrentIDRecord</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__IDF_Review__c</object>
    </recordCreates>
    <recordLookups>
        <name>IDFFinalRating</name>
        <label>IDFFinalRating</label>
        <locationX>142</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Value_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentIDRecord</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
        <outputAssignments>
            <assignToReference>FinalRating</assignToReference>
            <field>Final_Rating__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>IDF_Value_store</name>
        <label>IDF Value store</label>
        <locationX>888</locationX>
        <locationY>332</locationY>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Final_Rating_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Final_Rating__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Rating__c</field>
            <value>
                <elementReference>Choice_Value_Store</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_After_Flag</name>
        <label>Update After Flag</label>
        <locationX>795</locationX>
        <locationY>490</locationY>
        <connector>
            <targetReference>Final_Rating_Store</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Final_Rating_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Rating_Flag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Final_Rating_Flag</name>
        <label>Update Final Rating Flag</label>
        <locationX>509</locationX>
        <locationY>502</locationY>
        <connector>
            <targetReference>Null_Check_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Rating_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <screens>
        <name>Display_Text</name>
        <label>Display Text</label>
        <locationX>847</locationX>
        <locationY>767</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;Thanks for Rating the Disclosure. If you need to change please give the new rating.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Check</name>
        <label>Error Check</label>
        <locationX>152</locationX>
        <locationY>580</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Rating_New</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Please enter the value.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Rating_Store</name>
        <label>Final Rating Store</label>
        <locationX>894</locationX>
        <locationY>593</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Display_Text</targetReference>
        </connector>
        <fields>
            <name>FinalDecision1_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Final Rating :&lt;/b&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Choice_Value_Store}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rating_New</name>
        <label>Rating New</label>
        <locationX>779</locationX>
        <locationY>217</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Final_Rating_Flag</targetReference>
        </connector>
        <fields>
            <name>Choice_Value_Store</name>
            <choiceReferences>Proceed1</choiceReferences>
            <choiceReferences>Proceed2</choiceReferences>
            <choiceReferences>Proceed3</choiceReferences>
            <choiceReferences>ConditionalProceed1</choiceReferences>
            <choiceReferences>ConditionalProceed2</choiceReferences>
            <choiceReferences>ConditionalProceed3</choiceReferences>
            <choiceReferences>Publish</choiceReferences>
            <choiceReferences>Defer</choiceReferences>
            <choiceReferences>Close</choiceReferences>
            <choiceReferences>None1</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None1</defaultSelectedChoiceReference>
            <fieldText>Final Rating</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>579</locationX>
        <locationY>31</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Rating_New</targetReference>
        </connector>
        <fields>
            <name>FinalDecision1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Final Rating :&lt;/b&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt; &lt;/span&gt;{!FinalRating}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>49</locationX>
        <locationY>124</locationY>
        <connector>
            <targetReference>IDFFinalRating</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentIDRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalRating</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FINALRATINGSTORENEW</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Invention_Disclosure_New__c</objectType>
    </variables>
    <variables>
        <name>None</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TEST</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
