force-app/main/default/flows/Invention_Disclosure_Submission_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_First_Doc_Id_from_Left</name>
        <label>Add First Doc Id from Left</label>
        <locationX>689</locationX>
        <locationY>483</locationY>
        <assignmentItems>
            <assignToReference>lstSelectedDocuments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>firstNameFromLeft1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Id_from_Left</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_First_Name_from_Left</name>
        <label>Add First Name from Left</label>
        <locationX>1751</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>lstSelectedInventors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>firstNameFromLeft</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Name_from_Left</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddDocsLinks2</name>
        <label>AddDocsLinks2</label>
        <locationX>729</locationX>
        <locationY>1161</locationY>
        <assignmentItems>
            <assignToReference>lstDocumentLink</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempDocLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Document_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddDocssLink</name>
        <label>AddDocssLink</label>
        <locationX>766</locationX>
        <locationY>881</locationY>
        <assignmentItems>
            <assignToReference>TempDocLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentDocumentID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempDocLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IDF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempDocLink.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>I</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempDocLink.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddDocsLinks2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MSP_to_Variable</name>
        <label>Assign MSP to Variable</label>
        <locationX>1206</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>vSelectedUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textAddInventors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Inventors_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MSP_to_Variable1</name>
        <label>Assign MSP to Variable For Documents</label>
        <locationX>1138</locationX>
        <locationY>628</locationY>
        <assignmentItems>
            <assignToReference>SelectedDocuments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddSelectedDoc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Documents_Uploaded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignIDFtoAdditionalInv</name>
        <label>AssignIDFtoAdditionalInv</label>
        <locationX>1897</locationX>
        <locationY>1012</locationY>
        <assignmentItems>
            <assignToReference>Looped_Inventor.SymphonyIPM__Invention_Disclosure_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IDF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Looped_Inventor.SymphonyIPM__Inventor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Looped_Inventor.SymphonyIPM__shared__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_toFinalList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignLstTostr</name>
        <label>assignLstTostr</label>
        <locationX>220</locationX>
        <locationY>347</locationY>
        <assignmentItems>
            <assignToReference>mentorstring1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>listofRelatedMentorsName.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopmentors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignstrtoLSt</name>
        <label>AssignstrtoLSt</label>
        <locationX>410</locationX>
        <locationY>272</locationY>
        <assignmentItems>
            <assignToReference>Lstmentors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FirstIdfromstr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RemoveIDfromSTR_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigntheallMentorswith</name>
        <label>AssigntheallMentorswith,</label>
        <locationX>444</locationX>
        <locationY>487</locationY>
        <assignmentItems>
            <assignToReference>Finalstrofmentorswithsemicoolun</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddwithsemicolunLSTtoSTR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopmentorsthroughlist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignwithsemicolon</name>
        <label>assignwithsemicolon</label>
        <locationX>530</locationX>
        <locationY>63</locationY>
        <assignmentItems>
            <assignToReference>Invmentor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddsemicolon</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fetchMentorIDS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_toFinalList</name>
        <label>Copy toFinalList</label>
        <locationX>1774</locationX>
        <locationY>1528</locationY>
        <assignmentItems>
            <assignToReference>lstAdditionalInvFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looped_Inventor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_InventorIdsList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_toFinalList_0</name>
        <label>Copy toFinalList</label>
        <locationX>2136</locationX>
        <locationY>1076</locationY>
        <assignmentItems>
            <assignToReference>AdditionalInventorsValidated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InvName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_InventorIdsList_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Id_from_Left</name>
        <label>Remove Id from Left</label>
        <locationX>769</locationX>
        <locationY>714</locationY>
        <assignmentItems>
            <assignToReference>SelectedDocuments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>removeNameFromLeft1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>INventorIdsParsed_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Name_from_Left</name>
        <label>Remove Name from Left</label>
        <locationX>1754</locationX>
        <locationY>821</locationY>
        <assignmentItems>
            <assignToReference>vSelectedUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>removeNameFromLeft</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>INventorIdsParsed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RemoveIDfromSTR_1</name>
        <label>RemoveIDfromSTR</label>
        <locationX>504</locationX>
        <locationY>138</locationY>
        <assignmentItems>
            <assignToReference>Invmentor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveIDfromstr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fetchMentorIDS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updatethefield</name>
        <label>updatethefield</label>
        <locationX>657</locationX>
        <locationY>97</locationY>
        <assignmentItems>
            <assignToReference>UpdateMentorIDS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Invmentor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignwithsemicolon</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Save</name>
        <choiceText>Save as draft</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Just save it for now, I will submit it later</stringValue>
        </value>
    </choices>
    <choices>
        <name>Select_One</name>
        <choiceText>Select One</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Submit</name>
        <choiceText>Submit the disclosure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I&apos;m happy with the disclosure, go ahead and process it</stringValue>
        </value>
    </choices>
    <choices>
        <name>USA</name>
        <choiceText>USA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>EnterSearchTerm</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>SelectOne</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Enter a Keyword to Filter By</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Additional_Inventors_been_selected</name>
        <label>Additional Inventors been selected</label>
        <locationX>1279</locationX>
        <locationY>960</locationY>
        <defaultConnector>
            <targetReference>CurrentUserProfileChk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Additional Inventors Selected</defaultConnectorLabel>
        <rules>
            <name>Additional_Inventors_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstSelectedInventors</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_InventorIdsList_0</targetReference>
            </connector>
            <label>Additional Inventors Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Documents_Uploaded</name>
        <label>Check If Documents Uploaded</label>
        <locationX>1211</locationX>
        <locationY>787</locationY>
        <defaultConnector>
            <targetReference>INventorIdsParsed_01</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Documents Selected</defaultConnectorLabel>
        <rules>
            <name>No_Documents_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedDocuments</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Inventors_been_selected</targetReference>
            </connector>
            <label>No Documents Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Inventors_Selected</name>
        <label>Check if Inventors Selected</label>
        <locationX>1297</locationX>
        <locationY>571</locationY>
        <defaultConnector>
            <targetReference>INventorIdsParsed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inventors Selected</defaultConnectorLabel>
        <rules>
            <name>No_Inventors_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSelectedUser</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Disclsoure_Record</targetReference>
            </connector>
            <label>No Inventors Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Path_IC_is_the_logged_in_user</name>
        <label>Check if Path IC is the logged in user</label>
        <locationX>1468</locationX>
        <locationY>1465</locationY>
        <defaultConnector>
            <targetReference>Share_IDF_with_IC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Path IC is not the logged in user</defaultConnectorLabel>
        <rules>
            <name>Path_IC_is_the_logged_in_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fL15PathIC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vUserID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Hierarchy_ICs</targetReference>
            </connector>
            <label>Path IC is the logged in user</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_whether_it_is_clicked_from_home_page_or_not</name>
        <label>Check whether it is clicked from home page or not</label>
        <locationX>1234</locationX>
        <locationY>359</locationY>
        <defaultConnector>
            <targetReference>InstructionScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Home_Page</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HomePage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invention_Disclosure_Interview_Step_1_0</targetReference>
            </connector>
            <label>Home Page</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckNullInventorUserId</name>
        <label>CheckNullInventorUserId</label>
        <locationX>1911</locationX>
        <locationY>1349</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Additional_Inventors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Inventor UserId Is Null</defaultConnectorLabel>
        <rules>
            <name>If_Inventor_UserId_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InventorUserIDtoShare</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InventorUserIDtoShare</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_IDF_with_Inventors</targetReference>
            </connector>
            <label>If Inventor UserId Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CurrentUserProfileChk</name>
        <label>CurrentUserProfileChk</label>
        <locationX>1374</locationX>
        <locationY>1097</locationY>
        <defaultConnector>
            <targetReference>SaveorSubmit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NotInventorProfile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>firstuserid</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>vUserID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_IDF_with_FirstInventors_0</targetReference>
            </connector>
            <label>NotInventorProfile</label>
        </rules>
    </decisions>
    <decisions>
        <name>fetchMentorIDS</name>
        <label>fetchMentorIDS</label>
        <locationX>356</locationX>
        <locationY>68</locationY>
        <defaultConnector>
            <targetReference>AssignstrtoLSt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invmentor</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>loopmentors</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FirstNameInventorIdcheck</name>
        <label>FirstNameInventorIdcheck</label>
        <locationX>2218</locationX>
        <locationY>799</locationY>
        <defaultConnector>
            <targetReference>Iterate_InventorIdsList_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes005</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>firstInventor</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_toFinalList_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_any_documents_been_attached</name>
        <label>Have any documents been attached</label>
        <locationX>942</locationX>
        <locationY>744</locationY>
        <defaultConnector>
            <targetReference>Loop_over_Document_IDs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Documents attached</defaultConnectorLabel>
        <rules>
            <name>No_documents_attached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>uploadedDocumentIDsStr</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Additional_Inventors_been_selected</targetReference>
            </connector>
            <label>No  documents attached</label>
        </rules>
    </decisions>
    <decisions>
        <name>INventorIdsParsed</name>
        <label>Inventor Ids Parsed?</label>
        <locationX>1553</locationX>
        <locationY>667</locationY>
        <defaultConnector>
            <targetReference>Add_First_Name_from_Left</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesParsed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSelectedUser</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_New_Disclsoure_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>INventorIdsParsed_01</name>
        <label>Inventor Ids Parsed?</label>
        <locationX>894</locationX>
        <locationY>619</locationY>
        <defaultConnector>
            <targetReference>Add_First_Doc_Id_from_Left</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesParsed_01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedDocuments</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Have_any_documents_been_attached</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SaveorSubmit</name>
        <label>SaveorSubmit</label>
        <locationX>917</locationX>
        <locationY>1284</locationY>
        <defaultConnector>
            <targetReference>Update_IDF_Submit_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Submit Disclosure</defaultConnectorLabel>
        <rules>
            <name>Save_Disclosure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SaveAs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Hierarchy_ICs</targetReference>
            </connector>
            <label>Save Disclosure</label>
        </rules>
    </decisions>
    <decisions>
        <name>UPdatetheMentorID</name>
        <label>UPdatetheMentorID</label>
        <locationX>570</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Find_Inventor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Empty</defaultConnectorLabel>
        <rules>
            <name>Is_mentor_id_field_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invmentor</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>updatethefield</targetReference>
            </connector>
            <label>Is mentor id field not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Inventor_Check</name>
        <label>Valid Inventor Check</label>
        <locationX>970</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Invalid_Inventor_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Inventor</defaultConnectorLabel>
        <rules>
            <name>Valid_Inventor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>firstInventor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MSP_to_Variable</targetReference>
            </connector>
            <label>Valid Inventor</label>
        </rules>
    </decisions>
    <description>Fix for user ID having only 15 characters - 30/05
Temporary IDF title added #07May18 # reviewer share row cause added html email plugin for send review
Added Record Type check in additional inventor loop to provide more robustness for similar names across person types. Cleaned up some names. - [2/5 Ashwin]
With IDF sharing added - 3/7
Little modification for doc attachment at single shot-[5/4/18,velu]
Added Finish Screen [05/07/18,Harsha],Check Profile and share Inv to First named Inventor[10/07/18,Velu]  Update Add Inv Share,Additional inv search integrated[16/7/18] Doc Upload integrated[17/7/18,Velu]</description>
    <dynamicChoiceSets>
        <name>allInventors</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventor</stringValue>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__User__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>vUserID</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Inventor__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>allPaths</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>SymphonyIPM__Hierarchy__c</object>
        <outputAssignments>
            <assignToReference>selectedTechPath</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AvailableCountries</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>SymphonyIPM__Country__c</object>
        <outputAssignments>
            <assignToReference>vSelectedCountry</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>SymphonyIPM__Sorting_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>filteredTechPathbyKeywordandParent</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
        </filters>
        <object>SymphonyIPM__Hierarchy__c</object>
        <outputAssignments>
            <assignToReference>selectedTechPath</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>filteredTechPaths</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
        </filters>
        <object>SymphonyIPM__Hierarchy__c</object>
        <outputAssignments>
            <assignToReference>selectedTechPath</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>filteredTechPathsbyWord</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
        </filters>
        <object>SymphonyIPM__Hierarchy__c</object>
        <outputAssignments>
            <assignToReference>selectedTechPath</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>parentHierarchyNodes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Parent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SymphonyIPM__Hierarchy__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>AddSelectedDoc</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!uploadedDocumentIDsStr},&quot;,&quot;,&quot;; &quot;) &amp; &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>AddwithsemicolunLSTtoSTR</name>
        <dataType>String</dataType>
        <expression>if({!Finalstrofmentorswithsemicoolun}==null,{!loopthroughmentors},{!Finalstrofmentorswithsemicoolun}+&apos;,&apos;+&apos; &apos;+{!loopthroughmentors})</expression>
    </formulas>
    <formulas>
        <name>CurrentProfile</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <name>fAddsemicolon</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Invmentor},&quot;,&quot;,&quot;; &quot;) &amp; &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>fColonSelectedInventors</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!varSelectedInventors}, &quot;; &quot;, &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>fFirst15char</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!vSelectedUser}, 18))</expression>
    </formulas>
    <formulas>
        <name>FirstIdfromstr</name>
        <dataType>String</dataType>
        <expression>LEFT({!Invmentor}, (FIND(&quot;;&quot;, {!Invmentor})-1))</expression>
    </formulas>
    <formulas>
        <name>firstNameFromLeft</name>
        <dataType>String</dataType>
        <expression>LEFT({!vSelectedUser}, (FIND(&quot;;&quot;, {!vSelectedUser})-1))</expression>
    </formulas>
    <formulas>
        <name>firstNameFromLeft1</name>
        <dataType>String</dataType>
        <expression>LEFT({!SelectedDocuments}, (FIND(&quot;;&quot;, {!SelectedDocuments})-1))</expression>
    </formulas>
    <formulas>
        <name>firstuserid</name>
        <dataType>String</dataType>
        <expression>LEFT({!firstuser},15)</expression>
    </formulas>
    <formulas>
        <name>fL15PathIC</name>
        <dataType>String</dataType>
        <expression>LEFT({!SinglePPA.SymphonyIPM__User__c}, 15)</expression>
    </formulas>
    <formulas>
        <name>fRemoveFirst15</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!vSelectedUser},{!fFirst15char}, &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>fSelectedInv</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!selectedInventorIDs}, &quot;, &quot;, &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>Invention_Title_Temp</name>
        <dataType>String</dataType>
        <expression>{!$User.Alias} + &quot;-&quot;  + TEXT({!$System.OriginDateTime})</expression>
    </formulas>
    <formulas>
        <name>que22datefield</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE ({!todaydate})</expression>
    </formulas>
    <formulas>
        <name>RemoveIDfromstr</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!Invmentor}, LEFT({!Invmentor}, (FIND(&quot;;&quot;, {!Invmentor})+1)), &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>removeNameFromLeft</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!vSelectedUser}, LEFT({!vSelectedUser}, (FIND(&quot;;&quot;, {!vSelectedUser})+1)), &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>removeNameFromLeft1</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!SelectedDocuments}, LEFT({!SelectedDocuments}, (FIND(&quot;;&quot;, {!SelectedDocuments})+1)), &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>textAddInventors</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!selectedInventorIDs},&quot;,&quot;,&quot;; &quot;) &amp; &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>vUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Invention Disclosure Submission New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invention Disclosure Submission</label>
    <loops>
        <name>Iterate_Hierarchy_ICs</name>
        <label>Iterate Hierarchy ICs</label>
        <locationX>1151</locationX>
        <locationY>1466</locationY>
        <assignNextValueToReference>SinglePPA</assignNextValueToReference>
        <collectionReference>HierarcyRolePPAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Path_IC_is_the_logged_in_user</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Primary_Hierarchy_Role</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_InventorIdsList</name>
        <label>Iterate InventorIdsList</label>
        <locationX>1475</locationX>
        <locationY>1002</locationY>
        <assignNextValueToReference>InvName</assignNextValueToReference>
        <collectionReference>AdditionalInventorsValidated</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Inventor_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Additional_Inventors_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_InventorIdsList_0</name>
        <label>Iterate InventorIdsList</label>
        <locationX>1978</locationX>
        <locationY>802</locationY>
        <assignNextValueToReference>InvName</assignNextValueToReference>
        <collectionReference>lstSelectedInventors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FirstNameInventorIdcheck</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_InventorIdsList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Document_IDs</name>
        <label>Loop over Document IDs</label>
        <locationX>945</locationX>
        <locationY>887</locationY>
        <assignNextValueToReference>currentDocumentID</assignNextValueToReference>
        <collectionReference>lstSelectedDocuments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddDocssLink</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateDocs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Additional_Inventors</name>
        <label>Loop through Additional Inventors</label>
        <locationX>1571</locationX>
        <locationY>1225</locationY>
        <assignNextValueToReference>sAddInventor</assignNextValueToReference>
        <collectionReference>lstAdditionalInvFinal</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_User_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CurrentUserProfileChk</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_all_Reviewers</name>
        <label>Loop through all Reviewers</label>
        <locationX>1478</locationX>
        <locationY>1900</locationY>
        <assignNextValueToReference>sCurrentReviewer</assignNextValueToReference>
        <collectionReference>scHierarchyReviewers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Share_IDF_with_Reviewers</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loopmentors</name>
        <label>loopmentors</label>
        <locationX>253</locationX>
        <locationY>101</locationY>
        <assignNextValueToReference>lstmentors1</assignNextValueToReference>
        <collectionReference>Lstmentors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getmentors</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopmentorsthroughlist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopmentorsthroughlist</name>
        <label>loopmentorsthroughlist</label>
        <locationX>326</locationX>
        <locationY>366</locationY>
        <assignNextValueToReference>loopthroughmentors</assignNextValueToReference>
        <collectionReference>mentorstring1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssigntheallMentorswith</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_Inventor</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Disclsoure_Record</name>
        <label>Create New Disclsoure Record</label>
        <locationX>1347</locationX>
        <locationY>678</locationY>
        <assignRecordIdToReference>IDF</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_MSP_to_Variable1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Competing_Products_Solutions__c</field>
            <value>
                <elementReference>que25</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Commercial_Use__c</field>
            <value>
                <elementReference>que23</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Stage_of_Invention__c</field>
            <value>
                <elementReference>invstage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Don_t_know__c</field>
            <value>
                <elementReference>que275checkbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Use__c</field>
            <value>
                <elementReference>que230</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Future_Implementation__c</field>
            <value>
                <elementReference>que24</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impossible_unless_3rd_party_admitted_use__c</field>
            <value>
                <elementReference>que273checkbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invention_Description__c</field>
            <value>
                <elementReference>que1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invention_Program__c</field>
            <value>
                <elementReference>inventionprogram</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Competing_Products_Solutions__c</field>
            <value>
                <elementReference>que25checkbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Current_Commercisl__c</field>
            <value>
                <elementReference>que23checkbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_External__c</field>
            <value>
                <elementReference>que230checkbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Future_Implementation__c</field>
            <value>
                <elementReference>que24checkbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Prior_Submissions__c</field>
            <value>
                <elementReference>que21checkbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Public_Disclosure__c</field>
            <value>
                <elementReference>que22checkbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Reading_Product_literature__c</field>
            <value>
                <elementReference>que273checkbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Reverse_Engineering__c</field>
            <value>
                <elementReference>que271checkbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Testing_a_competitive_solution__c</field>
            <value>
                <elementReference>que272checkbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Third_Party_Contribution__c</field>
            <value>
                <elementReference>que26checkbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MentorsIDs__c</field>
            <value>
                <elementReference>UpdateMentorIDS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mentors__c</field>
            <value>
                <elementReference>Finalstrofmentorswithsemicoolun</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Invention_Title_Temp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other__c</field>
            <value>
                <elementReference>que275checkbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Others__c</field>
            <value>
                <elementReference>que275</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>primaryinv</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prior_Submission_Description__c</field>
            <value>
                <elementReference>que21</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Public_Disclosure_Date__c</field>
            <value>
                <elementReference>que22datefield</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Public_Disclosure__c</field>
            <value>
                <elementReference>que22</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reading_Product_literature__c</field>
            <value>
                <elementReference>que272</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reverse_Engineering__c</field>
            <value>
                <elementReference>que270</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Alternative_Implementations_New__c</field>
            <value>
                <elementReference>que4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Detailed_Description__c</field>
            <value>
                <elementReference>que2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Disclosure_State__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Disclosure_Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Hierarchy__c</field>
            <value>
                <elementReference>techpath</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Inventive_Features__c</field>
            <value>
                <elementReference>que3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Primary_Inventor__c</field>
            <value>
                <elementReference>primaryinventor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Submitted_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Title__c</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Testing_a_competitive_solution__c</field>
            <value>
                <elementReference>que271</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Party_Contribution__c</field>
            <value>
                <elementReference>que26</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateDocs</name>
        <label>CreateDocs</label>
        <locationX>998</locationX>
        <locationY>1111</locationY>
        <connector>
            <targetReference>Additional_Inventors_been_selected</targetReference>
        </connector>
        <inputReference>lstDocumentLink</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Additional_Inventors_List</name>
        <label>Insert Additional Inventors List</label>
        <locationX>1664</locationX>
        <locationY>1084</locationY>
        <connector>
            <targetReference>Loop_through_Additional_Inventors</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>lstAdditionalInvFinal</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Share_IDF_with_FirstInventors_0</name>
        <label>Share IDF with First Inventors</label>
        <locationX>1373</locationX>
        <locationY>1228</locationY>
        <connector>
            <targetReference>SaveorSubmit</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>IDF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>firstuser</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__Share</object>
    </recordCreates>
    <recordCreates>
        <name>Share_IDF_with_IC</name>
        <label>Share IDF with IC</label>
        <locationX>1475</locationX>
        <locationY>1588</locationY>
        <connector>
            <targetReference>Iterate_Hierarchy_ICs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>IDF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>SinglePPA.SymphonyIPM__User__c</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__Share</object>
    </recordCreates>
    <recordCreates>
        <name>Share_IDF_with_Inventors</name>
        <label>Share IDF with Inventors</label>
        <locationX>1575</locationX>
        <locationY>1351</locationY>
        <connector>
            <targetReference>Loop_through_Additional_Inventors</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>sAddInventor.SymphonyIPM__Invention_Disclosure_New__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>InventorUserIDtoShare</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__Share</object>
    </recordCreates>
    <recordCreates>
        <name>Share_IDF_with_Reviewers</name>
        <label>Share IDF with Reviewers</label>
        <locationX>1751</locationX>
        <locationY>1899</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>IDF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>sCurrentReviewer.SymphonyIPM__User__c</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__Share</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Inventor</name>
        <label>Find Inventor</label>
        <locationX>856</locationX>
        <locationY>439</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Inventor_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventor</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Inventor__c</object>
        <outputAssignments>
            <assignToReference>firstInventor</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>firstuser</assignToReference>
            <field>SymphonyIPM__User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Inventor_ID</name>
        <label>Find Inventor ID</label>
        <locationX>1898</locationX>
        <locationY>893</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignIDFtoAdditionalInv</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventor</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Inventor__c</object>
        <outputAssignments>
            <assignToReference>InvId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_User</name>
        <label>Find User</label>
        <locationX>814</locationX>
        <locationY>116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Detailed_Description</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vUserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>vUserEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vUserName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Hierarchy_ICs</name>
        <label>Get All Hierarchy ICs</label>
        <locationX>1152</locationX>
        <locationY>1356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Hierarchy_ICs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Hierarchy_Path__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>techpath</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In-house Attorney</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Hierarchy_Role__c</object>
        <outputReference>HierarcyRolePPAs</outputReference>
        <queriedFields>SymphonyIPM__User__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Hierarchy_Reviewers</name>
        <label>Get all Hierarchy Reviewers</label>
        <locationX>1161</locationX>
        <locationY>1896</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_Reviewers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Hierarchy_Path__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>techpath</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reviewer</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Hierarchy_Role__c</object>
        <outputReference>scHierarchyReviewers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyIPM__User__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Detailed_Description</name>
        <label>Get Detailed Description</label>
        <locationX>981</locationX>
        <locationY>126</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Detailed_Description_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Question_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Detailed Description</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Disclosure_Questions__mdt</object>
        <outputAssignments>
            <assignToReference>qDetailedDescription</assignToReference>
            <field>SymphonyIPM__Question_Text__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Detailed_Description_0</name>
        <label>Get Detailed Description</label>
        <locationX>1122</locationX>
        <locationY>125</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Detailed_Description_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Question_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventive Features</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Disclosure_Questions__mdt</object>
        <outputAssignments>
            <assignToReference>qInventiveFeatures</assignToReference>
            <field>SymphonyIPM__Question_Text__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Detailed_Description_0_0</name>
        <label>Get Detailed Description</label>
        <locationX>1246</locationX>
        <locationY>136</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Detailed_Description_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Question_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invention Advantages</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Disclosure_Questions__mdt</object>
        <outputAssignments>
            <assignToReference>qInventionAdvantages</assignToReference>
            <field>SymphonyIPM__Question_Text__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Detailed_Description_0_0_0</name>
        <label>Get Detailed Description</label>
        <locationX>1396</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_whether_it_is_clicked_from_home_page_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Question_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alternative Implementations</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Disclosure_Questions__mdt</object>
        <outputAssignments>
            <assignToReference>qAltImplementations</assignToReference>
            <field>SymphonyIPM__Question_Text__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Hierarchy_Role</name>
        <label>Get Primary Hierarchy Role</label>
        <locationX>1154</locationX>
        <locationY>1588</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Id_and_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Hierarchy_Path__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedTechPath</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In-house Attorney</stringValue>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__isPrimary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SymphonyIPM__Hierarchy_Role__c</object>
        <outputAssignments>
            <assignToReference>PrimaryHierarchyRoleUser</assignToReference>
            <field>SymphonyIPM__User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_ID</name>
        <label>Get User ID</label>
        <locationX>1931</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckNullInventorUserId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sAddInventor.SymphonyIPM__Inventor__c</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Inventor__c</object>
        <outputAssignments>
            <assignToReference>InventorUserIDtoShare</assignToReference>
            <field>SymphonyIPM__User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Id_and_Email</name>
        <label>Get User Id and Email</label>
        <locationX>1158</locationX>
        <locationY>1694</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_IC_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryHierarchyRoleUser</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>PrimaryPPAEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getmentors</name>
        <label>getmentors</label>
        <locationX>50</locationX>
        <locationY>275</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignLstTostr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lstmentors1</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Inventor__c</object>
        <outputReference>listofRelatedMentorsName</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_IC_Details</name>
        <label>Update IC Details</label>
        <locationX>1163</locationX>
        <locationY>1793</locationY>
        <connector>
            <targetReference>Get_all_Hierarchy_Reviewers</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDF</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SymphonyIPM__Internal_Counsel__c</field>
            <value>
                <elementReference>PrimaryHierarchyRoleUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__PPA_EmailId__c</field>
            <value>
                <elementReference>PrimaryPPAEmail</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_IDF_Submit_Status</name>
        <label>Update IDF Submit Status</label>
        <locationX>1406</locationX>
        <locationY>1317</locationY>
        <connector>
            <targetReference>Get_All_Hierarchy_ICs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDF</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SymphonyIPM__Disclosure_Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Submitted_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Occured</label>
        <locationX>1787</locationX>
        <locationY>1109</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErroMessage</name>
            <fieldText>Error occured in Flow, please contact System Administrator with this error message - {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_0</name>
        <label>Error Occured</label>
        <locationX>1480</locationX>
        <locationY>1797</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErroMessage_0</name>
            <fieldText>Error occured in Flow, please contact System Administrator with this error message - {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_1</name>
        <label>Error Occured</label>
        <locationX>1582</locationX>
        <locationY>823</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErroMessage_1</name>
            <fieldText>Error occured in Flow, please contact System Administrator with this error message - {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>1480</locationX>
        <locationY>2024</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Successmessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Record created successfully. Click &lt;A HREF=&quot;/{!IDF}&quot; TARGET=&quot;_self&quot;&gt;here&lt;/A&gt;.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InstructionScreen</name>
        <label>Instructions</label>
        <locationX>1244</locationX>
        <locationY>255</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Invention_Disclosure_Interview_Step_1_0</targetReference>
        </connector>
        <fields>
            <name>heading1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 22px;&quot;&gt;Instructions&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>firstpoint</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;Provide as much detail as possible. Attach additional explanatory documents or materials (e.g.technical specifications, drawings, flowcharts, manuals, PPT presentations).&lt;/li&gt;&lt;li&gt;Timing is critical to patent protection.                                                                                                                                                                               &lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(20, 69, 140);&quot;&gt;   &lt;/b&gt;&lt;b style=&quot;color: rgb(255, 255, 255);&quot;&gt;_________&lt;/b&gt;&lt;b style=&quot;color: rgb(20, 69, 140);&quot;&gt;Talk to IP Legal Before Making a Public Disclosure.&lt;/b&gt; - If the invention is patentable, premature publication, commercial activity or other non-confidential disclosure may damage or preclude patent protection for your invention in many countries, including the United States.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(20, 69, 140);&quot;&gt;  &lt;/b&gt;&lt;b style=&quot;color: rgb(255, 255, 255); background-color: rgb(255, 255, 255);&quot;&gt;_________&lt;/b&gt;&lt;b style=&quot;color: rgb(20, 69, 140);&quot;&gt;Disclose As Soon As The Invention Is Clearly Conceptualized.&lt;/b&gt; - You do not need to wait until the invention is completely developed to seek patent protection.   Under the First to File patent system in the U.S., filing as early as possible is preferable, even critical, to obtaining effective patent protection. This is especially true where others are filing patent applications in the same or adjacent technology areas.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Questions? Contact Eva Wood in IPLegal (eva.wood@uhg.com or 952-205-6063).&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Send completed form and all attachments to: IPLegal@uhg.com&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_Inventor_Error_Message</name>
        <label>Invalid Inventor</label>
        <locationX>1460</locationX>
        <locationY>405</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Invention_Disclosure_Interview_Step_1_0</targetReference>
        </connector>
        <fields>
            <name>invalidInventorMsg</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Oops! Invalid Inventor. Check the email ID provided and try again. &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invention_Disclosure_Interview_Step_1_0</name>
        <label>Invention Disclosure Interview Step 1</label>
        <locationX>824</locationX>
        <locationY>265</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UPdatetheMentorID</targetReference>
        </connector>
        <fields>
            <name>Savesubmit</name>
            <extensionName>c:cmpSubmitAndSaveDraft</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SaveAs</assignToReference>
                <name>savebutton</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Submit2</assignToReference>
                <name>navigateFlow</name>
            </outputParameters>
        </fields>
        <fields>
            <name>formpart1</name>
            <extensionName>c:cmpIDFformpart1</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>inventionprogram</assignToReference>
                <name>check</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Title</assignToReference>
                <name>Title</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>todaydate</assignToReference>
                <name>today</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>primaryinventor</assignToReference>
                <name>selectedpri</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>invstage</assignToReference>
                <name>selectedstage</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>techpath</assignToReference>
                <name>selectedtech</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>primaryinv</assignToReference>
                <name>selectedinv</name>
            </outputParameters>
        </fields>
        <fields>
            <name>primaryContact</name>
            <extensionName>c:cmpPrimayContact</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>primaryinv</assignToReference>
                <name>strSelectedInventorIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>poiu</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Mentor</name>
            <extensionName>c:cmpMentor</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Invmentor</assignToReference>
                <name>strSelectedInventorIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Additional</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Additional Inventors&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>addtionalinv</name>
            <extensionName>c:cmpAdditionalInventors</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>DisclosureId</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedInventorIDs</assignToReference>
                <name>strSelectedInventorIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>txt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; color: rgb(24, 23, 23);&quot;&gt;Invention Description&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>formpart2</name>
            <extensionName>c:cmpIDFformpart2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>que1</assignToReference>
                <name>que1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que2</assignToReference>
                <name>que2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que3</assignToReference>
                <name>que3</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que4</assignToReference>
                <name>que4</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que21</assignToReference>
                <name>ques21</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que22</assignToReference>
                <name>ques22</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que23</assignToReference>
                <name>ques23</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que230</assignToReference>
                <name>ques230</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que24</assignToReference>
                <name>ques24</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que25</assignToReference>
                <name>ques25</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que26</assignToReference>
                <name>ques26</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que270</assignToReference>
                <name>ques270</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que271</assignToReference>
                <name>ques271</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que272</assignToReference>
                <name>ques272</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que275</assignToReference>
                <name>ques275</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que273check</assignToReference>
                <name>ques273check</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que274check</assignToReference>
                <name>ques274check</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que21checkbox</assignToReference>
                <name>questions21</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que22checkbox</assignToReference>
                <name>questions22</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que23checkbox</assignToReference>
                <name>questions23</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que230checkbox</assignToReference>
                <name>questions230</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que24checkbox</assignToReference>
                <name>questions24</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que25checkbox</assignToReference>
                <name>questions25</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que26checkbox</assignToReference>
                <name>questions26</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que271checkbox</assignToReference>
                <name>CheckboxNew</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que272checkbox</assignToReference>
                <name>CheckboxNew1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que275checkbox</assignToReference>
                <name>CheckboxNew5</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que273checkbox</assignToReference>
                <name>CheckboxNew2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>todaydate</assignToReference>
                <name>todaydate</name>
            </outputParameters>
        </fields>
        <fields>
            <name>uploader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Attachments&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>upload</name>
            <extensionName>SymphonyIPM:cmpFileUploader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>linkedEntityId</name>
                <value>
                    <elementReference>vUserID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canUploadMultipleFiles</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocumentIds</name>
                <value>
                    <elementReference>uploadedDocumentIDsStr</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canViewAllFiles</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canViewCurrentAttachedFiles</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>uploadedDocumentIDsStr</assignToReference>
                <name>contentDocumentIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>space</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Save1</name>
            <extensionName>c:cmpSubmitAndSaveDraft</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SaveAs</assignToReference>
                <name>savebutton</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Submit2</assignToReference>
                <name>navigateFlow</name>
            </outputParameters>
        </fields>
        <fields>
            <name>qefqef</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>749</locationX>
        <locationY>18</locationY>
        <connector>
            <targetReference>Find_User</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>emailToReviewer</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>HI,
   New Invention Disclosure  has been submitted for review. Thanks</text>
    </textTemplates>
    <variables>
        <name>AdditionalInventorsValidated</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createdDisclosure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentDocumentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Finalstrofmentorswithsemicoolun</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>firstInventor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstuser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HierarchyIDF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HierarcyRolePPAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Hierarchy_Role__c</objectType>
    </variables>
    <variables>
        <name>HomePage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IDF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inventionprogram</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Inventors</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Additional_Inventor__c</objectType>
    </variables>
    <variables>
        <name>InventorUserIDtoShare</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Invmentor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invstage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listofRelatedMentorsName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SymphonyIPM__Inventor__c</objectType>
    </variables>
    <variables>
        <name>Looped_Inventor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Additional_Inventor__c</objectType>
    </variables>
    <variables>
        <name>loopthroughmentors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lstAdditionalInvFinal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SymphonyIPM__Additional_Inventor__c</objectType>
    </variables>
    <variables>
        <name>lstDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>Lstmentors</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lstmentors1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lstObjAdditionalInv</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Additional_Inventor__c</objectType>
    </variables>
    <variables>
        <name>lstSelectedDocuments</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstSelectedInventorIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstSelectedInventors</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mentorstring1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>objAdditionInventor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Additional_Inventor__c</objectType>
    </variables>
    <variables>
        <name>PersonInventors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Inventor__c</objectType>
    </variables>
    <variables>
        <name>PPAEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PrimaryHierarchyRoleUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primaryinv</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primaryinventor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryPPAEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qAltImplementations</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qDetailedDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qInventionAdvantages</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qInventiveFeatures</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que21</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que21checkbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que22</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que22checkbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que23</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que230</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que230checkbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que23checkbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que24</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que24checkbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que25</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que25checkbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que26</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que26checkbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que270</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que271</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que271checkbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que272</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que272checkbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que273</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que273check</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que273checkbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que274</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que274check</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que275</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que275checkbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Que27Echeckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>que3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuestAnswer1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuestAnswer2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuestAnswer3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuestAnswer4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>questionCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedmentorsName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sAddInventor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SymphonyIPM__Additional_Inventor__c</objectType>
    </variables>
    <variables>
        <name>SaveAs</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>scHierarchyReviewers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Hierarchy_Role__c</objectType>
    </variables>
    <variables>
        <name>sCurrentQuestion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Disclosure_Questions__mdt</objectType>
    </variables>
    <variables>
        <name>sCurrentReviewer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Hierarchy_Role__c</objectType>
    </variables>
    <variables>
        <name>SelectedDocuments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>selected additional inventor ids stored</description>
        <name>selectedInventorIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedTechPath</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SinglePPA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Hierarchy_Role__c</objectType>
    </variables>
    <variables>
        <name>sQuestionText</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Disclosure_Questions__mdt</objectType>
    </variables>
    <variables>
        <name>stage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Submit2</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>techpath</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TempDocLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>Title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>todaydate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UpdateMentorIDS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>uploadedDocumentIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uploadedDocumentIDsStr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uploadedFileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>USACountryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedInventorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedInventors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vEachInventor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vSelectedCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
