force-app/main/default/flows/InventorsNew.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_EID_List</name>
        <label>Add to EID List</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>InventorEIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AdditionalInventor.SymphonyIPM__Employee_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_All_Additional_Inventors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EID_List_to_String_Assignment</name>
        <label>EID List to String Assignment</label>
        <locationX>264</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>EIDString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EIDFormulaString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EID_List_to_String</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_of_inventors</name>
        <label>List of inventors</label>
        <locationX>396</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>AdditionalInventorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AdditionalInventor.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EID_not_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_to_String_Assignment</name>
        <label>Name List to String Assignment</label>
        <locationX>264</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>NameString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameFormulaString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>List_to_String</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>EID_not_empty</name>
        <label>EID not empty</label>
        <locationX>396</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>For_All_Additional_Inventors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AdditionalInventor.SymphonyIPM__Employee_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AdditionalInventor.SymphonyIPM__Employee_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>UnknwnMgr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AdditionalInventor.SymphonyIPM__Employee_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>UNKNOWN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_EID_List</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EIDFormulaString</name>
        <dataType>String</dataType>
        <expression>if({!EIDString}==null,{!EIDLoopingVariable},{!EIDString}+&apos;,&apos;+{!EIDLoopingVariable})</expression>
    </formulas>
    <formulas>
        <name>NameFormulaString</name>
        <dataType>String</dataType>
        <expression>if({!NameString}==null,{!NameLoopingVariable},{!NameString}+&apos;, &apos;+{!NameLoopingVariable})</expression>
    </formulas>
    <interviewLabel>Inventors {!$Flow.CurrentDateTime}</interviewLabel>
    <label>InventorsNew</label>
    <loops>
        <name>EID_List_to_String</name>
        <label>EID List to String</label>
        <locationX>176</locationX>
        <locationY>1526</locationY>
        <assignNextValueToReference>EIDLoopingVariable</assignNextValueToReference>
        <collectionReference>InventorEIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>EID_List_to_String_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Inventors</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_All_Additional_Inventors</name>
        <label>For All Additional Inventors</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNextValueToReference>sOtherInventor</assignNextValueToReference>
        <collectionReference>sOtherInventors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_User_ID_for_Additional_Inventor</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>List_to_String</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>List_to_String</name>
        <label>Name List to String</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <assignNextValueToReference>NameLoopingVariable</assignNextValueToReference>
        <collectionReference>AdditionalInventorList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>List_to_String_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EID_List_to_String</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_All_Additional_Inventors</name>
        <label>Find All Additional Inventors</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_All_Additional_Inventors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Invention_Disclosure_New__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentIDF.Id</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Additional_Inventor__c</object>
        <outputReference>sOtherInventors</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyIPM__Inventor__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_IDF</name>
        <label>Get Current IDF</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_All_Additional_Inventors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDFrecordID</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
        <outputReference>CurrentIDF</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyIPM__Primary_Inventor__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User_ID_for_Additional_Inventor</name>
        <label>Get User ID for Additional Inventor</label>
        <locationX>396</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>List_of_inventors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sOtherInventor.SymphonyIPM__Inventor__c</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Inventor__c</object>
        <outputReference>AdditionalInventor</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SymphonyIPM__Employee_ID__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inventors</name>
        <label>Update Inventors</label>
        <locationX>176</locationX>
        <locationY>1862</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentIDF.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inventors__c</field>
            <value>
                <elementReference>NameString</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UHG_Employee_IDs__c</field>
            <value>
                <elementReference>EIDString</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_IDF</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AdditioanlInventorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdditionalInventor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SymphonyIPM__Inventor__c</objectType>
    </variables>
    <variables>
        <name>AdditionalInventorList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentIDF</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Invention_Disclosure_New__c</objectType>
    </variables>
    <variables>
        <name>EIDLoopingVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EIDString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDFrecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InventorEIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NameLoopingVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NameString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OtherInventorUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sOtherInventor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Additional_Inventor__c</objectType>
    </variables>
    <variables>
        <name>sOtherInventors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Additional_Inventor__c</objectType>
    </variables>
</Flow>
