force-app/main/default/flows/Invention_Disclosure_Submission_New_2020.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Create_Additional_Inventors</name>
        <label>Call Create Additional Inventors</label>
        <locationX>2082</locationX>
        <locationY>967</locationY>
        <actionName>HandleCreationOfAdditionalInventors</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_MSP_to_Variable1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>InputFromApex</name>
            <value>
                <elementReference>fInputToApex</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_First_Doc_Id_from_Left</name>
        <label>Add First Doc Id from Left</label>
        <locationX>1068</locationX>
        <locationY>725</locationY>
        <assignmentItems>
            <assignToReference>lstSelectedDocuments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>firstNameFromLeft1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Id_from_Left</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_First_Name_from_Left</name>
        <label>Add First Name from Left</label>
        <locationX>2208</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>lstSelectedInventors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>firstNameFromLeft</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListSelectedInventorsInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FirstNameFromLeftInvInfo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Name_from_Left</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddDocsLinks2</name>
        <label>AddDocsLinks2</label>
        <locationX>1288</locationX>
        <locationY>1275</locationY>
        <assignmentItems>
            <assignToReference>lstDocumentLink</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempDocLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Document_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddDocssLink</name>
        <label>AddDocssLink</label>
        <locationX>1325</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>TempDocLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentDocumentID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempDocLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IDF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempDocLink.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>I</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempDocLink.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddDocsLinks2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_list_element</name>
        <label>Assign list element</label>
        <locationX>3220</locationX>
        <locationY>801</locationY>
        <assignmentItems>
            <assignToReference>InvInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvInfoLoopVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MSP_to_Variable</name>
        <label>Assign MSP to Variable</label>
        <locationX>2129</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>vSelectedUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textAddInventors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSelectedInventorsInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textInventorsInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>INventorIdsParsed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MSP_to_Variable1</name>
        <label>Assign MSP to Variable For Documents</label>
        <locationX>1857</locationX>
        <locationY>973</locationY>
        <assignmentItems>
            <assignToReference>SelectedDocuments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddSelectedDoc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Documents_Uploaded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_start_index</name>
        <label>Assign start index</label>
        <locationX>2270</locationX>
        <locationY>916</locationY>
        <assignmentItems>
            <assignToReference>DisplayOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_start_value</name>
        <label>Assign start value</label>
        <locationX>2665</locationX>
        <locationY>777</locationY>
        <assignmentItems>
            <assignToReference>DisplayOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDisplayOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Inventors_Info_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_string</name>
        <label>Assign : to string</label>
        <locationX>3221</locationX>
        <locationY>961</locationY>
        <assignmentItems>
            <assignToReference>vSelectedInvFromList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textSingleInvInfo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Split_from_end_of_the_string</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_true</name>
        <label>Assign true</label>
        <locationX>3649</locationX>
        <locationY>1586</locationY>
        <assignmentItems>
            <assignToReference>IsPrimaryChk</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrimaryInventorFromList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>checkifPrimaryInventorSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>INventorIdsParsed_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value</name>
        <label>Assign Value</label>
        <locationX>1347</locationX>
        <locationY>475</locationY>
        <assignmentItems>
            <assignToReference>FundingSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PRB/Central Budget</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPdatetheMentorID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_0</name>
        <label>Assign Value</label>
        <locationX>1199</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>FundingSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Business Segment </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPdatetheMentorID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignfalse</name>
        <label>Assign false</label>
        <locationX>3596</locationX>
        <locationY>1312</locationY>
        <assignmentItems>
            <assignToReference>IsPrimaryChk</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>INventorIdsParsed_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignIDFtoAdditionalInv</name>
        <label>AssignIDFtoAdditionalInv</label>
        <locationX>3168</locationX>
        <locationY>1160</locationY>
        <assignmentItems>
            <assignToReference>Looped_Inventor.SymphonyIPM__Invention_Disclosure_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IDF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Looped_Inventor.SymphonyIPM__Inventor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Looped_Inventor.SymphonyIPM__shared__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Looped_Inventor.SymphonyIPM__Inventor_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InventorsEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Looped_Inventor.Is_Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsPrimaryChk</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Looped_Inventor.Role_In_Conception__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoleOfConception</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Looped_Inventor.Inventors_Display_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DisplayOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_toFinalList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignLstTostr</name>
        <label>assignLstTostr</label>
        <locationX>779</locationX>
        <locationY>461</locationY>
        <assignmentItems>
            <assignToReference>mentorstring1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>listofRelatedMentorsName.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopmentors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMentorIDs</name>
        <label>AssignMentorIDs</label>
        <locationX>2137</locationX>
        <locationY>780</locationY>
        <assignmentItems>
            <assignToReference>vSingleMentor.InventionDisclosure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IDF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSingleMentor.Mentor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopMentorIDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssigntoMentorList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignstrtoLSt</name>
        <label>AssignstrtoLSt</label>
        <locationX>969</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>Lstmentors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FirstIdfromstr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RemoveIDfromSTR_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigntheallMentorswith</name>
        <label>AssigntheallMentorswith,</label>
        <locationX>911</locationX>
        <locationY>711</locationY>
        <assignmentItems>
            <assignToReference>Finalstrofmentorswithsemicoolun</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddwithsemicolunLSTtoSTR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopmentorsthroughlist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigntoMentorList</name>
        <label>AssigntoMentorList</label>
        <locationX>2241</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>vListMentor</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vSingleMentor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopMentorIDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignwithsemicolon</name>
        <label>assignwithsemicolon</label>
        <locationX>1089</locationX>
        <locationY>177</locationY>
        <assignmentItems>
            <assignToReference>Invmentor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAddsemicolon</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fetchMentorIDS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_toFinalList</name>
        <label>Copy toFinalList</label>
        <locationX>3016</locationX>
        <locationY>1021</locationY>
        <assignmentItems>
            <assignToReference>lstAdditionalInvFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looped_Inventor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Inventors_Info_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_toFinalList_0</name>
        <label>Copy toFinalList</label>
        <locationX>3309</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>AdditionalInventorsValidated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InvName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_InventorIdsList_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_from_the_end_the_added_values</name>
        <label>Remove from the end the added values</label>
        <locationX>3467</locationX>
        <locationY>967</locationY>
        <assignmentItems>
            <assignToReference>vSelectedInvFromList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemovedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_the_added_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_from_the_end_the_added_values_0</name>
        <label>Remove from the end the added values</label>
        <locationX>4067</locationX>
        <locationY>968</locationY>
        <assignmentItems>
            <assignToReference>vSelectedInvFromList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemovedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_the_added_value_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_from_the_end_the_added_values_0_0</name>
        <label>Remove from the end the added values</label>
        <locationX>3930</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>vSelectedInvFromList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemovedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_the_added_value_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Id_from_Left</name>
        <label>Remove Id from Left</label>
        <locationX>1328</locationX>
        <locationY>828</locationY>
        <assignmentItems>
            <assignToReference>SelectedDocuments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>removeNameFromLeft1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>INventorIdsParsed_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Name_from_Left</name>
        <label>Remove Name from Left</label>
        <locationX>2482</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>vSelectedUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>removeNameFromLeft</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSelectedInventorsInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>removefromleftInvInfo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>INventorIdsParsed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_the_added_value</name>
        <label>Remove the added value</label>
        <locationX>3660</locationX>
        <locationY>859</locationY>
        <assignmentItems>
            <assignToReference>SingleInvInfoList</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>INventorIdsParsed_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_the_added_value_0</name>
        <label>Remove the added value</label>
        <locationX>4265</locationX>
        <locationY>804</locationY>
        <assignmentItems>
            <assignToReference>SingleInvInfoList</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>INventorIdsParsed_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_the_added_value_0_0</name>
        <label>Remove the added value</label>
        <locationX>3930</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>SingleInvInfoList</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Is_Primary_is_false_or_true</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RemoveIDfromSTR_1</name>
        <label>RemoveIDfromSTR</label>
        <locationX>612</locationX>
        <locationY>195</locationY>
        <assignmentItems>
            <assignToReference>Invmentor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveIDfromstr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fetchMentorIDS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Split_from_end_of_the_string</name>
        <label>Split from end of the string</label>
        <locationX>3467</locationX>
        <locationY>786</locationY>
        <assignmentItems>
            <assignToReference>SingleInvInfoList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddFromEndEachValueOfInv</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddFromEndEachValueOfInv</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_from_the_end_the_added_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Split_from_end_of_the_string_0</name>
        <label>Split from end of the string</label>
        <locationX>4069</locationX>
        <locationY>801</locationY>
        <assignmentItems>
            <assignToReference>RoleOfConception</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddFromEndEachValueOfInv</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInvInfoList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddFromEndEachValueOfInv</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_from_the_end_the_added_values_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Split_from_end_of_the_string_0_0</name>
        <label>Split from end of the string</label>
        <locationX>4126</locationX>
        <locationY>1617</locationY>
        <assignmentItems>
            <assignToReference>IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddFromEndEachValueOfInv</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInvInfoList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddFromEndEachValueOfInv</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_from_the_end_the_added_values_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Split_from_end_of_the_string_0_0_0</name>
        <label>Split from end of the string</label>
        <locationX>3364</locationX>
        <locationY>1192</locationY>
        <assignmentItems>
            <assignToReference>InventorsEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddFromEndEachValueOfInv</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignIDFtoAdditionalInv</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updatethefield</name>
        <label>updatethefield</label>
        <locationX>1216</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>UpdateMentorIDS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Invmentor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignwithsemicolon</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Save</name>
        <choiceText>Save as draft</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Just save it for now, I will submit it later</stringValue>
        </value>
    </choices>
    <choices>
        <name>Select_One</name>
        <choiceText>Select One</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Submit</name>
        <choiceText>Submit the disclosure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I&apos;m happy with the disclosure, go ahead and process it</stringValue>
        </value>
    </choices>
    <choices>
        <name>USA</name>
        <choiceText>USA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>USA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>EnterSearchTerm</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <name>SelectOne</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Enter a Keyword to Filter By</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Additional_Inventors_been_selected</name>
        <label>Additional Inventors been selected</label>
        <locationX>2180</locationX>
        <locationY>1071</locationY>
        <defaultConnectorLabel>No Additional Inventors Selected</defaultConnectorLabel>
        <rules>
            <name>Additional_Inventors_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstSelectedInventors</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Additional Inventors Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_additional_inventors_exists</name>
        <label>Check if additional inventors exists</label>
        <locationX>2288</locationX>
        <locationY>1245</locationY>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstAdditionalInvFinal</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Documents_Uploaded</name>
        <label>Check If Documents Uploaded</label>
        <locationX>1691</locationX>
        <locationY>865</locationY>
        <defaultConnector>
            <targetReference>INventorIdsParsed_01</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Documents Selected</defaultConnectorLabel>
        <rules>
            <name>No_Documents_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedDocuments</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SaveorSubmit</targetReference>
            </connector>
            <label>No Documents Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Inventors_Selected</name>
        <label>Check if Inventors Selected</label>
        <locationX>1382</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Assign_MSP_to_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inventors Selected</defaultConnectorLabel>
        <rules>
            <name>No_Inventors_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedInventorIDs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Disclsoure_Record</targetReference>
            </connector>
            <label>No Inventors Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Path_IC_is_the_logged_in_user</name>
        <label>Check if Path IC is the logged in user</label>
        <locationX>2008</locationX>
        <locationY>1606</locationY>
        <defaultConnector>
            <targetReference>Share_IDF_with_IC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Path IC is not the logged in user</defaultConnectorLabel>
        <rules>
            <name>Path_IC_is_the_logged_in_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fL15PathIC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vUserID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Hierarchy_ICs</targetReference>
            </connector>
            <label>Path IC is the logged in user</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check IF Path reviewer is the log in</description>
        <name>Check_IF_Path_reviewer_is_the_log_in</name>
        <label>Check IF Path reviewer is the log in</label>
        <locationX>2042</locationX>
        <locationY>2144</locationY>
        <defaultConnector>
            <targetReference>Get_User_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Path Reviewer not logged in Reviewer</defaultConnectorLabel>
        <rules>
            <name>Path_reviewer_is_the_Logged_in_reviewer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FLreviewer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vUserID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_all_Reviewers</targetReference>
            </connector>
            <label>Path reviewer is the Logged in reviewer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_primary_inventor_selected</name>
        <label>Check primary inventor selected</label>
        <locationX>2321</locationX>
        <locationY>977</locationY>
        <defaultConnector>
            <targetReference>Update_Primary_Inventor_of_the_Disclosure_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkifPrimaryInventorSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Primary_Inventor_of_the_Disclosure</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Radio_button_for_funding_source</name>
        <label>Check Radio button for funding source</label>
        <locationX>1240</locationX>
        <locationY>294</locationY>
        <defaultConnector>
            <targetReference>Assign_Value_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Business Segment</defaultConnectorLabel>
        <rules>
            <name>Central</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inventionprogram</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value</targetReference>
            </connector>
            <label>Central</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_user_is_active</name>
        <label>Check user is active</label>
        <locationX>2665</locationX>
        <locationY>1594</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Additional_Inventors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsActiveUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_IDF_with_Inventors</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_user_is_active_0</name>
        <label>Check user is active</label>
        <locationX>2342</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_Reviewers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsActiveReviwer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_IDF_with_Reviewers</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_user_is_active_0_0</name>
        <label>Check user is active</label>
        <locationX>2535</locationX>
        <locationY>2088</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_all_the_Business_Users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsActiveBU</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_IDF_to_BU</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_is_the_current_record_owner</name>
        <label>Check User is the current record owner</label>
        <locationX>2711</locationX>
        <locationY>1460</locationY>
        <defaultConnector>
            <targetReference>Check_user_is_active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerIdOfIDF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InventorUserIDtoShare</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Additional_Inventors</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_whether_id_contains_in_concatenated_list</name>
        <label>Check whether id contains in concatenated list</label>
        <locationX>3004</locationX>
        <locationY>789</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Inventors_Info_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvInfoLoopVar</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>InvName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_list_element</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_whether_it_is_clicked_from_home_page_or_not</name>
        <label>Check whether it is clicked from home page or not</label>
        <locationX>1793</locationX>
        <locationY>473</locationY>
        <defaultConnector>
            <targetReference>InstructionScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Home_Page</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HomePage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invention_Disclosure_Interview_Step_1_0</targetReference>
            </connector>
            <label>Home Page</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckNullInventorUserId</name>
        <label>CheckNullInventorUserId</label>
        <locationX>2867</locationX>
        <locationY>1337</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Additional_Inventors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Inventor UserId Is Null</defaultConnectorLabel>
        <rules>
            <name>If_Inventor_UserId_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InventorUserIDtoShare</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InventorUserIDtoShare</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InventorUserIDtoShare</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UserID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_user</targetReference>
            </connector>
            <label>If Inventor UserId Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CurrentUserProfileChk</name>
        <label>CurrentUserProfileChk</label>
        <locationX>2613</locationX>
        <locationY>1121</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NotInventorProfile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>firstuserid</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>vUserID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Share_IDF_with_FirstInventors_0</targetReference>
            </connector>
            <label>NotInventorProfile</label>
        </rules>
    </decisions>
    <decisions>
        <name>fetchMentorIDS</name>
        <label>fetchMentorIDS</label>
        <locationX>915</locationX>
        <locationY>182</locationY>
        <defaultConnector>
            <targetReference>AssignstrtoLSt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invmentor</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>loopmentors</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FirstNameInventorIdcheck</name>
        <label>FirstNameInventorIdcheck</label>
        <locationX>3293</locationX>
        <locationY>531</locationY>
        <defaultConnector>
            <targetReference>Iterate_InventorIdsList_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes005</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>firstInventor</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_toFinalList_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_any_documents_been_attached</name>
        <label>Have any documents been attached</label>
        <locationX>1501</locationX>
        <locationY>858</locationY>
        <defaultConnector>
            <targetReference>Loop_over_Document_IDs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Documents attached</defaultConnectorLabel>
        <rules>
            <name>No_documents_attached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>uploadedDocumentIDsStr</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SaveorSubmit</targetReference>
            </connector>
            <label>No  documents attached</label>
        </rules>
    </decisions>
    <decisions>
        <name>INventorIdsParsed</name>
        <label>Inventor Ids Parsed?</label>
        <locationX>2308</locationX>
        <locationY>602</locationY>
        <defaultConnector>
            <targetReference>Add_First_Name_from_Left</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesParsed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSelectedUser</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>vSelectedInventorsInfo</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_New_Disclsoure_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>INventorIdsParsed_0</name>
        <label>Inventor Ids Parsed?</label>
        <locationX>3851</locationX>
        <locationY>861</locationY>
        <defaultConnector>
            <targetReference>Split_from_end_of_the_string_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesParsed_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSelectedInvFromList</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>INventorIdsParsed_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>INventorIdsParsed_01</name>
        <label>Inventor Ids Parsed?</label>
        <locationX>1275</locationX>
        <locationY>712</locationY>
        <defaultConnector>
            <targetReference>Add_First_Doc_Id_from_Left</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesParsed_01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedDocuments</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Have_any_documents_been_attached</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>INventorIdsParsed_0_0</name>
        <label>Inventor Ids Parsed?</label>
        <locationX>4116</locationX>
        <locationY>1301</locationY>
        <defaultConnector>
            <targetReference>Split_from_end_of_the_string_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesParsed_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSelectedInvFromList</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Is_Primary_is_false_or_true</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>INventorIdsParsed_0_0_0</name>
        <label>Inventor Ids Parsed?</label>
        <locationX>3195</locationX>
        <locationY>1445</locationY>
        <defaultConnector>
            <targetReference>Split_from_end_of_the_string_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesParsed_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSelectedInvFromList</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Inventors_Info_list</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Primary_is_false_or_true</name>
        <label>Is Primary is false or true</label>
        <locationX>3791</locationX>
        <locationY>1309</locationY>
        <defaultConnector>
            <targetReference>Assignfalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>true</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_true</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Path  Business User is the Logged-in User</description>
        <name>Path_Business_User_is_the_Logged_in_User</name>
        <label>Path  Business User is the Logged in User</label>
        <locationX>2218</locationX>
        <locationY>2209</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_all_the_Business_Users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Path_Business_User_is_the_Logged_in_Business_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FLBusinessuser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vUserID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_all_the_Business_Users</targetReference>
            </connector>
            <label>Path  Business User is the Logged-in Business User</label>
        </rules>
        <rules>
            <name>Path_User_is_not_logged_in_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FLBusinessuser</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>vUserID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Status_0</targetReference>
            </connector>
            <label>Path User is not logged in User</label>
        </rules>
    </decisions>
    <decisions>
        <name>SaveorSubmit</name>
        <label>SaveorSubmit</label>
        <locationX>1718</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Update_IDF_Submit_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Submit Disclosure</defaultConnectorLabel>
        <rules>
            <name>Save_Disclosure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SaveAs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Primary_Hierarchy_Role</targetReference>
            </connector>
            <label>Save Disclosure</label>
        </rules>
    </decisions>
    <decisions>
        <name>UPdatetheMentorID</name>
        <label>UPdatetheMentorID</label>
        <locationX>1058</locationX>
        <locationY>391</locationY>
        <defaultConnector>
            <targetReference>Check_if_Inventors_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Empty</defaultConnectorLabel>
        <rules>
            <name>Is_mentor_id_field_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invmentor</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>updatethefield</targetReference>
            </connector>
            <label>Is mentor id field not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Inventor_Check</name>
        <label>Valid Inventor Check</label>
        <locationX>1036</locationX>
        <locationY>622</locationY>
        <defaultConnectorLabel>Invalid Inventor</defaultConnectorLabel>
        <rules>
            <name>Valid_Inventor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>firstInventor</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Valid Inventor</label>
        </rules>
    </decisions>
    <description>Removed disclosure sharing with hierarchy role users - 14/07/2020
Fix to resolve primary inventor update while submit - Leena 12/06/2020
Fix to add more inventors and avoid soql limit exception. - [Leena - 04/06/2020]
Fix to remove default as &quot;no&quot; for checkboxes from 2.1 to 2.7 on &quot;save as draft&quot; - Leena [7/5/2020]
Inventors Display fix - Leena 6/5/2020
changes made to fix duplicate inventors - leena (23/04/2020)
Added null check before looping over additional inventors - 15/4/2020
sync in top and bottom submit --[Asma]
Removed rowcause for all sharing records.[Juveria 10-04-2020]
Added ISActive check for BU and Reviewer and removed next and previous button&gt;&gt;&gt;&gt; [Juveria 06-04-2020]
Added IsActive check for user before creating share records and checked whether the user id for creating share record is the Owner of the record. [Leena - 06/04/2020].
Changes made for replacing save button while adding inventors [Leena - 03/04/2020]
changed the checkbox to radio button&gt;&gt;&gt;[Asma 01/04/2020]
Changed the row cause for the users in the hierarchy and additional inventors..&gt;&gt;&gt;&gt;[Juveria  31-03-2020]
Added Managing Segment picklist type field by removing the global value set assigned picklist Managing Segment field. Leena 24/03/2020
Added Managing Segment in the form - Leena - 16/03/2020
Rearranged the Contributor Information as Inventor ,Primary Contactand Mentor
Rearranged the Contributor Information as Primary Contact, Inventor and Mentor and changed funding source from checkbox to radio button--13-02-2020
Changed the value passed to the additional inventors component as string - Strfalse Leena-02/02/2020
Addition of new 24th question based on requirement - Asma- 04/02/2020
Changed sharing to the same user -24/02/2020
Sharing For Business User

Checking the profiles of Logged in user such as business user and reviewer and restricting the sharing access- (Checked and changed)
Reviewer Unable to Submit the Disclosure - Fixed

UHG IPLegal Updation

Updated the IDF card with : Contact Eva Wood in IPLegal (IPLegal@uhg.com or 952-205-6063)

Sharing the Record with Multiple Reviewers, BU which are present on the path.
 Formatted the Screen Flow of the instructions.
Summary field Added in Create Invention Disclosure Screen by MVSL1383
Business Value field added in Create Invention Disclosure Screen by MVSL1393
First Use Date field Added  by MVSL1383
First External Use Date field Added  by MVSL1383
Date of earliest planned use field Added by MVSL1383</description>
    <dynamicChoiceSets>
        <name>allInventors</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventor</stringValue>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__User__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>vUserID</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Inventor__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>allPaths</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>SymphonyIPM__Hierarchy__c</object>
        <outputAssignments>
            <assignToReference>selectedTechPath</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AvailableCountries</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>SymphonyIPM__Country__c</object>
        <outputAssignments>
            <assignToReference>vSelectedCountry</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>SymphonyIPM__Sorting_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>filteredTechPathbyKeywordandParent</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
        </filters>
        <object>SymphonyIPM__Hierarchy__c</object>
        <outputAssignments>
            <assignToReference>selectedTechPath</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>filteredTechPaths</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
        </filters>
        <object>SymphonyIPM__Hierarchy__c</object>
        <outputAssignments>
            <assignToReference>selectedTechPath</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>filteredTechPathsbyWord</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
        </filters>
        <object>SymphonyIPM__Hierarchy__c</object>
        <outputAssignments>
            <assignToReference>selectedTechPath</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>parentHierarchyNodes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Parent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SymphonyIPM__Hierarchy__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AddFromEndEachValueOfInv</name>
        <dataType>String</dataType>
        <expression>LEFT({!vSelectedInvFromList}, (FIND(&quot;;&quot;, {!vSelectedInvFromList})-1))</expression>
    </formulas>
    <formulas>
        <name>AddSelectedDoc</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!uploadedDocumentIDsStr},&quot;,&quot;,&quot;; &quot;) &amp; &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>AddwithsemicolunLSTtoSTR</name>
        <dataType>String</dataType>
        <expression>if({!Finalstrofmentorswithsemicoolun}==null,{!loopthroughmentors},{!Finalstrofmentorswithsemicoolun}+&apos;,&apos;+&apos; &apos;+{!loopthroughmentors})</expression>
    </formulas>
    <formulas>
        <name>CurrentProfile</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <name>fAddsemicolon</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Invmentor},&quot;,&quot;,&quot;; &quot;) &amp; &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>fColonSelectedInventors</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!varSelectedInventors}, &quot;; &quot;, &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>fDisplayOrder</name>
        <dataType>Number</dataType>
        <expression>{!DisplayOrder} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fFirst15char</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!vSelectedUser}, 18))</expression>
    </formulas>
    <formulas>
        <name>fInputToApex</name>
        <dataType>String</dataType>
        <expression>{!IDF}+&apos;-&apos;+{!StrSelectedInventorInformation}</expression>
    </formulas>
    <formulas>
        <name>FirstIdfromstr</name>
        <dataType>String</dataType>
        <expression>LEFT({!Invmentor}, (FIND(&quot;;&quot;, {!Invmentor})-1))</expression>
    </formulas>
    <formulas>
        <name>firstNameFromLeft</name>
        <dataType>String</dataType>
        <expression>LEFT({!vSelectedUser}, (FIND(&quot;;&quot;, {!vSelectedUser})-1))</expression>
    </formulas>
    <formulas>
        <name>firstNameFromLeft1</name>
        <dataType>String</dataType>
        <expression>LEFT({!SelectedDocuments}, (FIND(&quot;;&quot;, {!SelectedDocuments})-1))</expression>
    </formulas>
    <formulas>
        <name>FirstNameFromLeftInvInfo</name>
        <dataType>String</dataType>
        <expression>LEFT({!vSelectedInventorsInfo}, (FIND(&quot;;&quot;, {!vSelectedInventorsInfo})-1))</expression>
    </formulas>
    <formulas>
        <name>firstuserid</name>
        <dataType>String</dataType>
        <expression>LEFT({!firstuser},15)</expression>
    </formulas>
    <formulas>
        <name>fL15PathIC</name>
        <dataType>String</dataType>
        <expression>LEFT({!SinglePPA.SymphonyIPM__User__c}, 15)</expression>
    </formulas>
    <formulas>
        <name>FLBusinessuser</name>
        <dataType>String</dataType>
        <expression>LEFT({!CurrentBU1.SymphonyIPM__User__c}, 15)</expression>
    </formulas>
    <formulas>
        <name>FLreviewer</name>
        <dataType>String</dataType>
        <expression>LEFT({!sCurrentReviewer.SymphonyIPM__User__c}, 15)</expression>
    </formulas>
    <formulas>
        <name>fRemoveFirst15</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!vSelectedUser},{!fFirst15char}, &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>fSelectedInv</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!selectedInventorIDs}, &quot;, &quot;, &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>Invention_Title_Temp</name>
        <dataType>String</dataType>
        <expression>{!$User.Alias} + &quot;-&quot;  + TEXT({!$System.OriginDateTime})</expression>
    </formulas>
    <formulas>
        <name>IsCompetingProducts26radioboolean</name>
        <dataType>Boolean</dataType>
        <expression>IF({!CompetingProducts26radio}==&quot;true&quot;,true,false)</expression>
    </formulas>
    <formulas>
        <name>IsconfentialityBoolean</name>
        <dataType>Boolean</dataType>
        <expression>IF({!ThirdPartyConfidentiality24radio}==&quot;true&quot;,true,false)</expression>
    </formulas>
    <formulas>
        <name>IsContributionBoolean</name>
        <dataType>Boolean</dataType>
        <expression>IF({!ThirdPartyContributions27radio}==&quot;true&quot;,true,false)</expression>
    </formulas>
    <formulas>
        <name>Iscurrentcommercial23</name>
        <dataType>Boolean</dataType>
        <expression>IF({!CurrentCommercial23radio}==&quot;true&quot;, true, false)</expression>
    </formulas>
    <formulas>
        <name>IsDontknowboolean</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Dontknowradio}==&quot;true&quot;,true,false)</expression>
    </formulas>
    <formulas>
        <name>IsExternalboolean</name>
        <dataType>Boolean</dataType>
        <expression>IF({!useExternal230radio}==&quot;true&quot;,true,false)</expression>
    </formulas>
    <formulas>
        <name>IsFutureImplementation25boolean</name>
        <dataType>Boolean</dataType>
        <expression>IF({!FutureImplementation25radio}==&quot;true&quot;,true,false)</expression>
    </formulas>
    <formulas>
        <name>IsImpossibleBoolean</name>
        <dataType>Boolean</dataType>
        <expression>IF({!impossible28Dradio}==&quot;true&quot;,true,false)</expression>
    </formulas>
    <formulas>
        <name>IsLiteratureboolean</name>
        <dataType>Boolean</dataType>
        <expression>IF({!literature28Cradio}==&quot;true&quot;,true,false)</expression>
    </formulas>
    <formulas>
        <name>IsOtherBoolean</name>
        <dataType>Boolean</dataType>
        <expression>IF({!other28Fradio}==&quot;true&quot;,true,false)</expression>
    </formulas>
    <formulas>
        <name>IsPriorsubmissionBoolean</name>
        <dataType>Boolean</dataType>
        <expression>IF({!PriorQuestion21radio}==&quot;true&quot;,true,false)</expression>
    </formulas>
    <formulas>
        <name>IsPublicdisclosuresBoolean</name>
        <dataType>Boolean</dataType>
        <expression>IF({!publicDisclosurechk22radio}==&quot;true&quot;,true,false)</expression>
    </formulas>
    <formulas>
        <name>IsReverseboolean</name>
        <dataType>Boolean</dataType>
        <expression>IF({!ReverseEngineering28radio}==&quot;true&quot;,true,false)</expression>
    </formulas>
    <formulas>
        <name>IsTestingBoolean</name>
        <dataType>Boolean</dataType>
        <expression>IF({!competitivesolution28Bradio}==&quot;true&quot;,true,false)</expression>
    </formulas>
    <formulas>
        <name>que22datefield</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE ({!todaydate})</expression>
    </formulas>
    <formulas>
        <name>que23Datefield</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE ({!todaydate2})</expression>
    </formulas>
    <formulas>
        <name>que24Datefield</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE ({!todaydate3})</expression>
    </formulas>
    <formulas>
        <name>que25Datefield</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE ({!todaydate4})</expression>
    </formulas>
    <formulas>
        <name>RemovedValue</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!vSelectedInvFromList}, LEFT({!vSelectedInvFromList}, (FIND(&quot;;&quot;, {!vSelectedInvFromList})+1)), &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>removefromleftInvInfo</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!vSelectedInventorsInfo}, LEFT({!vSelectedInventorsInfo}, (FIND(&quot;;&quot;, {!vSelectedInventorsInfo})+1)), &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>RemoveIDfromstr</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!Invmentor}, LEFT({!Invmentor}, (FIND(&quot;;&quot;, {!Invmentor})+1)), &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>removeNameFromLeft</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!vSelectedUser}, LEFT({!vSelectedUser}, (FIND(&quot;;&quot;, {!vSelectedUser})+1)), &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>removeNameFromLeft1</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!SelectedDocuments}, LEFT({!SelectedDocuments}, (FIND(&quot;;&quot;, {!SelectedDocuments})+1)), &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>textAddInventors</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!selectedInventorIDs},&quot;,&quot;,&quot;; &quot;) &amp; &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>textInventorsInformation</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!StrSelectedInventorInformation},&quot;,&quot;,&quot;; &quot;) &amp; &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>textSingleInvInfo</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!InvInfo},&quot;:&quot;,&quot;; &quot;) &amp; &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>vUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Invention Disclosure Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invention Disclosure Submission_2021</label>
    <loops>
        <name>Iterate_Hierarchy_ICs</name>
        <label>Iterate Hierarchy ICs</label>
        <locationX>1753</locationX>
        <locationY>1597</locationY>
        <assignNextValueToReference>SinglePPA</assignNextValueToReference>
        <collectionReference>HierarcyRolePPAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Path_IC_is_the_logged_in_user</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Iterate_InventorIdsList</name>
        <label>Iterate InventorIdsList</label>
        <locationX>2600</locationX>
        <locationY>820</locationY>
        <assignNextValueToReference>InvName</assignNextValueToReference>
        <collectionReference>lstSelectedInventors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
    </loops>
    <loops>
        <name>Iterate_InventorIdsList_0</name>
        <label>Iterate InventorIdsList</label>
        <locationX>3298</locationX>
        <locationY>508</locationY>
        <assignNextValueToReference>InvName</assignNextValueToReference>
        <collectionReference>lstSelectedInventors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FirstNameInventorIdcheck</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_over_Document_IDs</name>
        <label>Loop over Document IDs</label>
        <locationX>1504</locationX>
        <locationY>1001</locationY>
        <assignNextValueToReference>currentDocumentID</assignNextValueToReference>
        <collectionReference>lstSelectedDocuments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddDocssLink</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateDocs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Inventors_Info_list</name>
        <label>Loop Over Inventors Info list</label>
        <locationX>2859</locationX>
        <locationY>906</locationY>
        <assignNextValueToReference>InvInfoLoopVar</assignNextValueToReference>
        <collectionReference>ListSelectedInventorsInfo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_whether_id_contains_in_concatenated_list</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_through_Additional_Inventors</name>
        <label>Loop through Additional Inventors</label>
        <locationX>2478</locationX>
        <locationY>1416</locationY>
        <assignNextValueToReference>sAddInventor</assignNextValueToReference>
        <collectionReference>lstAdditionalInvFinal</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_User_ID</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_through_all_Reviewers</name>
        <label>Loop through all Reviewers</label>
        <locationX>1698</locationX>
        <locationY>2073</locationY>
        <assignNextValueToReference>sCurrentReviewer</assignNextValueToReference>
        <collectionReference>scHierarchyReviewers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_IF_Path_reviewer_is_the_log_in</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Hierrarchy_Business_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_all_the_Business_Users</name>
        <label>Loop Through all the Business Users</label>
        <locationX>1987</locationX>
        <locationY>2356</locationY>
        <assignNextValueToReference>CurrentBU1</assignNextValueToReference>
        <collectionReference>Hierarchy_BusinessUser</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Path_Business_User_is_the_Logged_in_User</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>LoopMentorIDs</name>
        <label>LoopMentorIDs</label>
        <locationX>2036</locationX>
        <locationY>766</locationY>
        <collectionReference>Lstmentors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignMentorIDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Mentor_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopmentors</name>
        <label>loopmentors</label>
        <locationX>812</locationX>
        <locationY>215</locationY>
        <assignNextValueToReference>lstmentors1</assignNextValueToReference>
        <collectionReference>Lstmentors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getmentors</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopmentorsthroughlist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopmentorsthroughlist</name>
        <label>loopmentorsthroughlist</label>
        <locationX>861</locationX>
        <locationY>484</locationY>
        <assignNextValueToReference>loopthroughmentors</assignNextValueToReference>
        <collectionReference>mentorstring1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssigntheallMentorswith</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Inventors_Selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Mentor_Record</name>
        <label>Create Mentor Record</label>
        <locationX>2052</locationX>
        <locationY>853</locationY>
        <connector>
            <targetReference>Call_Create_Additional_Inventors</targetReference>
        </connector>
        <inputReference>vListMentor</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Disclsoure_Record</name>
        <label>Create New Disclsoure Record</label>
        <locationX>1766</locationX>
        <locationY>714</locationY>
        <assignRecordIdToReference>IDF</assignRecordIdToReference>
        <connector>
            <targetReference>ConvertMentorStringtoList</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Business_Segment__c</field>
            <value>
                <elementReference>InvManagingSegment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competing_Products_Solutions__c</field>
            <value>
                <elementReference>que25</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Commercial_Use__c</field>
            <value>
                <elementReference>que23</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Stage_of_Invention__c</field>
            <value>
                <elementReference>invstage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Don_t_know__c</field>
            <value>
                <elementReference>que275checkbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Use__c</field>
            <value>
                <elementReference>que230</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Source__c</field>
            <value>
                <elementReference>FundingSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Future_Implementation__c</field>
            <value>
                <elementReference>que24</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impossible_unless_3rd_party_admitted_use__c</field>
            <value>
                <elementReference>que273checkbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IndividualOrBusiness__c</field>
            <value>
                <elementReference>individual_or_bussiness</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invention_Description__c</field>
            <value>
                <elementReference>que1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Competing_Products_Solutions__c</field>
            <value>
                <elementReference>IsCompetingProducts26radioboolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Current_Commercisl__c</field>
            <value>
                <elementReference>Iscurrentcommercial23</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_External__c</field>
            <value>
                <elementReference>IsExternalboolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Future_Implementation__c</field>
            <value>
                <elementReference>IsFutureImplementation25boolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Prior_Submissions__c</field>
            <value>
                <elementReference>IsPriorsubmissionBoolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Public_Disclosure__c</field>
            <value>
                <elementReference>IsPublicdisclosuresBoolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Reading_Product_literature__c</field>
            <value>
                <elementReference>ReadingProductLitratureCheckbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Reverse_Engineering__c</field>
            <value>
                <elementReference>que271checkbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Testing_a_competitive_solution__c</field>
            <value>
                <elementReference>que272checkbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Third_Party_Confidentiality__c</field>
            <value>
                <elementReference>IsconfentialityBoolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Third_Party_Contribution__c</field>
            <value>
                <elementReference>IsContributionBoolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MentorsIDs__c</field>
            <value>
                <elementReference>UpdateMentorIDS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mentors__c</field>
            <value>
                <elementReference>Finalstrofmentorswithsemicoolun</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Invention_Title_Temp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Contact__c</field>
            <value>
                <elementReference>OtherContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Contribution__c</field>
            <value>
                <elementReference>other_contribution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Segment__c</field>
            <value>
                <elementReference>OtherBusinessSegment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other__c</field>
            <value>
                <elementReference>OtherCheckbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Others__c</field>
            <value>
                <elementReference>que275</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>primaryinv</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prior_Submission_Description__c</field>
            <value>
                <elementReference>que21</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Public_Disclosure_Date__c</field>
            <value>
                <elementReference>que22datefield</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Public_Disclosure__c</field>
            <value>
                <elementReference>que22</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reading_Product_literature__c</field>
            <value>
                <elementReference>que272</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reverse_Engineering__c</field>
            <value>
                <elementReference>que270</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Alternative_Implementations_New__c</field>
            <value>
                <elementReference>que4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Detailed_Description__c</field>
            <value>
                <elementReference>que2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Disclosure_State__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Disclosure_Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Hierarchy__c</field>
            <value>
                <elementReference>techpath</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Inventive_Features__c</field>
            <value>
                <elementReference>que3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Submitted_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Title__c</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Testing_a_competitive_solution__c</field>
            <value>
                <elementReference>que271</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Party_Confidentiality__c</field>
            <value>
                <elementReference>textque24added</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Party_Contribution__c</field>
            <value>
                <elementReference>que26</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UHG_Business_Value__c</field>
            <value>
                <elementReference>BusinessValueIDF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UHG_First_External_Use_Date__c</field>
            <value>
                <elementReference>que24Datefield</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UHG_First_Use_Date__c</field>
            <value>
                <elementReference>que23Datefield</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UHG_Future_Use_Date__c</field>
            <value>
                <elementReference>que25Datefield</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UHG_Summary__c</field>
            <value>
                <elementReference>vSummary</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateDocs</name>
        <label>CreateDocs</label>
        <locationX>1557</locationX>
        <locationY>1225</locationY>
        <connector>
            <targetReference>SaveorSubmit</targetReference>
        </connector>
        <inputReference>lstDocumentLink</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Additional_Inventors_List</name>
        <label>Insert Additional Inventors List</label>
        <locationX>2277</locationX>
        <locationY>1048</locationY>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>lstAdditionalInvFinal</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Share_IDF_to_BU</name>
        <label>Share IDF to BU</label>
        <locationX>2786</locationX>
        <locationY>2227</locationY>
        <connector>
            <targetReference>Loop_Through_all_the_Business_Users</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>IDF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>CurrentBU1.SymphonyIPM__User__c</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__Share</object>
    </recordCreates>
    <recordCreates>
        <name>Share_IDF_with_FirstInventors_0</name>
        <label>Share IDF with First Inventors</label>
        <locationX>2578</locationX>
        <locationY>1120</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>IDF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>firstuser</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__Share</object>
    </recordCreates>
    <recordCreates>
        <name>Share_IDF_with_IC</name>
        <label>Share IDF with IC</label>
        <locationX>2028</locationX>
        <locationY>1785</locationY>
        <connector>
            <targetReference>Iterate_Hierarchy_ICs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>IDF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>SinglePPA.SymphonyIPM__User__c</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__Share</object>
    </recordCreates>
    <recordCreates>
        <name>Share_IDF_with_Inventors</name>
        <label>Share IDF with Inventors</label>
        <locationX>2531</locationX>
        <locationY>1524</locationY>
        <connector>
            <targetReference>Loop_through_Additional_Inventors</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>sAddInventor.SymphonyIPM__Invention_Disclosure_New__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>InventorUserIDtoShare</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__Share</object>
    </recordCreates>
    <recordCreates>
        <name>Share_IDF_with_Reviewers</name>
        <label>Share IDF with Reviewers</label>
        <locationX>1986</locationX>
        <locationY>1935</locationY>
        <connector>
            <targetReference>Loop_through_all_Reviewers</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>IDF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>sCurrentReviewer.SymphonyIPM__User__c</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__Share</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Inventor</name>
        <label>Find Inventor</label>
        <locationX>1031</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventor</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Inventor__c</object>
        <outputAssignments>
            <assignToReference>firstInventor</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>firstuser</assignToReference>
            <field>SymphonyIPM__User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Inventor_ID</name>
        <label>Find Inventor ID</label>
        <locationX>3306</locationX>
        <locationY>502</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventor</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Inventor__c</object>
        <outputAssignments>
            <assignToReference>InvId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InventorsEmail</assignToReference>
            <field>SymphonyIPM__Email__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_User</name>
        <label>Find User</label>
        <locationX>1390</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Detailed_Description</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vUserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>vUserEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vUserName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Hierarchy_ICs</name>
        <label>Get All Hierarchy ICs</label>
        <locationX>1933</locationX>
        <locationY>1581</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Hierarchy_ICs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Hierarchy_Path__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>techpath</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UHG IP Legal</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Hierarchy_Role__c</object>
        <outputReference>HierarcyRolePPAs</outputReference>
        <queriedFields>SymphonyIPM__User__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Hierarchy_Reviewers</name>
        <label>Get all Hierarchy Reviewers</label>
        <locationX>1422</locationX>
        <locationY>2065</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_Reviewers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Hierarchy_Path__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>techpath</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reviewer</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Hierarchy_Role__c</object>
        <outputReference>scHierarchyReviewers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyIPM__User__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Detailed_Description</name>
        <label>Get Detailed Description</label>
        <locationX>1509</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Detailed_Description_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Question_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Detailed Description</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Disclosure_Questions__mdt</object>
        <outputAssignments>
            <assignToReference>qDetailedDescription</assignToReference>
            <field>SymphonyIPM__Question_Text__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Detailed_Description_0</name>
        <label>Get Detailed Description</label>
        <locationX>1683</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Detailed_Description_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Question_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventive Features</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Disclosure_Questions__mdt</object>
        <outputAssignments>
            <assignToReference>qInventiveFeatures</assignToReference>
            <field>SymphonyIPM__Question_Text__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Detailed_Description_0_0</name>
        <label>Get Detailed Description</label>
        <locationX>1806</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Detailed_Description_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Question_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invention Advantages</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Disclosure_Questions__mdt</object>
        <outputAssignments>
            <assignToReference>qInventionAdvantages</assignToReference>
            <field>SymphonyIPM__Question_Text__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Detailed_Description_0_0_0</name>
        <label>Get Detailed Description</label>
        <locationX>1955</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_whether_it_is_clicked_from_home_page_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Question_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alternative Implementations</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Disclosure_Questions__mdt</object>
        <outputAssignments>
            <assignToReference>qAltImplementations</assignToReference>
            <field>SymphonyIPM__Question_Text__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_disclosure_owner_id</name>
        <label>Get disclosure owner id</label>
        <locationX>2219</locationX>
        <locationY>1213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDF</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
        <outputAssignments>
            <assignToReference>OwnerIdOfIDF</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Hierrarchy_Business_Users</name>
        <label>Get Hierrarchy Business Users</label>
        <locationX>1775</locationX>
        <locationY>2286</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_all_the_Business_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Hierarchy_Path__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>techpath</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business User</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Hierarchy_Role__c</object>
        <outputReference>Hierarchy_BusinessUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyIPM__User__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Hierarchy_Role</name>
        <label>Get Primary Hierarchy Role</label>
        <locationX>1475</locationX>
        <locationY>1746</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Id_and_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Hierarchy_Path__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>techpath</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UHG IP Legal</stringValue>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__isPrimary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SymphonyIPM__Hierarchy_Role__c</object>
        <outputAssignments>
            <assignToReference>PrimaryHierarchyRoleUser</assignToReference>
            <field>SymphonyIPM__User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_user</name>
        <label>Get user</label>
        <locationX>2850</locationX>
        <locationY>1462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_is_the_current_record_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InventorUserIDtoShare</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>IsActiveUser</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_ID</name>
        <label>Get User ID</label>
        <locationX>2692</locationX>
        <locationY>1269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckNullInventorUserId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sAddInventor.SymphonyIPM__Inventor__c</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Inventor__c</object>
        <outputAssignments>
            <assignToReference>InventorUserIDtoShare</assignToReference>
            <field>SymphonyIPM__User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Id_and_Email</name>
        <label>Get User Id and Email</label>
        <locationX>1616</locationX>
        <locationY>1808</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_IC_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryHierarchyRoleUser</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>PrimaryPPAEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Status</name>
        <label>Get User Status</label>
        <locationX>2195</locationX>
        <locationY>2075</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_user_is_active_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sCurrentReviewer.SymphonyIPM__User__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>IsActiveReviwer</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Status_0</name>
        <label>Get User Status</label>
        <locationX>2428</locationX>
        <locationY>2155</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_user_is_active_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentBU1.SymphonyIPM__User__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>IsActiveBU</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getmentors</name>
        <label>getmentors</label>
        <locationX>609</locationX>
        <locationY>389</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignLstTostr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lstmentors1</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Inventor__c</object>
        <outputReference>listofRelatedMentorsName</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_IC_Details</name>
        <label>Update IC Details</label>
        <locationX>1727</locationX>
        <locationY>1891</locationY>
        <faultConnector>
            <targetReference>Error_Screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDF</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SymphonyIPM__PPA_EmailId__c</field>
            <value>
                <elementReference>PrimaryPPAEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UHG_IP_Legal__c</field>
            <value>
                <elementReference>PrimaryHierarchyRoleUser</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_IDF_Submit_Status</name>
        <label>Update IDF Submit Status</label>
        <locationX>1860</locationX>
        <locationY>1459</locationY>
        <connector>
            <targetReference>Get_Primary_Hierarchy_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDF</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SymphonyIPM__Disclosure_Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Submitted_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_Inventor_of_the_Disclosure</name>
        <label>Update Primary Inventor of the Disclosure</label>
        <locationX>2270</locationX>
        <locationY>958</locationY>
        <connector>
            <targetReference>Insert_Additional_Inventors_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDF</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SymphonyIPM__Primary_Inventor__c</field>
            <value>
                <elementReference>PrimaryInventorFromList</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_Inventor_of_the_Disclosure_0</name>
        <label>Update Primary Inventor of the Disclosure</label>
        <locationX>2358</locationX>
        <locationY>944</locationY>
        <connector>
            <targetReference>Insert_Additional_Inventors_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IDF</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SymphonyIPM__Primary_Inventor__c</field>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Occured</label>
        <locationX>2382</locationX>
        <locationY>1026</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErroMessage</name>
            <fieldText>Error occured in Flow, please contact System Administrator with this error message - {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_0</name>
        <label>Error Occured</label>
        <locationX>2507</locationX>
        <locationY>1854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErroMessage_0</name>
            <fieldText>Error occured in Flow, please contact System Administrator with this error message - {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_1</name>
        <label>Error Occured</label>
        <locationX>1947</locationX>
        <locationY>1047</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErroMessage_1</name>
            <fieldText>Error occured in Flow, please contact System Administrator with this error message - {!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InstructionScreen</name>
        <label>Instructions</label>
        <locationX>1655</locationX>
        <locationY>351</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Invention_Disclosure_Interview_Step_1_0</targetReference>
        </connector>
        <fields>
            <name>firstpoint</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;Provide as much detail as possible. Attach additional explanatory documents or materials (e.g.technical specifications, drawings, flowcharts, manuals, PPT presentations).&lt;/li&gt;&lt;li&gt;Timing is critical to patent protection.                                                                                                                                                                               &lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;b style=&quot;color: rgb(20, 69, 140);&quot;&gt;Talk to IP Legal Before Making a Public Disclosure.&lt;/b&gt; - If the invention is patentable, premature publication, commercial activity or other non-confidential disclosure may damage or preclude patent protection for your invention in  many countries, including the United States.&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-2&quot;&gt;&lt;b style=&quot;color: rgb(20, 69, 140);&quot;&gt;Disclose As Soon As The Invention Is Clearly Conceptualized.&lt;/b&gt; - You do not need to wait until the invention is completely developed to seek patent protection.   Under the First to File patent system in the U.S., filing as early as possible is preferable, even critical, to obtaining effective patent protection. This is especially true where others are filing patent applications in the same or adjacent technology areas.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 10pt; font-family: Symbol;&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 7pt; font-family: &amp;quot;Times New Roman&amp;quot;;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial, sans-serif;&quot;&gt;Questions?&amp;nbsp;Contact IP Legal (&lt;/span&gt;&lt;a href=&quot;mailto:IPLegal@uhg.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 10pt; font-family: Arial, sans-serif;&quot;&gt;IPLegal@uhg.com&lt;/a&gt;&lt;span style=&quot;font-size: 10pt; font-family: Arial, sans-serif;&quot;&gt;).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>heading1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 22px;&quot;&gt;Instructions&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_Inventor_Error_Message</name>
        <label>Invalid Inventor</label>
        <locationX>1041</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>invalidInventorMsg</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Oops! Invalid Inventor. Check the email ID provided and try again. &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invention_Disclosure_Interview_Step_1_0</name>
        <label>Invention Disclosure Interview Step 1</label>
        <locationX>1470</locationX>
        <locationY>423</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Radio_button_for_funding_source</targetReference>
        </connector>
        <fields>
            <name>Savesubmit</name>
            <extensionName>c:cmpSubmitAndSaveDraft</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SaveAs</assignToReference>
                <name>savebutton</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Submit2</assignToReference>
                <name>navigateFlow</name>
            </outputParameters>
        </fields>
        <fields>
            <name>formpart1</name>
            <extensionName>c:cmpIDFformpart1</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>inventionprogram</assignToReference>
                <name>check</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Title</assignToReference>
                <name>Title</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>todaydate</assignToReference>
                <name>today</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>primaryinventor</assignToReference>
                <name>selectedpri</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>invstage</assignToReference>
                <name>selectedstage</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>techpath</assignToReference>
                <name>selectedtech</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>primaryinv</assignToReference>
                <name>selectedinv</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BusinessProgram</assignToReference>
                <name>option2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>InvManagingSegment</assignToReference>
                <name>selectedManagingSegment</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vSummary</assignToReference>
                <name>Summary</name>
            </outputParameters>
        </fields>
        <fields>
            <name>primaryContact</name>
            <extensionName>c:cmpPrimayContact</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>otherstrSelectedInventorIds</name>
                <value>
                    <elementReference>OtherContact</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OtherBusinessProblem</name>
                <value>
                    <elementReference>individual_or_bussiness</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OtherContribution</name>
                <value>
                    <elementReference>other_contribution</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedManagingSegment</name>
                <value>
                    <elementReference>OtherBusinessSegment</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedstage</name>
                <value>
                    <elementReference>invstage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedtech</name>
                <value>
                    <elementReference>techpath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strSelectedInventorIds</name>
                <value>
                    <elementReference>primaryinv</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strSelectedInvIds</name>
                <value>
                    <elementReference>primaryinv</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>primaryinv</assignToReference>
                <name>strSelectedInventorIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>OtherContact</assignToReference>
                <name>otherstrSelectedInventorIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>OtherBusinessSegment</assignToReference>
                <name>selectedManagingSegment</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>individual_or_bussiness</assignToReference>
                <name>OtherBusinessProblem</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>other_contribution</assignToReference>
                <name>OtherContribution</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>invstage</assignToReference>
                <name>selectedstage</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>techpath</assignToReference>
                <name>selectedtech</name>
            </outputParameters>
        </fields>
        <fields>
            <name>addtionalinv</name>
            <extensionName>c:cmpAdditionalInventors</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>DisclosureId</name>
                <value>
                    <elementReference>StrFalse</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedInventorIDs</assignToReference>
                <name>strSelectedInventorIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>StrSelectedInventorInformation</assignToReference>
                <name>strSelectedInventorInfo</name>
            </outputParameters>
        </fields>
        <fields>
            <name>poiu</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Mentor</name>
            <extensionName>c:cmpMentor</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Invmentor</assignToReference>
                <name>strSelectedInventorIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>formpart2</name>
            <extensionName>c:cmpIDFformpart2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>questions21</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ReverseEngineering28</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>todaydate</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>other28F</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>literature28C</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>impossible28D</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>todaydate2</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>todaydate3</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>todaydate4</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>que1</assignToReference>
                <name>que1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que2</assignToReference>
                <name>que2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que3</assignToReference>
                <name>que3</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que4</assignToReference>
                <name>que4</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que21</assignToReference>
                <name>ques21</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que22</assignToReference>
                <name>ques22</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que23</assignToReference>
                <name>ques23</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que230</assignToReference>
                <name>ques230</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que24</assignToReference>
                <name>ques24</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que25</assignToReference>
                <name>ques25</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que26</assignToReference>
                <name>ques26</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que270</assignToReference>
                <name>ques270</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que271</assignToReference>
                <name>ques271</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que272</assignToReference>
                <name>ques272</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que275</assignToReference>
                <name>ques275</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que273checkbox</assignToReference>
                <name>ques273check</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que275checkbox</assignToReference>
                <name>ques274check</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que21checkbox</assignToReference>
                <name>questions21</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que22checkbox</assignToReference>
                <name>questions22</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que23checkbox</assignToReference>
                <name>questions23</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que230checkbox</assignToReference>
                <name>questions230</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que24checkbox</assignToReference>
                <name>questions24</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que25checkbox</assignToReference>
                <name>questions25</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que26checkbox</assignToReference>
                <name>questions26</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que271checkbox</assignToReference>
                <name>CheckboxNew</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>que272checkbox</assignToReference>
                <name>CheckboxNew1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>todaydate</assignToReference>
                <name>todaydate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>checkboxAdded24</assignToReference>
                <name>ques24added</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>textque24added</assignToReference>
                <name>q24added</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>useExternal230radio</assignToReference>
                <name>useExternal230</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ThirdPartyContributions27radio</assignToReference>
                <name>ThirdPartyContributions27</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ThirdPartyConfidentiality24radio</assignToReference>
                <name>ThirdPartyConfidentiality24</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ReverseEngineering28radio</assignToReference>
                <name>ReverseEngineering28</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>publicDisclosurechk22radio</assignToReference>
                <name>publicDisclosurechk</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PriorQuestion21radio</assignToReference>
                <name>optionsvaluedefault</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>other28Fradio</assignToReference>
                <name>other28F</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>literature28Cradio</assignToReference>
                <name>literature28C</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>impossible28Dradio</assignToReference>
                <name>impossible28D</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FutureImplementation25radio</assignToReference>
                <name>FutureImplementation25</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Dontknowradio</assignToReference>
                <name>Dontknow</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CurrentCommercial23radio</assignToReference>
                <name>CurrentCommercial23</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>competitivesolution28Bradio</assignToReference>
                <name>competitivesolution28B</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CompetingProducts26radio</assignToReference>
                <name>CompetingProducts26</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>OtherCheckbox</assignToReference>
                <name>CheckboxNew5</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ReadingProductLitratureCheckbox</assignToReference>
                <name>CheckboxNew2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>BusinessValueIDF</assignToReference>
                <name>businessValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>todaydate2</assignToReference>
                <name>todaydate2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>todaydate3</assignToReference>
                <name>todaydate3</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>todaydate4</assignToReference>
                <name>todaydate4</name>
            </outputParameters>
        </fields>
        <fields>
            <name>upload</name>
            <extensionName>SymphonyIPM:cmpFileUploader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>linkedEntityId</name>
                <value>
                    <elementReference>vUserID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canUploadMultipleFiles</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocumentIds</name>
                <value>
                    <elementReference>uploadedDocumentIDsStr</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canViewAllFiles</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canViewCurrentAttachedFiles</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>uploadedDocumentIDsStr</assignToReference>
                <name>contentDocumentIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>qefqef</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SaveSubmit2</name>
            <extensionName>c:cmpsubmitAndSaveBottom2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SaveAs</assignToReference>
                <name>savebutton</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Submit2</assignToReference>
                <name>navigateFlow</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>535</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ConvertMentorStringtoList</name>
        <label>ConvertMentorStringtoList</label>
        <locationX>1873</locationX>
        <locationY>788</locationY>
        <connector>
            <targetReference>LoopMentorIDs</targetReference>
        </connector>
        <flowName>StringToList</flowName>
        <inputAssignments>
            <name>iStringofIDs</name>
            <value>
                <elementReference>Invmentor</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vListMentorIDs</assignToReference>
            <name>olstofSelectIDs</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>emailToReviewer</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>HI,
   New Invention Disclosure  has been submitted for review. Thanks</text>
    </textTemplates>
    <variables>
        <name>AdditionalInventorsValidated</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BusinessProgram</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BusinessValueIDF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>checkboxAdded24</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>checkifPrimaryInventorSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompetingProducts26radio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>competitivesolution28Bradio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createdDisclosure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentBU</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>CurrentBU1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Hierarchy_Role__c</objectType>
    </variables>
    <variables>
        <name>CurrentCommercial23radio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentDocumentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DisplayOrder</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Dontknowradio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Finalstrofmentorswithsemicoolun</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstExternalUsedate2_3</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstInventor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstUseDate2_2</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstuser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FundingSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FutureImplementation25radio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Hierarchy_BusinessUser</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Hierarchy_Role__c</objectType>
    </variables>
    <variables>
        <name>HierarchyIDF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HierarcyRolePPAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Hierarchy_Role__c</objectType>
    </variables>
    <variables>
        <name>HierrarchyBusinessUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Hierarchy_Role__c</objectType>
    </variables>
    <variables>
        <name>HomePage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IDF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>impossible28Dradio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>individual_or_bussiness</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inventionprogram</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Inventors</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Additional_Inventor__c</objectType>
    </variables>
    <variables>
        <name>InventorsEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InventorUserIDtoShare</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvInfoLoopVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvManagingSegment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Invmentor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invstage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsActiveBU</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsActiveReviwer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsActiveUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsPrimary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsPrimaryChk</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isprior21radio</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOfInventorsInformation</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listofRelatedMentorsName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SymphonyIPM__Inventor__c</objectType>
    </variables>
    <variables>
        <name>ListSelectedInventorsInfo</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>literature28Cradio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Looped_Inventor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Additional_Inventor__c</objectType>
    </variables>
    <variables>
        <name>loopthroughmentors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lstAdditionalInvFinal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SymphonyIPM__Additional_Inventor__c</objectType>
    </variables>
    <variables>
        <name>lstDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>Lstmentors</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lstmentors1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lstObjAdditionalInv</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Additional_Inventor__c</objectType>
    </variables>
    <variables>
        <name>lstSelectedDocuments</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstSelectedInventorIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstSelectedInventors</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mentorstring1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>objAdditionInventor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Additional_Inventor__c</objectType>
    </variables>
    <variables>
        <name>other28Fradio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>other_contribution</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OtherBusinessSegment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OtherCheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OtherContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerIdOfIDF</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonInventors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Inventor__c</objectType>
    </variables>
    <variables>
        <name>PPAEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PrimaryHierarchyRoleUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primaryinv</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primaryinventor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryInventorFromList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryPPAEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PriorQuestion21radio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>publicDisclosurechk22radio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qAltImplementations</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qDetailedDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qInventionAdvantages</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qInventiveFeatures</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que21</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que21checkbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que22</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que22checkbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que23</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que230</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que230checkbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que23checkbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que24</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que24checkbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que25</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que25checkbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que26</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que26checkbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que270</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que271</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que271checkbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que272</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que272checkbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que273</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que273check</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que273checkbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que274</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que274check</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que275</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que275checkbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Que27Echeckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>que3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>que4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuestAnswer1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuestAnswer2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuestAnswer3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuestAnswer4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>questionCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReadingProductLitratureCheckbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedmentorsName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReverseEngineering28radio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RoleOfConception</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sAddInventor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SymphonyIPM__Additional_Inventor__c</objectType>
    </variables>
    <variables>
        <name>SaveAs</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>scHierarchyReviewers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Hierarchy_Role__c</objectType>
    </variables>
    <variables>
        <name>sCurrentQuestion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Disclosure_Questions__mdt</objectType>
    </variables>
    <variables>
        <name>sCurrentReviewer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Hierarchy_Role__c</objectType>
    </variables>
    <variables>
        <name>SelectedDocuments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>selected additional inventor ids stored</description>
        <name>selectedInventorIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedTechPath</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleInvInfoList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SinglePPA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Hierarchy_Role__c</objectType>
    </variables>
    <variables>
        <name>sQuestionText</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Disclosure_Questions__mdt</objectType>
    </variables>
    <variables>
        <name>stage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StrFalse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>false</stringValue>
        </value>
    </variables>
    <variables>
        <name>StrSelectedInventorInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Submit2</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>techpath</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TempDocLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>textque24added</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ThirdPartyConfidentiality24radio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ThirdPartyContributions27radio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>todaydate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>todaydate2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>todaydate3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>todaydate4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TopbooleanValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateMentorIDS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>uploadedDocumentIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uploadedDocumentIDsStr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uploadedFileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>USACountryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>useExternal230radio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedInventorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedInventors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vEachInventor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vListMentor</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mentors__c</objectType>
    </variables>
    <variables>
        <name>vListMentorIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedInventorsInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedInvFromList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSingleMentor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mentors__c</objectType>
    </variables>
    <variables>
        <name>vSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
