force-app/main/default/flows/PRB_Rating_v3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_PRB</name>
        <label>Assign PRB</label>
        <locationX>463</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>rating_val</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Close</name>
        <choiceText>Close</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Close</stringValue>
        </value>
    </choices>
    <choices>
        <name>ConditionalProceed1</name>
        <choiceText>Conditional Proceed 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conditional Proceed 1 </stringValue>
        </value>
    </choices>
    <choices>
        <name>ConditionalProceed2</name>
        <choiceText>Conditional Proceed 2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conditional Proceed 2</stringValue>
        </value>
    </choices>
    <choices>
        <name>ConditionalProceed3</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Conditional Proceed 3&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conditional Proceed 3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Defer</name>
        <choiceText>Defer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Defer</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>-- None --</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>-- None --</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proceed1</name>
        <choiceText>Proceed 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proceed 1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proceed2</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Proceed &lt;/span&gt;2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proceed 2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proceed3</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Proceed &lt;/span&gt;3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proceed 3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Publish</name>
        <choiceText>Publish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Publish</stringValue>
        </value>
    </choices>
    <choices>
        <name>RatingStore</name>
        <choiceText>Rating Store</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Choice_Value_Store</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Check_Asset_Rating_Exists</name>
        <label>Check Asset Rating Exists</label>
        <locationX>947</locationX>
        <locationY>179</locationY>
        <defaultConnector>
            <targetReference>Screen1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Asset Rating Available</defaultConnectorLabel>
        <rules>
            <name>Asset_Rating_Not_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rating_val</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filing_Decision_Screen</targetReference>
            </connector>
            <label>Asset Rating Not Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Value_Null</name>
        <label>Check Value Null</label>
        <locationX>1644</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRCMeetingStore</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>assetID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Null</label>
        </rules>
        <rules>
            <name>check_condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRCMeetingStore</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>assetID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>check condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check</name>
        <label>Null Check</label>
        <locationX>1914</locationX>
        <locationY>392</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choice_Value_Store</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <label>Null 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_0</name>
        <label>Null Check second time</label>
        <locationX>557</locationX>
        <locationY>1351</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinalRating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <label>Null 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_0_0</name>
        <label>Null Check</label>
        <locationX>504</locationX>
        <locationY>752</locationY>
        <defaultConnector>
            <targetReference>Create_asset_Rating_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None_is_selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Filing_Decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Check</targetReference>
            </connector>
            <label>None is selected</label>
        </rules>
        <rules>
            <name>Create_Asset_rating</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assetID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Filing_Decision</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PreviousPRBId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PRCMeetingStore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_asset_Rating_Record</targetReference>
            </connector>
            <label>Create Asset rating</label>
        </rules>
        <rules>
            <name>Update_existing_rating</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assetID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PreviousPRBId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PRCMeetingStore</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Filing_Decision</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IDF_Value_stores</targetReference>
            </connector>
            <label>Update existing rating</label>
        </rules>
    </decisions>
    <description>Creating new rating if PRB meeting changes - Kiran 03/23
Default option &quot;None&quot; issue has been fixed. - 02/24 
Validation for cancel button included - 02/10/21</description>
    <dynamicChoiceSets>
        <name>varPicklistPRBRating</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rating_Parameter_1_New__c</picklistField>
        <picklistObject>SymphonyIPM__IDF_Review__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Currentuser1</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>PRB Rating v3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRB Rating</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_asset_Rating_Record</name>
        <label>Create asset Rating Record</label>
        <locationX>1309</locationX>
        <locationY>718</locationY>
        <assignRecordIdToReference>AssetRatingID</assignRecordIdToReference>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRC_Date__c</field>
            <value>
                <elementReference>PRCDateCapture</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRC_Meeting_ID__c</field>
            <value>
                <elementReference>PRCMeetingStore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRC_Meeting_Name__c</field>
            <value>
                <elementReference>PRCMeeting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRC_Time__c</field>
            <value>
                <elementReference>PRCTimeCapture</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating_Parameter_1_New__c</field>
            <value>
                <elementReference>Filing_Decision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewer_Notes__c</field>
            <value>
                <elementReference>Rating_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Base_Invention_Disclosure__c</field>
            <value>
                <elementReference>CurrentIDRecord</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__IDF_Review__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Rating</name>
        <label>Create Rating</label>
        <locationX>1944</locationX>
        <locationY>482</locationY>
        <inputAssignments>
            <field>New_Rating_Store__c</field>
            <value>
                <elementReference>Choice_Value_Store</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Base_Invention_Disclosure__c</field>
            <value>
                <elementReference>CurrentIDRecord</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__IDF_Review__c</object>
    </recordCreates>
    <recordLookups>
        <name>IDFFinalRating</name>
        <label>IDFFinalRating</label>
        <locationX>314</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>or</filterLogic>
        <filters>
            <field>PRC_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRCDateCapture</elementReference>
            </value>
        </filters>
        <filters>
            <field>PRC_Meeting_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRCMeeting</elementReference>
            </value>
        </filters>
        <filters>
            <field>PRC_Time__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRCTimeCapture</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Base_Invention_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentIDRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__IDF_Review__c</object>
        <outputAssignments>
            <assignToReference>PRCDateCapture</assignToReference>
            <field>PRC_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PRC_meetingId</assignToReference>
            <field>PRC_Meeting_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PRCMeeting</assignToReference>
            <field>PRC_Meeting_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PRCTimeCapture</assignToReference>
            <field>PRC_Time__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FinalRating</assignToReference>
            <field>Rating_Parameter_1_New__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Notes_val</assignToReference>
            <field>Reviewer_Notes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>assetRatingIDFId</assignToReference>
            <field>SymphonyIPM__Base_Invention_Disclosure__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>IDFFinalRating_0</name>
        <label>IDFFinalRating</label>
        <locationX>614</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Asset_Rating_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Base_Invention_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentIDRecord</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__IDF_Review__c</object>
        <outputAssignments>
            <assignToReference>assetID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PreviousPRBId</assignToReference>
            <field>PRC_Meeting_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>rating_val</assignToReference>
            <field>Rating_Parameter_1_New__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Notes_val</assignToReference>
            <field>Reviewer_Notes__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>PRC_Meeting_Detail_Name</name>
        <label>PRC Meeting Detail Name</label>
        <locationX>1131</locationX>
        <locationY>443</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PRC_Meeting_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Related_Invention_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentIDRecord</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__PRC_Meeting_Details__c</object>
        <outputAssignments>
            <assignToReference>PRCMeetingStore</assignToReference>
            <field>SymphonyIPM__PRC_Meeting__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>PRC_Meeting_Name</name>
        <label>PRC Meeting Name</label>
        <locationX>1170</locationX>
        <locationY>628</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRCMeetingStore</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__PRC_Meeting__c</object>
        <outputAssignments>
            <assignToReference>PRCMeeting</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PRCDateCapture</assignToReference>
            <field>SymphonyIPM__Meeting_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PRCTimeCapture</assignToReference>
            <field>SymphonyIPM__Start_Time__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>IDF_Value_store_0</name>
        <label>IDF Value store</label>
        <locationX>1976</locationX>
        <locationY>616</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Final_Rating_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Final_Rating__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Rating__c</field>
            <value>
                <elementReference>Choice_Value_Store</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>IDF_Value_stores</name>
        <label>IDF Value store</label>
        <locationX>1504</locationX>
        <locationY>541</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assetID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PRC_Date__c</field>
            <value>
                <elementReference>PRCDateCapture</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRC_Meeting_ID__c</field>
            <value>
                <elementReference>PRCMeetingStore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRC_Meeting_Name__c</field>
            <value>
                <elementReference>PRCMeeting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRC_Time__c</field>
            <value>
                <elementReference>PRCTimeCapture</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating_Parameter_1_New__c</field>
            <value>
                <elementReference>Filing_Decision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewer_Notes__c</field>
            <value>
                <elementReference>Rating_Notes</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__IDF_Review__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_After_Flag</name>
        <label>Update After Flag</label>
        <locationX>402</locationX>
        <locationY>1326</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Final_Rating_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Rating_Flag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Final_Rating_Flag</name>
        <label>Update Final Rating Flag</label>
        <locationX>43</locationX>
        <locationY>1252</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentIDRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Rating_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <screens>
        <name>Display_Text</name>
        <label>Display Text</label>
        <locationX>1983</locationX>
        <locationY>742</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;Thanks for Rating the Disclosure. If you need to change please give the new rating.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Check</name>
        <label>Error Check</label>
        <locationX>1443</locationX>
        <locationY>887</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Please select an option for the Reviewer Rating.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Rating not available</label>
        <locationX>1392</locationX>
        <locationY>39</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Select the Next button to enter a Rating.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Filing_Decision_Screen</name>
        <label>Filing Decision Screen</label>
        <locationX>1573</locationX>
        <locationY>333</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PRC_Meeting_Detail_Name</targetReference>
        </connector>
        <fields>
            <name>Filing_Decision</name>
            <choiceReferences>varPicklistPRBRating</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Reviewer Rating</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Rating_Notes</name>
            <defaultValue>
                <stringValue>{!Notes_val}</stringValue>
            </defaultValue>
            <fieldText>Rating Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Filing_Decision</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Defer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Filing_Decision</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>Conditional</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NavigateButton</name>
            <extensionName>c:cmpButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isChange</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isTrue</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>RatingVal</name>
                <value>
                    <elementReference>rating_val</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>rating_val</assignToReference>
                <name>RatingVal</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Rating_Store</name>
        <label>Final Rating Store</label>
        <locationX>1730</locationX>
        <locationY>962</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinalDecision1_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Reviewer Rating: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!Filing_Decision}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NotesView</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Notes:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Rating_Notes}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Filing_Decision</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Defer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Filing_Decision</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>Conditional</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>rating_val</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Defer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>rating_val</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>Conditional</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Rating_New</name>
        <label>Rating New</label>
        <locationX>1901</locationX>
        <locationY>308</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Choice_Value_Store</name>
            <choiceReferences>Proceed1</choiceReferences>
            <choiceReferences>Proceed2</choiceReferences>
            <choiceReferences>Proceed3</choiceReferences>
            <choiceReferences>ConditionalProceed1</choiceReferences>
            <choiceReferences>ConditionalProceed2</choiceReferences>
            <choiceReferences>ConditionalProceed3</choiceReferences>
            <choiceReferences>Publish</choiceReferences>
            <choiceReferences>Defer</choiceReferences>
            <choiceReferences>Close</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Final Rating</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Rating available</label>
        <locationX>981</locationX>
        <locationY>496</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Filing_Decision_Screen</targetReference>
        </connector>
        <fields>
            <name>FinalDecision1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-size: 14px;&quot;&gt;Reviewer&lt;/b&gt;&lt;b style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-size: 14px; font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt; Rating: &lt;/b&gt;&lt;span style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-size: 12px; font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;﻿{!rating_val}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NotesVal</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Notes:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;﻿{!Notes_val}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>rating_val</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Defer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>rating_val</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>Conditional</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Filing_Decision</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Defer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Filing_Decision</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>Conditional</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ChangeButton</name>
            <extensionName>c:cmpButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isChange</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isTrue</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>329</locationX>
        <locationY>403</locationY>
        <connector>
            <targetReference>IDFFinalRating_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetRatingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assetRatingIDFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetRatingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__IDF_Review__c</objectType>
    </variables>
    <variables>
        <name>CurrentIDRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalRating</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FINALRATINGSTORENEW</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Invention_Disclosure_New__c</objectType>
    </variables>
    <variables>
        <name>Notes_val</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PRB_rating</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PRBId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PRBRatingStore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PRC_meetingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PRCDateCapture</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PRCMeeting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PRCMeetingStore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PRCTimeCapture</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreviousPRBId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rating_val</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RatingValueToUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TEST</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
