force-app/main/default/flows/Request_Patent_Search_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <choices>
        <name>Favorable</name>
        <choiceText>Favorable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Favorable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mixed</name>
        <choiceText>Mixed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mixed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unfavorable</name>
        <choiceText>Unfavorable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unfavorable</stringValue>
        </value>
    </choices>
    <description>Added search result picklist - kiran 23-03-2021</description>
    <interviewLabel>Request Patent Search Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patent Search Results</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Disclosure</name>
        <label>Get Disclosure</label>
        <locationX>483</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Patent_Search_Results</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetIdf</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Review_comment</name>
        <label>Update Review comment</label>
        <locationX>798</locationX>
        <locationY>322</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetIdf</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Search_Result__c</field>
            <value>
                <elementReference>Search_Result</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Comments__c</field>
            <value>
                <elementReference>Review_Comment</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <screens>
        <name>Patent_Search_Results</name>
        <label>Patent Search Results</label>
        <locationX>656</locationX>
        <locationY>168</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Review_comment</targetReference>
        </connector>
        <fields>
            <name>Review_Comment</name>
            <fieldText>Review Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Search_Result</name>
            <choiceReferences>Favorable</choiceReferences>
            <choiceReferences>Unfavorable</choiceReferences>
            <choiceReferences>Mixed</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Favorable</defaultSelectedChoiceReference>
            <fieldText>Search Result</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Attachments</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attachments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetIdf</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>119</locationX>
        <locationY>86</locationY>
        <connector>
            <targetReference>Get_Disclosure</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GetIdf</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
