force-app/main/default/flows/Respond_to_RFI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Change_Disclosure_Status</name>
        <label>Change Disclosure Status</label>
        <locationX>411</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>currentDisclosure.SymphonyIPM__Disclosure_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted – Replied</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentDisclosure.SymphonyIPM__Pending_First_Review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Disclosure_Record</targetReference>
        </connector>
    </assignments>
    <description>Changed the text according to the CR. [Juveria 03-06-2020]
Simplified Process to Respond to RFI using new Notes. Ashwin (11/21/2017)

Current Version Changes - minor language edits</description>
    <environments>Default</environments>
    <formulas>
        <name>calculatedNoteTitle</name>
        <dataType>String</dataType>
        <expression>&quot;Inventor Response to Request for Information - &quot; &amp; TEXT(TODAY())</expression>
    </formulas>
    <formulas>
        <name>encodedContent</name>
        <dataType>String</dataType>
        <expression>HTMLENCODE({!Response})</expression>
    </formulas>
    <interviewLabel>Respond to RFI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Respond to Request for Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Note</name>
        <label>Create Note</label>
        <locationX>226</locationX>
        <locationY>247</locationY>
        <assignRecordIdToReference>contentNoteID</assignRecordIdToReference>
        <connector>
            <targetReference>Link_Note_to_Disclosure</targetReference>
        </connector>
        <inputAssignments>
            <field>Content</field>
            <value>
                <elementReference>encodedContent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>calculatedNoteTitle</elementReference>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
    </recordCreates>
    <recordCreates>
        <name>Link_Note_to_Disclosure</name>
        <label>Link Note to Disclosure</label>
        <locationX>413</locationX>
        <locationY>246</locationY>
        <connector>
            <targetReference>Find_Disclosure_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>contentNoteID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>I</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Disclosure_Record</name>
        <label>Find Disclosure Record</label>
        <locationX>220</locationX>
        <locationY>348</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Disclosure_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
        <outputReference>currentDisclosure</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyIPM__Disclosure_Status__c</queriedFields>
        <queriedFields>SymphonyIPM__Pending_First_Review__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Disclosure_Record</name>
        <label>Update Disclosure Record</label>
        <locationX>213</locationX>
        <locationY>457</locationY>
        <inputReference>currentDisclosure</inputReference>
    </recordUpdates>
    <screens>
        <name>Provide_Additional_Information</name>
        <label>Provide Additional Information</label>
        <locationX>224</locationX>
        <locationY>139</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Note</targetReference>
        </connector>
        <fields>
            <name>Response</name>
            <fieldText>Your Response</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Respond_to_Request_for_Information</name>
        <label>Respond to Request for Information</label>
        <locationX>50</locationX>
        <locationY>136</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Provide_Additional_Information</targetReference>
        </connector>
        <fields>
            <name>provideAdditionalInfo_caption</name>
            <fieldText>&lt;p&gt;Select Edit IDF to make changes to the IDF. You can also upload files using the File card. When you are done, select Next below to respond to the request for information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>110</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Respond_to_Request_for_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>noteText</description>
        <name>noteText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!Response}</text>
    </textTemplates>
    <variables>
        <description>Note ID</description>
        <name>contentNoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentDisclosure</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Invention_Disclosure_New__c</objectType>
    </variables>
    <variables>
        <name>noteTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Current Disclosure Record ID</description>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
