force-app/main/default/flows/Set_Reviewer_ID_List_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Reviewer_ID_List</name>
        <label>Set Reviewer ID List</label>
        <locationX>264</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>ReviewerIDList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConcatIDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hierarchy_Role_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Deleted_ID</name>
        <label>Deleted Reviewer ID?</label>
        <locationX>396</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Hierarchy_Role_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hierarchy_Role_Loop.UHG_Employee_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.UHG_Employee_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Reviewer_ID_List</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ConcatIDs</name>
        <dataType>String</dataType>
        <expression>{!ReviewerIDList} &amp; IF({!ReviewerIDList} &lt;&gt;&quot;&quot;, &quot;,&quot;, &quot;&quot;) &amp; {!Hierarchy_Role_Loop.UHG_Employee_ID__c}</expression>
    </formulas>
    <interviewLabel>Set Reviewer ID List (Delete) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Reviewer ID List (Delete)</label>
    <loops>
        <name>Hierarchy_Role_Loop</name>
        <label>Hierarchy Role Loop</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Hierarchy_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Deleted_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Reviewer_ID_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Hierarchy_Roles</name>
        <label>Get Hierarchy Roles</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hierarchy_Role_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Hierarchy_Path__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyIPM__Hierarchy_Path__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reviewer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SymphonyIPM__Hierarchy_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Reviewer_ID_List</name>
        <label>Update Reviewer ID List</label>
        <locationX>176</locationX>
        <locationY>983</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyIPM__Hierarchy_Path__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UHG_Reviewer_ID_List__c</field>
            <value>
                <elementReference>ReviewerIDList</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Hierarchy__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Hierarchy_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UHG_PRB_Technology_Area__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>PRB</stringValue>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reviewer</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Hierarchy_Role__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ReviewerIDList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
