force-app/main/default/flows/StringToList.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AssigningIntoList</name>
        <label>AssigningIntoList</label>
        <locationX>849</locationX>
        <locationY>116</locationY>
        <assignmentItems>
            <assignToReference>olstofSelectIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>firstIdFromLeft</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Id_from_Left</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignVariable</name>
        <label>AssignVariable</label>
        <locationX>364</locationX>
        <locationY>117</locationY>
        <assignmentItems>
            <assignToReference>vSelectedIDs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>textAddIDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ids_Parsed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Id_from_Left</name>
        <label>Remove Id from Left</label>
        <locationX>703</locationX>
        <locationY>250</locationY>
        <assignmentItems>
            <assignToReference>vSelectedIDs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveIdFromLeft</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ids_Parsed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Ids_Parsed</name>
        <label>Ids Parsed?</label>
        <locationX>549</locationX>
        <locationY>120</locationY>
        <defaultConnector>
            <targetReference>AssigningIntoList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSelectedIDs</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>firstIdFromLeft</name>
        <dataType>String</dataType>
        <expression>LEFT({!vSelectedIDs}, (FIND(&quot;;&quot;, {!vSelectedIDs})-1))</expression>
    </formulas>
    <formulas>
        <name>RemoveIdFromLeft</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!vSelectedIDs}, LEFT({!vSelectedIDs}, (FIND(&quot;;&quot;, {!vSelectedIDs})+1)), &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>textAddIDs</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!iStringofIDs},&quot;,&quot;,&quot;; &quot;) &amp; &quot;;&quot;</expression>
    </formulas>
    <interviewLabel>StringToList {!$Flow.CurrentDateTime}</interviewLabel>
    <label>StringToList</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>23</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>AssignVariable</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>iStringofIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>olstofSelectIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSelectedIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
