force-app/main/default/flows/UHG_Set_PRB_Technology_Area.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Submitted_and_IDF_PRB_Level</name>
        <label>Submitted and IDF/PRB Level?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Update_PRB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_IDF.SymphonyIPM__Disclosure_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRBLookup.recordName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IDF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRBLookup.recordName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PRB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PRB_Technology_Area1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Set PRB Technology Area {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set PRB Technology Area</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_IDF</name>
        <label>Get IDF</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Submitted_and_IDF_PRB_Level</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputDisclosureId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PRB</name>
        <label>Update PRB</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputDisclosureId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SymphonyIPM__Hierarchy__c</field>
            <value>
                <elementReference>PRBLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <screens>
        <name>Set_PRB_Technology_Area</name>
        <label>Set PRB Technology Area</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_IDF</targetReference>
        </connector>
        <fields>
            <name>PRBLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SymphonyIPM__Hierarchy__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>inputDisclosureId.SymphonyIPM__Hierarchy__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>SymphonyIPM__Invention_Disclosure_New__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Set PRB Technology Area:</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_PRB_Technology_Area1</name>
        <label>Set PRB Technology Area</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No</backButtonLabel>
        <connector>
            <targetReference>Update_PRB</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;The Disclosure Status is &quot;Submitted&quot; and the PRB Technology Area selected is an IDF/PRB level. This will trigger the &quot;&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Ready for PRB Review&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&quot; automation. Proceed?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_PRB_Technology_Area</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inputDisclosureId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Invention_Disclosure_New__c</objectType>
    </variables>
</Flow>
