force-app/main/default/flows/UHG_Update_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Update_Reminder1</name>
        <label>Update Reminder?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.SymphonyIPM__Disclosure_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved for Filing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UHG_Reminder_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Needs More Info</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reminder</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NullDate</name>
        <dataType>Date</dataType>
        <expression>NULL</expression>
    </formulas>
    <interviewLabel>Update Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update IDF Reminder (Set)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Reminder</name>
        <label>Set Reminder</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>UHG_Reminder_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UHG_Reminder_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UHG_Reminder_Type__c</field>
            <value>
                <stringValue>Needs More Info</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UHG_Withdrawn_Auto_Email_Sent__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Reminder1</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Disclosure_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Requested For More Information</stringValue>
            </value>
        </filters>
        <filters>
            <field>UHG_Reminder_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Needs More Info</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
