force-app/main/default/flows/UHG_Check_for_reviewer_on_IDF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Reviewer_on_IDF</name>
        <label>Set Reviewer on IDF</label>
        <locationX>270</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>ReviewerOnIDF</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_IDFs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Reviewer_in_Inventor_List</name>
        <label>Reviewer in Inventor List?</label>
        <locationX>402</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Loop_thru_IDFs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_IDFs.UHG_Employee_IDs__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.UHG_Person__r.SymphonyIPM__Employee_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reviewer_on_IDF</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reviewer_on_IDF2</name>
        <label>Reviewer on IDF?</label>
        <locationX>182</locationX>
        <locationY>983</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReviewerOnIDF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Role</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Check for reviewer on IDF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check for Reviewer on IDF</label>
    <loops>
        <name>Loop_thru_IDFs</name>
        <label>Loop thru IDFs</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_IDFs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reviewer_in_Inventor_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reviewer_on_IDF2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_IDFs</name>
        <label>Get IDFs</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_IDFs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Hierarchy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyIPM__Hierarchy_Path__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Role</name>
        <label>Update Role</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <inputAssignments>
            <field>UHG_Role_Validation__c</field>
            <value>
                <stringValue>Reviewer on IDF</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_IDFs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UHG_PRB_Technology_Area__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>PRB</stringValue>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reviewer</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Hierarchy_Role__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ReviewerOnIDF</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
