force-app/main/default/flows/UHG_Email_to_Inventors_Submitted_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Person_Info_for_Additional_Inventors</name>
        <label>Get Person Info for Additional Inventors</label>
        <locationX>1003</locationX>
        <locationY>479</locationY>
        <actionName>GetRecordsByApex</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Inventors</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>SymphonyIPM__Inventor__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <stringValue>Id, SymphonyIPM__Email__c, First_Name__c, Nick_Name__c, Middle_Name__c, Last_Name__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterOperator</name>
            <value>
                <stringValue>OR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filters</name>
            <value>
                <elementReference>filters</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>SymphonyIPM__Inventor__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>InventorsInfo</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Submitted_Email</name>
        <label>Submitted Email</label>
        <locationX>1682</locationX>
        <locationY>1283</locationY>
        <actionName>SendMail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <elementReference>CCEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageBody</name>
            <value>
                <elementReference>TemplateForSubmittedEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendTo</name>
            <value>
                <elementReference>AdditionalInventorEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tosub</name>
            <value>
                <stringValue>ISM: Submitted {!$Record.Name}: {!$Record.SymphonyIPM__Title__c}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_cc_address</name>
        <label>Add cc address</label>
        <locationX>1682</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>CCEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>patents@uhg.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Additional_Inventor_Email_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_created_by_address</name>
        <label>Add created by address</label>
        <locationX>1189</locationX>
        <locationY>709</locationY>
        <assignmentItems>
            <assignToReference>CCEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreatedByDetails.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_primary_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_other_address</name>
        <label>Add other address</label>
        <locationX>1941</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>CCEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OtherContactDetails.SymphonyIPM__Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_cc_address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_primary_address</name>
        <label>Add primary address</label>
        <locationX>1682</locationX>
        <locationY>544</locationY>
        <assignmentItems>
            <assignToReference>CCEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PrimaryContactDetails.SymphonyIPM__Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_other_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_additional_Inventor_Email</name>
        <label>Assign additional Inventor Email</label>
        <locationX>434</locationX>
        <locationY>780</locationY>
        <assignmentItems>
            <assignToReference>AdditionalInventorEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Inventors.SymphonyIPM__Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdditionalInventorFirstNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NickName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inventors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AdditionalInventorsCount</name>
        <label>Assign AdditionalInventorsCount</label>
        <locationX>813</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>AdditionalInventorsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AdditionalInventors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bulk_filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_bulk_filter</name>
        <label>Assign bulk filter</label>
        <locationX>1005</locationX>
        <locationY>251</locationY>
        <assignmentItems>
            <assignToReference>filter.filterField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>filter.operator</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>filter.fieldCollectionValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InventorIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_bulk_filters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_bulk_filters</name>
        <label>Assign bulk filters</label>
        <locationX>1004</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>filters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>filter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Person_Info_for_Additional_Inventors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inventor_Ids_to_bulk_filter</name>
        <label>Assign Inventor Ids to bulk filter</label>
        <locationX>813</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>InventorIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>bulk_filter.SymphonyIPM__Inventor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bulk_filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_last_additional_inventor</name>
        <label>Assigning last additional inventor</label>
        <locationX>234</locationX>
        <locationY>780</locationY>
        <assignmentItems>
            <assignToReference>AdditionalInventorFirstNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>and </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_additional_Inventor_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_LoopCounter</name>
        <label>Increment Loop Counter</label>
        <locationX>747</locationX>
        <locationY>1100</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_email_is_blank</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Additional_Inventor_Email_Addresses</name>
        <label>Check for Additional Inventor Email Addresses</label>
        <locationX>1674</locationX>
        <locationY>996</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AdditionalInventorEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submitted_Email</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_email_is_blank</name>
        <label>Check if inventor email is blank</label>
        <locationX>542</locationX>
        <locationY>1102</locationY>
        <defaultConnector>
            <targetReference>Inventors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blank</defaultConnectorLabel>
        <rules>
            <name>Not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inventors.SymphonyIPM__Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_last_loop</targetReference>
            </connector>
            <label>Not blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_last_loop</name>
        <label>Check if last loop and &gt; 1 loop</label>
        <locationX>225</locationX>
        <locationY>1057</locationY>
        <defaultConnector>
            <targetReference>Assign_additional_Inventor_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AdditionalInventorsCount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AdditionalInventorsCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_last_additional_inventor</targetReference>
            </connector>
            <label>Last loop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_other_contact</name>
        <label>Check other contact</label>
        <locationX>1674</locationX>
        <locationY>706</locationY>
        <defaultConnector>
            <targetReference>Add_cc_address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Available_other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Other_Contact__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_other_contact</targetReference>
            </connector>
            <label>Is Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_primary_contact</name>
        <label>Check primary contact</label>
        <locationX>1359</locationX>
        <locationY>711</locationY>
        <defaultConnector>
            <targetReference>Check_other_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_primary_contact_email</targetReference>
            </connector>
            <label>Is Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>From_Draft</name>
        <label>From Draft</label>
        <locationX>388</locationX>
        <locationY>433</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previously_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.SymphonyIPM__Disclosure_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Disclosure_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Additional_Inventors</targetReference>
            </connector>
            <label>Previously Draft</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IDFHyperlink</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;a href=&apos;https://uhg.lightning.force.com/lightning/r/SymphonyIPM__Invention_Disclosure_New__c/&quot;+{!$Record.Id}+&quot;/view&apos;&gt;&quot;+{!$Record.Name}+&quot;&lt;/a&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>NickName</name>
        <dataType>String</dataType>
        <expression>IF({!Inventors.Nick_Name__c}&lt;&gt;&quot;&quot;,{!Inventors.Nick_Name__c},{!Inventors.First_Name__c})</expression>
    </formulas>
    <formulas>
        <name>Trimnames</name>
        <dataType>String</dataType>
        <expression>CASE({!AdditionalInventorsCount},
1,TRIM(SUBSTITUTE(SUBSTITUTE({!AdditionalInventorFirstNames},&quot;[&quot;,&apos; &apos;),&quot;]&quot;,&apos; &apos;)),
2,TRIM(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!AdditionalInventorFirstNames},&quot;[&quot;,&apos; &apos;),&quot;]&quot;,&apos; &apos;),&quot;,and ,&quot;,&quot; and &quot;),&quot;,&quot;,&quot;, &quot;)),
TRIM(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!AdditionalInventorFirstNames},&quot;[&quot;,&apos; &apos;),&quot;]&quot;,&apos; &apos;),&quot;and ,&quot;,&quot;and &quot;),&quot;,&quot;,&quot;, &quot;)))</expression>
    </formulas>
    <interviewLabel>Email to Inventors - Submitted (Flow) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email to Inventors - Submitted (Flow)</label>
    <loops>
        <name>bulk_filter</name>
        <label>Loop for bulk filter</label>
        <locationX>813</locationX>
        <locationY>252</locationY>
        <collectionReference>AdditionalInventors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Inventor_Ids_to_bulk_filter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_bulk_filter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Inventors</name>
        <label>Loop Inventors</label>
        <locationX>602</locationX>
        <locationY>554</locationY>
        <collectionReference>InventorsInfo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_LoopCounter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_created_by</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Additional_Inventors</name>
        <label>Get Additional Inventors</label>
        <locationX>602</locationX>
        <locationY>377</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_AdditionalInventorsCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Invention_Disclosure_New__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Additional_Inventor__c</object>
        <outputReference>AdditionalInventors</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyIPM__Inventor__c</queriedFields>
        <queriedFields>UHG_Inventor_Info_Email_Sent__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_created_by</name>
        <label>Get created by</label>
        <locationX>983</locationX>
        <locationY>709</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_created_by_address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>CreatedByDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_other_contact</name>
        <label>Get other contact</label>
        <locationX>1941</locationX>
        <locationY>703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_other_address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Other_Contact__r.Id</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Inventor__c</object>
        <outputReference>OtherContactDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyIPM__Email__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_primary_contact_email</name>
        <label>Get primary contact email</label>
        <locationX>1367</locationX>
        <locationY>544</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_primary_address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Contact__r.Id</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Inventor__c</object>
        <outputReference>PrimaryContactDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyIPM__Email__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <start>
        <locationX>7</locationX>
        <locationY>198</locationY>
        <connector>
            <targetReference>From_Draft</targetReference>
        </connector>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TemplateForSubmittedEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&lt;u&gt;Confidential: Attorney-Client Privileged Communication&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;Hi {!Trimnames},&lt;/p&gt;
&lt;p&gt;Thanks for taking the time to submit your invention disclosure form (IDF) for: &lt;b&gt;&lt;i&gt;{!$Record.SymphonyIPM__Title__c}&lt;/i&gt;&lt;/b&gt;.&lt;/p&gt;
&lt;p&gt;We will review the IDF and get back to you shortly regarding next steps.&lt;/p&gt;
&lt;p&gt;You can check the status of this IDF here: {!IDFHyperlink}. If you have trouble accessing ISM or your business unit is a non-integrated entity with no access to UHG single sign-on, you can just reply to this email with any questions you may have about this IDF.&lt;/p&gt;
&lt;p&gt;When communicating with IP Legal or others regarding this IDF, please include the IDF number, &lt;b&gt;{!$Record.Name}&lt;/b&gt;, in the subject line. If you would like to meet to discuss this IDF, please let us know and we can put something on calendar. The IP Legal team also holds &lt;a href=&apos;https://teams.microsoft.com/l/meetup-join/19%3ameeting_ZDEyYjk2NWQtYjIyMC00ZTUzLTliYTktNjcxYmFjZjM4MDJj%40thread.v2/0?context=%7b%22Tid%22%3a%22db05faca-c82a-4b9d-b9c5-0f64b6755421%22%2c%22Oid%22%3a%22d9820ba1-fc9a-40c2-a6ef-cb3fe426343e%22%7d&apos;&gt;office hours&lt;/a&gt; at 10am CT every Wednesday, if you would like to drop in and discuss this IDF during that time.&lt;/p&gt;
&lt;p&gt;Best regards,&lt;br/&gt;
UHG IP Legal&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AdditionalInventorEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Inventor__c</objectType>
    </variables>
    <variables>
        <name>AdditionalInventorEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdditionalInventorFirstNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdditionalInventorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdditionalInventors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Additional_Inventor__c</objectType>
    </variables>
    <variables>
        <name>AdditionalInventorsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CCEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedByDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>filter</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>filters</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InventorIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InventorsInfo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Inventor__c</objectType>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OtherContactDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Inventor__c</objectType>
    </variables>
    <variables>
        <name>PrimaryContactDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Inventor__c</objectType>
    </variables>
    <variables>
        <name>UpdateAdditionalInventors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Additional_Inventor__c</objectType>
    </variables>
</Flow>
