force-app/main/default/flows/UHG_Sync_Keyword_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_IDF_ID</name>
        <label>Assign IDF IDs</label>
        <locationX>886</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>DisclosureIDs</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_through_Patents.SymphonyIPM__Base_Invention_Disclosure_New__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisclosureIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Patents.SymphonyIPM__Base_Invention_Disclosure_New__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Patents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patent_ID</name>
        <label>Assign Patent ID</label>
        <locationX>798</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PatentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SymphonyIPM__Patent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FromIDF</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Patent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patent_ID_from_IDF</name>
        <label>Assign Patent ID from IDF</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>PatentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_IDF.SymphonyIPM__Related_Patent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FromIDF</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Patent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Root_Patent_ID</name>
        <label>Assign Root Patent ID</label>
        <locationX>666</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>RootPatentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patent.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Patent_Family_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Root_Patent_ID_from_Lookup</name>
        <label>Assign Root Patent ID from Lookup</label>
        <locationX>930</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>RootPatentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patent.SymphonyIPM__Root_Patent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Patent_Family_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Root_to_Patent_IDs</name>
        <label>Assign Root to Patent IDs</label>
        <locationX>666</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>PatentIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RootPatentID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Patent_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_PatentIDs</name>
        <label>Assign to PatentIDs</label>
        <locationX>886</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>PatentIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Patents.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Diff_IDF_ID_or_from_Patent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Diff_IDF_ID_or_from_Patent</name>
        <label>Diff IDF ID or from Patent?</label>
        <locationX>1018</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Patents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Patents.SymphonyIPM__Base_Invention_Disclosure_New__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Invention_Disclosure__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Invention_Disclosure__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_through_Patents.SymphonyIPM__Base_Invention_Disclosure_New__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IDF_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Diff_Patent_ID</name>
        <label>Diff Patent ID or from IDF?</label>
        <locationX>1018</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Diff_IDF_ID_or_from_Patent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Patents.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Patent.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FromIDF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_PatentIDs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Diff_Root_Patent_ID</name>
        <label>Diff Root Patent ID or from IDF?</label>
        <locationX>798</locationX>
        <locationY>2015</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Patent_IDs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RootPatentID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Patent.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FromIDF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Root_to_Patent_IDs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IDF_or_Patent</name>
        <label>IDF or Patent?</label>
        <locationX>622</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IDF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Invention_Disclosure__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Invention_Disclosure__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_IDF</targetReference>
            </connector>
            <label>IDF</label>
        </rules>
        <rules>
            <name>Patent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Patent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Patent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Patent_ID</targetReference>
            </connector>
            <label>Patent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Patent</name>
        <label>Related Patent?</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Assign_Patent_ID_from_IDF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_IDF.SymphonyIPM__Related_Patent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_IDF.SymphonyIPM__Related_Patent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Root_Patent</name>
        <label>Root Patent?</label>
        <locationX>798</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Assign_Root_Patent_ID_from_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Patent.SymphonyIPM__Root_Patent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Patent.SymphonyIPM__Root_Patent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Root_Patent_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sync Keyword {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Keyword (Delete) [Causes limit violation error]</label>
    <loops>
        <name>Loop_through_IDF_IDs</name>
        <label>Loop through IDF IDs</label>
        <locationX>798</locationX>
        <locationY>2687</locationY>
        <collectionReference>DisclosureIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sync_Keyword_for_IDF</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Through_Patent_IDs</name>
        <label>Loop Through Patent IDs</label>
        <locationX>798</locationX>
        <locationY>2351</locationY>
        <collectionReference>PatentIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sync_Keyword_for_Patent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_IDF_IDs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Patents</name>
        <label>Loop through Patents</label>
        <locationX>798</locationX>
        <locationY>1127</locationY>
        <collectionReference>Get_Patent_Family_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Diff_Patent_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Diff_Root_Patent_ID</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_IDF</name>
        <label>Get IDF</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Patent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyIPM__Invention_Disclosure__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patent</name>
        <label>Get Patent</label>
        <locationX>798</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Root_Patent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatentID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyIPM__Patent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patent_Family_Members</name>
        <label>Get Patent Family Members</label>
        <locationX>798</locationX>
        <locationY>1007</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Patents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Root_Patent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RootPatentID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SymphonyIPM__Patent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>496</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IDF_or_Patent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UHG_Automatically_Updated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SymphonyIPM__Keyword_Association__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Sync_Keyword_for_IDF</name>
        <label>Sync Keyword for IDF</label>
        <locationX>886</locationX>
        <locationY>2807</locationY>
        <connector>
            <targetReference>Loop_through_IDF_IDs</targetReference>
        </connector>
        <flowName>UHG_Sync_Keyword_for_IDF</flowName>
        <inputAssignments>
            <name>DeleteKeywordInput</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DisclosureIDInput</name>
            <value>
                <elementReference>Loop_through_IDF_IDs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>KeywordInput</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Sync_Keyword_for_Patent</name>
        <label>Sync Keyword for Patent</label>
        <locationX>886</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>Loop_Through_Patent_IDs</targetReference>
        </connector>
        <flowName>UHG_Sync_Keyword_for_Patent</flowName>
        <inputAssignments>
            <name>DeleteKeywordInput</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>KeywordInput</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PatentIDInput</name>
            <value>
                <elementReference>Loop_Through_Patent_IDs</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>DisclosureIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FromIDF</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatentIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatentKeywords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Keyword_Association__c</objectType>
    </variables>
    <variables>
        <name>RootPatentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
