force-app/main/default/flows/UHG_Sync_Keyword_Root_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Auto_Update</name>
        <label>Auto Update?</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>IDF_or_Patent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UHG_Automatically_Updated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IDF_or_Patent</name>
        <label>IDF or Patent?</label>
        <locationX>440</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IDF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Invention_Disclosure__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Invention_Disclosure__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Product_Keyword_on_IDF</targetReference>
            </connector>
            <label>IDF</label>
        </rules>
        <rules>
            <name>Patent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Patent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Patent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Patent</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sync Keyword (Delete) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Keyword Root (Delete)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Auto_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UHG_Automatically_Updated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SymphonyIPM__Keyword_Association__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Set_Product_Keyword_on_IDF</name>
        <label>Set Product Keyword on IDF</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <flowName>UHG_Set_Product_Keyword_on_IDF</flowName>
        <inputAssignments>
            <name>DeletedKeywordAssocIdInput</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DisclosureIdInput</name>
            <value>
                <elementReference>$Record.SymphonyIPM__Invention_Disclosure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>KeywordFullNameInput</name>
            <value>
                <elementReference>$Record.Fullname__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>KeywordIdInput</name>
            <value>
                <elementReference>$Record.SymphonyIPM__Keyword__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>DisclosureIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FromIDF</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatentIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatentKeywords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Keyword_Association__c</objectType>
    </variables>
    <variables>
        <name>RootPatentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
