force-app/main/default/flows/UHG_Sync_Keyword_for_Patent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_CreateKeyword</name>
        <label>Assign CreateKeyword</label>
        <locationX>468</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>CreateKeyword</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Keyword</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_Keyword</name>
        <label>Create Keyword?</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateKeyword</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Keyword2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delete_Keyword</name>
        <label>Delete Keyword?</label>
        <locationX>468</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Secondary_or_Feature_Mismatch_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeleteKeywordInput</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Keyword</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Patent_Keyword_and_IDs_Match</name>
        <label>Patent Keyword and IDs Match?</label>
        <locationX>721</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Keywords_for_Patent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Keywords_for_Patent.SymphonyIPM__Keyword__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>KeywordInputOld.SymphonyIPM__Keyword__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Keywords_for_Patent.SymphonyIPM__Patent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PatentIDInput</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CreateKeyword</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Secondary_or_Feature_Mismatch_0</name>
        <label>Secondary or Feature Mismatch?</label>
        <locationX>666</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Keywords_for_Patent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Keywords_for_Patent.Second__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>KeywordInputNew.Second__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Keywords_for_Patent.UHG_Product_Feature__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>KeywordInputNew.UHG_Product_Feature__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>KeywordInputNew.SymphonyIPM__Keyword__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>KeywordInputOld.SymphonyIPM__Keyword__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Keyword_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sync Keyword for Patent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Keyword for Patent</label>
    <loops>
        <name>Loop_through_Keywords_for_Patent</name>
        <label>Loop through Keywords for Patent</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Keywords_for_Patent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Patent_Keyword_and_IDs_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Keyword</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Keyword2</name>
        <label>Create Keyword</label>
        <locationX>50</locationX>
        <locationY>1502</locationY>
        <inputAssignments>
            <field>Second__c</field>
            <value>
                <elementReference>KeywordInputNew.Second__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Keyword__c</field>
            <value>
                <elementReference>KeywordInputNew.SymphonyIPM__Keyword__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Patent__c</field>
            <value>
                <elementReference>PatentIDInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UHG_Automatically_Updated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UHG_Product_Feature__c</field>
            <value>
                <elementReference>KeywordInputNew.UHG_Product_Feature__c</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Keyword_Association__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Keyword1</name>
        <label>Delete Keyword</label>
        <locationX>270</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Loop_through_Keywords_for_Patent</targetReference>
        </connector>
        <inputReference>Loop_through_Keywords_for_Patent</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Keywords_for_Patent</name>
        <label>Get Keywords for Patent</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Keywords_for_Patent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Patent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatentIDInput</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Keyword__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KeywordInputOld.SymphonyIPM__Keyword__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SymphonyIPM__Keyword_Association__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Keyword</name>
        <label>Update Keyword</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Delete_Keyword1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Keywords_for_Patent.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UHG_Automatically_Updated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Keyword_Association__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Keyword_0</name>
        <label>Update Keyword</label>
        <locationX>534</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Loop_through_Keywords_for_Patent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Keywords_for_Patent.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Second__c</field>
            <value>
                <elementReference>KeywordInputNew.Second__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Keyword__c</field>
            <value>
                <elementReference>KeywordInputNew.SymphonyIPM__Keyword__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UHG_Automatically_Updated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UHG_Product_Feature__c</field>
            <value>
                <elementReference>KeywordInputNew.UHG_Product_Feature__c</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Keyword_Association__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Keywords_for_Patent</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreateKeyword</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DeleteKeywordInput</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>KeywordInputNew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Keyword_Association__c</objectType>
    </variables>
    <variables>
        <name>KeywordInputOld</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Keyword_Association__c</objectType>
    </variables>
    <variables>
        <name>PatentIDInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
