force-app/main/default/flows/UHG_Email_to_Inventors_Ready_for_PRB_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Person_Info_for_Additional_Inventors</name>
        <label>Get Person Info for Additional Inventors</label>
        <locationX>611</locationX>
        <locationY>1094</locationY>
        <actionName>GetRecordsByApex</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Inventors</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>SymphonyIPM__Inventor__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <stringValue>Id, SymphonyIPM__Email__c, First_Name__c, Nick_Name__c, Middle_Name__c, Last_Name__c, UHG_First_Name_Legal__c, UHG_Middle_Name_Legal__c, UHG_Last_Name_Legal__c, UHG_Street__c, UHG_City__c, UHG_State__c, UHG_Postal_Code__c, UHG_Country_new__c, SymphonyIPM__CitizenshipPicklist__c, UHG_Dual_Citizenship__c, SymphonyIPM__User__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterOperator</name>
            <value>
                <stringValue>OR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filters</name>
            <value>
                <elementReference>filters</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>SymphonyIPM__Inventor__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>InventorsInfo</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Ready_for_PRB_Review_Email_0</name>
        <label>Ready for PRB Review Email</label>
        <locationX>314</locationX>
        <locationY>5534</locationY>
        <actionName>SendMail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <elementReference>CCEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageBody</name>
            <value>
                <elementReference>TemplateforReadyforPRBReview</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendTo</name>
            <value>
                <elementReference>AdditionalInventorEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tosub</name>
            <value>
                <stringValue>ISM: Ready for PRB Review {!Singledisclosure.Name}: {!Singledisclosure.SymphonyIPM__Title__c} ({!$Flow.CurrentDate})</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Ready_for_PRB_Review_Email_0_0</name>
        <label>Ready for PRB Review Email Async</label>
        <locationX>50</locationX>
        <locationY>5534</locationY>
        <actionName>SendMail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <elementReference>CCEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageBody</name>
            <value>
                <elementReference>TemplateReadyforPRBReviewAsync</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendTo</name>
            <value>
                <elementReference>AdditionalInventorEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tosub</name>
            <value>
                <stringValue>ISM: Ready for PRB Review {!Singledisclosure.Name}: {!Singledisclosure.SymphonyIPM__Title__c} ({!$Flow.CurrentDate})</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>UHG_Verify_Name_Residence_Citizenship_Email</name>
        <label>Send inventor info email</label>
        <locationX>963</locationX>
        <locationY>2606</locationY>
        <actionName>SendMail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Additional_Inventor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <elementReference>CCVerifyEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageBody</name>
            <value>
                <elementReference>TemplateVerifyResidencyCitizenship</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendTo</name>
            <value>
                <elementReference>ToVerifyEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tosub</name>
            <value>
                <stringValue>ISM: Legal Name, Residential Address, and Citizenship for {!Inventors.First_Name__c} {!Inventors.Last_Name__c}: {!Singledisclosure.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Verify_Name_Residence_Citizenship_no_user</name>
        <label>Send inventor info email (no user)</label>
        <locationX>699</locationX>
        <locationY>2606</locationY>
        <actionName>SendMail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Additional_Inventor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <elementReference>CCVerifyEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageBody</name>
            <value>
                <elementReference>TemplateVerifyResidencyCitizenship_no_User</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendTo</name>
            <value>
                <elementReference>ToVerifyEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tosub</name>
            <value>
                <stringValue>ISM: Legal Name, Residential Address, and Citizenship for {!Inventors.First_Name__c} {!Inventors.Last_Name__c}: {!Singledisclosure.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_cc_address</name>
        <label>Add cc address</label>
        <locationX>380</locationX>
        <locationY>5174</locationY>
        <assignmentItems>
            <assignToReference>CCEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>patents@uhg.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CCEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>invention@uhg.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CCEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>komal_khatri@optum.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Additional_Inventor_Email_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_other_address</name>
        <label>Add other address</label>
        <locationX>248</locationX>
        <locationY>4958</locationY>
        <assignmentItems>
            <assignToReference>CCEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OtherContactDetails.SymphonyIPM__Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_cc_address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_primary_address</name>
        <label>Add primary address</label>
        <locationX>248</locationX>
        <locationY>4502</locationY>
        <assignmentItems>
            <assignToReference>CCEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PrimaryContactDetails.SymphonyIPM__Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_other_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_additional_inventor</name>
        <label>Assign additional inventor</label>
        <locationX>1304</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>UpdateAdditionalInventor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Additional_Inventor_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Additional_Inventor_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_additional_Inventor_Email</name>
        <label>Assign additional Inventor Email</label>
        <locationX>1029</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>AdditionalInventorEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Inventors.SymphonyIPM__Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdditionalInventorFirstNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NickName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inventors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AdditionalInventorsCount</name>
        <label>Assign AdditionalInventorsCount</label>
        <locationX>611</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>AdditionalInventorsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AdditionalInventors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bulk_filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_bulk_filter</name>
        <label>Assign bulk filter</label>
        <locationX>611</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>filter.filterField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>filter.operator</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>filter.fieldCollectionValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InventorIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_bulk_filters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_bulk_filters</name>
        <label>Assign bulk filters</label>
        <locationX>611</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>filters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>filter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Person_Info_for_Additional_Inventors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inventor_Ids_to_bulk_filter</name>
        <label>Assign Inventor Ids to bulk filter</label>
        <locationX>699</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>InventorIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>bulk_filter.SymphonyIPM__Inventor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bulk_filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_last_additional_inventor</name>
        <label>Assigning last additional inventor</label>
        <locationX>897</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>AdditionalInventorFirstNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>and </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_additional_Inventor_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_verify_info</name>
        <label>Assign inventor info email addresses</label>
        <locationX>831</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>CCVerifyEmailAddress</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>CCVerifyEmailAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CCVerifyEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>patents@uhg.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToVerifyEmailAddress</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>ToVerifyEmailAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToVerifyEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Inventors.SymphonyIPM__Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_user</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_LoopCounter</name>
        <label>Increment Loop Counter</label>
        <locationX>1216</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_email_is_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_additional_inventor</name>
        <label>Reset additional inventor</label>
        <locationX>1216</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>UpdateAdditionalInventor</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Additional_Inventor_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Additional_Inventor</name>
        <label>Update Additional Inventor</label>
        <locationX>831</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>UpdateAdditionalInventor.UHG_Inventor_Info_Email_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Additional_Inventors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Additional_Inventors</name>
        <label>Update Additional Inventors</label>
        <locationX>831</locationX>
        <locationY>2942</locationY>
        <assignmentItems>
            <assignToReference>UpdateAdditionalInventors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdateAdditionalInventor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_last_loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Additional_Inventor_Email_Addresses</name>
        <label>Check for Additional Inventor Email Addresses</label>
        <locationX>380</locationX>
        <locationY>5294</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AdditionalInventorEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Async_Review</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Async_Review</name>
        <label>Check for Async Review</label>
        <locationX>182</locationX>
        <locationY>5414</locationY>
        <defaultConnector>
            <targetReference>Ready_for_PRB_Review_Email_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PRB meeting</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Singledisclosure.SymphonyIPM__Hierarchy__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Async Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ready_for_PRB_Review_Email_0_0</targetReference>
            </connector>
            <label>Async Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_email_is_blank</name>
        <label>Check if inventor email is blank</label>
        <locationX>1216</locationX>
        <locationY>2126</locationY>
        <defaultConnector>
            <targetReference>Inventors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blank</defaultConnectorLabel>
        <rules>
            <name>Not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inventors.SymphonyIPM__Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UHG_Disclosure_Status</targetReference>
            </connector>
            <label>Not blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_last_loop</name>
        <label>Check if last loop and &gt; 1 loop</label>
        <locationX>1029</locationX>
        <locationY>3158</locationY>
        <defaultConnector>
            <targetReference>Assign_additional_Inventor_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AdditionalInventorsCount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AdditionalInventorsCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_last_additional_inventor</targetReference>
            </connector>
            <label>Last loop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_other_contact</name>
        <label>Check other contact</label>
        <locationX>380</locationX>
        <locationY>4718</locationY>
        <defaultConnector>
            <targetReference>Add_cc_address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Available_other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Singledisclosure.Other_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_other_contact</targetReference>
            </connector>
            <label>Is Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_primary_contact</name>
        <label>Check primary contact</label>
        <locationX>380</locationX>
        <locationY>4262</locationY>
        <defaultConnector>
            <targetReference>Check_other_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Singledisclosure.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_primary_contact_email</targetReference>
            </connector>
            <label>Is Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_user</name>
        <label>Check for user</label>
        <locationX>831</locationX>
        <locationY>2486</locationY>
        <defaultConnector>
            <targetReference>UHG_Verify_Name_Residence_Citizenship_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User set</defaultConnectorLabel>
        <rules>
            <name>User_not_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inventors.SymphonyIPM__User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verify_Name_Residence_Citizenship_no_user</targetReference>
            </connector>
            <label>User not set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Disclosure_Status</name>
        <label>Disclosure Status</label>
        <locationX>611</locationX>
        <locationY>4142</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UHG_Ready_for_PRB_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Singledisclosure.SymphonyIPM__Disclosure_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for PRB Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Singledisclosure.UHG_Ready_for_PRB_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_primary_contact</targetReference>
            </connector>
            <label>Ready for PRB Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matching_additional_inventor</name>
        <label>Matching additional inventor</label>
        <locationX>1436</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Update_Additional_Inventor_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inventors.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Update_Additional_Inventor_loop.SymphonyIPM__Inventor__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_additional_inventor</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>UHG_Disclosure_Status</name>
        <label>Disclosure Status</label>
        <locationX>1029</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Check_if_last_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Already Sent</defaultConnectorLabel>
        <rules>
            <name>Still_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Singledisclosure.SymphonyIPM__Disclosure_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Singledisclosure.SymphonyIPM__Disclosure_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed - IP Legal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Singledisclosure.SymphonyIPM__Disclosure_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Singledisclosure.SymphonyIPM__Disclosure_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Defensive Publication</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Singledisclosure.SymphonyIPM__Disclosure_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Search Unfavorable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Singledisclosure.SymphonyIPM__Disclosure_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Singledisclosure.SymphonyIPM__Disclosure_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PRB Review Complete - Close</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UpdateAdditionalInventor.UHG_Inventor_Info_Email_Sent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Singledisclosure.SymphonyIPM__Disclosure_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Requested For More Information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Singledisclosure.SymphonyIPM__Disclosure_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_verify_info</targetReference>
            </connector>
            <label>Still Active, Not Sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Additional_Inventors_decision</name>
        <label>Update Additional Inventors</label>
        <locationX>611</locationX>
        <locationY>3806</locationY>
        <defaultConnector>
            <targetReference>Update_Additional_Inventors_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not null</defaultConnectorLabel>
        <rules>
            <name>Is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateAdditionalInventors</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disclosure_Status</targetReference>
            </connector>
            <label>Is null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CleanPRBMeetingName</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!Singledisclosure.SymphonyIPM__Hierarchy__r.Name}, &quot; PRB&quot;, &quot;&quot;), &quot; IDF&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>IDFHyperlink</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;a href=&apos;https://uhg.lightning.force.com/lightning/r/SymphonyIPM__Invention_Disclosure_New__c/&quot;+{!Singledisclosure.Id}+&quot;/view&apos;&gt;&quot;+{!Singledisclosure.Name}+&quot;&lt;/a&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>LegalFirstName</name>
        <dataType>String</dataType>
        <expression>IF({!Inventors.UHG_First_Name_Legal__c}&lt;&gt;&quot;&quot;,{!Inventors.UHG_First_Name_Legal__c},{!Inventors.First_Name__c})</expression>
    </formulas>
    <formulas>
        <name>LegalLastName</name>
        <dataType>String</dataType>
        <expression>IF({!Inventors.UHG_Last_Name_Legal__c}&lt;&gt;&quot;&quot;,{!Inventors.UHG_Last_Name_Legal__c},{!Inventors.Last_Name__c})</expression>
    </formulas>
    <formulas>
        <name>LegalMiddleName</name>
        <dataType>String</dataType>
        <expression>IF({!Inventors.UHG_Middle_Name_Legal__c}&lt;&gt;&quot;&quot;,{!Inventors.UHG_Middle_Name_Legal__c},{!Inventors.Middle_Name__c})</expression>
    </formulas>
    <formulas>
        <name>NickName</name>
        <dataType>String</dataType>
        <expression>IF({!Inventors.Nick_Name__c}&lt;&gt;&quot;&quot;,{!Inventors.Nick_Name__c},{!Inventors.First_Name__c})</expression>
    </formulas>
    <formulas>
        <name>SurveyHyperlink</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;a href=&apos;https://1click.optum.com/Survey/OpenSurvey?ID=88684b9c-a755-46be-8666-8197e10c73db&amp;IDFNumber=&quot;+{!Singledisclosure.Name}+&quot;&amp;Title=&quot;+{!Singledisclosure.SymphonyIPM__Title__c}+&quot;&amp;Phase=IDF submission and intake experience&apos;&gt;Patent Process Survey&lt;/a&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>Trimnames</name>
        <dataType>String</dataType>
        <expression>CASE({!AdditionalInventorsCount},
1,TRIM(SUBSTITUTE(SUBSTITUTE({!AdditionalInventorFirstNames},&quot;[&quot;,&apos; &apos;),&quot;]&quot;,&apos; &apos;)),
2,TRIM(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!AdditionalInventorFirstNames},&quot;[&quot;,&apos; &apos;),&quot;]&quot;,&apos; &apos;),&quot;,and ,&quot;,&quot; and &quot;),&quot;,&quot;,&quot;, &quot;)),
TRIM(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!AdditionalInventorFirstNames},&quot;[&quot;,&apos; &apos;),&quot;]&quot;,&apos; &apos;),&quot;and ,&quot;,&quot;and &quot;),&quot;,&quot;,&quot;, &quot;)))</expression>
    </formulas>
    <formulas>
        <name>UserFirstName</name>
        <dataType>String</dataType>
        <expression>IF({!$User.UHG_Preferred_First_Name__c}&lt;&gt;&quot;&quot;,{!$User.UHG_Preferred_First_Name__c},{!$User.FirstName})</expression>
    </formulas>
    <formulas>
        <name>UserHyperlink</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;a href=&apos;https://uhg.lightning.force.com/lightning/setup/ManageUsers/page?address=%2F&quot;+{!Inventors.SymphonyIPM__User__c}+&quot;%3Fnoredirect%3D1%26isUserEntityOverride%3D1&apos;&gt;please go to the Invention Submission and Management (ISM) tool here&lt;/a&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>UserLastName</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$User.LastName},&quot; (IC)&quot;),LEFT({!$User.LastName},LEN({!$User.LastName})-5),{!$User.LastName})</expression>
    </formulas>
    <formulas>
        <name>UserTelephone</name>
        <dataType>String</dataType>
        <expression>IF({!$User.Phone}&lt;&gt;&quot;&quot;,&quot;T: &quot;+{!$User.Phone}+&quot;  |  &quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Email to Inventors - Ready for PRB Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email to Inventors - Ready for PRB Review/Inventor Info (Flow)</label>
    <loops>
        <name>bulk_filter</name>
        <label>Loop for bulk filter</label>
        <locationX>611</locationX>
        <locationY>518</locationY>
        <collectionReference>AdditionalInventors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Inventor_Ids_to_bulk_filter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_bulk_filter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Inventors</name>
        <label>Loop Inventors</label>
        <locationX>611</locationX>
        <locationY>1214</locationY>
        <collectionReference>InventorsInfo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_additional_inventor</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Additional_Inventors_decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Additional_Inventor_loop</name>
        <label>Update additional inventor</label>
        <locationX>1216</locationX>
        <locationY>1454</locationY>
        <collectionReference>AdditionalInventors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Matching_additional_inventor</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Increment_LoopCounter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Additional_Inventors</name>
        <label>Get Additional Inventors</label>
        <locationX>611</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_AdditionalInventorsCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Invention_Disclosure_New__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Additional_Inventor__c</object>
        <outputReference>AdditionalInventors</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyIPM__Inventor__c</queriedFields>
        <queriedFields>UHG_Inventor_Info_Email_Sent__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Disclosure</name>
        <label>Get Disclosure</label>
        <locationX>611</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Additional_Inventors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
        <outputReference>Singledisclosure</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SymphonyIPM__Title__c</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <queriedFields>Primary_Inventor__c</queriedFields>
        <queriedFields>Inventors__c</queriedFields>
        <queriedFields>SymphonyIPM__Disclosure_Status__c</queriedFields>
        <queriedFields>Hyperlink__c</queriedFields>
        <queriedFields>SymphonyIPM__Hierarchy__c</queriedFields>
        <queriedFields>UHG_Ready_for_PRB_Email_Sent__c</queriedFields>
        <queriedFields>Other_Contact__c</queriedFields>
        <queriedFields>UHG_Link_to_IDF_Supplement__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_other_contact</name>
        <label>Get other contact</label>
        <locationX>248</locationX>
        <locationY>4838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_other_address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Singledisclosure.Other_Contact__c</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Inventor__c</object>
        <outputReference>OtherContactDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyIPM__Email__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_primary_contact_email</name>
        <label>Get primary contact email</label>
        <locationX>248</locationX>
        <locationY>4382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_primary_address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Singledisclosure.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Inventor__c</object>
        <outputReference>PrimaryContactDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyIPM__Email__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Additional_Inventors_update</name>
        <label>Update Additional Inventors</label>
        <locationX>699</locationX>
        <locationY>3926</locationY>
        <connector>
            <targetReference>Disclosure_Status</targetReference>
        </connector>
        <inputReference>UpdateAdditionalInventors</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Disclosure</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TemplateforReadyforPRBReview</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&lt;u&gt;Confidential: Attorney-Client Privileged Communication&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;Hi {!Trimnames},&lt;/p&gt;
&lt;p&gt;Thanks for taking the time to submit your invention disclosure for: &lt;b&gt;{!Singledisclosure.SymphonyIPM__Title__c}&lt;/b&gt;.&lt;/p&gt;
&lt;p&gt;A representative of the Patent Review Board (PRB) will contact you shortly to schedule a meeting with the next available &lt;b&gt;{!CleanPRBMeetingName} PRB&lt;/b&gt;. You will have approximately 20 minutes to present and answer questions. As you may know, the PRB’s purpose is to assess ideas for technical novelty and business value, while helping you grow as an inventor. The description below is to help you prepare for this meeting.&lt;/p&gt;
&lt;p&gt;&lt;b&gt;Discussions begin with a verbal overview of the idea by the inventor(s), typically lasting 3-8 minutes.&lt;/b&gt; Your overview should highlight:
&lt;ul&gt;
&lt;li&gt;the nature of the problem solved;&lt;/li&gt;
&lt;li&gt;how the invention works;&lt;/li&gt;
&lt;li&gt;the novelty of the invention, with an emphasis on advantages of this idea over previous solutions.&lt;/li&gt;&lt;/ul&gt;&lt;/p&gt;
&lt;p&gt;&lt;b&gt;Evaluators will ask clarifying questions, so that they can assess the idea based on novelty, technical feasibility, and business case for advancing with a patent application.&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;&lt;b&gt;A decision will then be reached during the review, and could be one of the following:&lt;/b&gt;
&lt;ul&gt;
&lt;li&gt;&lt;b style=&quot;color:green;&quot;&gt;PROCEED&lt;/b&gt;, if the board feels that a prior art search should be pursued as the next step towards patent filing;&lt;/li&gt;
&lt;li&gt;&lt;b style=&quot;color:purple;&quot;&gt;CONDITIONAL PROCEED&lt;/b&gt;, if the board feels that a prior art search should be pursued as the next step towards patent filing, but some additional information is needed before proceeding;&lt;/li&gt;
&lt;li&gt;&lt;b style=&quot;color:gray;&quot;&gt;PUBLISH&lt;/b&gt;, if the board feels that defensive publication should be pursued rather than patent protection;&lt;/li&gt;
&lt;li&gt;&lt;b style=&quot;color:red;&quot;&gt;CLOSE&lt;/b&gt;, if the board feels that the idea falls short in either novelty, feasibility, clarity, or business interests; or&lt;/li&gt;
&lt;li&gt;&lt;b style=&quot;color:orange;&quot;&gt;DEFERRED&lt;/b&gt;, if the board feels that additional information and a further PRB review are needed.&lt;/li&gt;&lt;/ul&gt;&lt;/p&gt;
&lt;p&gt;Please feel free to reach out with any questions. You will receive a meeting invite soon. If you cannot attend the PRB teleconference, we will reschedule at our earliest mutual convenience. Otherwise, we look forward to meeting with you and learning more about your idea.&lt;/p&gt;
&lt;p&gt;When communicating with IP Legal or others regarding this IDF, please include the IDF number, &lt;b&gt;{!Singledisclosure.Name}&lt;/b&gt;, in the subject line.&lt;/p&gt;
&lt;p&gt;You can check the status of this IDF at this link: {!IDFHyperlink}.&lt;/p&gt;
&lt;p style=&quot;color:red;&quot;&gt;&lt;b&gt;NEW&lt;/b&gt; – Please provide feedback on your IDF submission and intake experience here: {!SurveyHyperlink}.&lt;/p&gt;
&lt;p&gt;If you would like to meet with someone from IP Legal, please feel free to drop in during our &lt;a href=&apos;https://teams.microsoft.com/l/meetup-join/19%3ameeting_ZDEyYjk2NWQtYjIyMC00ZTUzLTliYTktNjcxYmFjZjM4MDJj%40thread.v2/0?context=%7b%22Tid%22%3a%22db05faca-c82a-4b9d-b9c5-0f64b6755421%22%2c%22Oid%22%3a%22d9820ba1-fc9a-40c2-a6ef-cb3fe426343e%22%7d&apos;&gt;office hours&lt;/a&gt; at 10am CT every Wednesday, or you can also reply to this email to schedule a meeting at another time and date.&lt;/p&gt;
&lt;p&gt;Best regards,&lt;br/&gt;
{!UserFirstName}&lt;br/&gt;
_______________________________________________&lt;br/&gt;
{!UserFirstName} {!UserLastName}  |  {!$User.Title}&lt;br/&gt;
UnitedHealth Group, Enterprise Legal - Intellectual Property&lt;br/&gt;
9900 Bren Road East, MN008-T615, Minnetonka, MN 55343&lt;br/&gt;
{!UserTelephone}{!$User.Email}&lt;br/&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TemplateReadyforPRBReviewAsync</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&lt;u&gt;Confidential: Attorney-Client Privileged Communication&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;Hi {!Trimnames},&lt;/p&gt;
&lt;p&gt;Thanks for taking the time to submit your invention disclosure for: &lt;b&gt;{!Singledisclosure.SymphonyIPM__Title__c}&lt;/b&gt;.&lt;/p&gt;
&lt;p&gt;This IDF has been selected by IP Legal for asynchronous review given the likelihood of its novelty/non-obviousness and its business value, so you will not need to present this IDF at a PRB meeting. Instead, members of the &lt;b&gt;{!CleanPRBMeetingName} PRB&lt;/b&gt; will review the IDF over the next few weeks and identify any questions they have for you. If they have questions, we will contact you to answer those questions before sending this IDF to our outside counsel for a patentability search.&lt;/p&gt;
&lt;p&gt;Please feel free to reach out with any questions.&lt;/p&gt;
&lt;p&gt;When communicating with IP Legal or others regarding this IDF, please include the IDF number, &lt;b&gt;{!Singledisclosure.Name}&lt;/b&gt;, in the subject line.&lt;/p&gt;
&lt;p&gt;You can check the status of this IDF at this link: {!IDFHyperlink}.&lt;/p&gt;
&lt;p style=&quot;color:red;&quot;&gt;&lt;b&gt;NEW&lt;/b&gt; – Please provide feedback on your IDF submission and intake experience here: {!SurveyHyperlink}.&lt;/p&gt;
&lt;p&gt;If you would like to meet with someone from IP Legal, please feel free to drop in during our &lt;a href=&apos;https://teams.microsoft.com/l/meetup-join/19%3ameeting_ZDEyYjk2NWQtYjIyMC00ZTUzLTliYTktNjcxYmFjZjM4MDJj%40thread.v2/0?context=%7b%22Tid%22%3a%22db05faca-c82a-4b9d-b9c5-0f64b6755421%22%2c%22Oid%22%3a%22d9820ba1-fc9a-40c2-a6ef-cb3fe426343e%22%7d&apos;&gt;office hours&lt;/a&gt; at 10am CT every Wednesday, or you can also reply to this email to schedule a meeting at another time and date.&lt;/p&gt;
&lt;p&gt;Best regards,&lt;br/&gt;
{!UserFirstName}&lt;br/&gt;
_______________________________________________&lt;br/&gt;
{!UserFirstName} {!UserLastName}  |  {!$User.Title}&lt;br/&gt;
UnitedHealth Group, Enterprise Legal - Intellectual Property&lt;br/&gt;
9900 Bren Road East, MN008-T615, Minnetonka, MN 55343&lt;br/&gt;
{!UserTelephone}{!$User.Email}&lt;br/&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TemplateVerifyResidencyCitizenship</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&lt;u&gt;Confidential: Attorney-Client Privileged Communication&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;Hi {!NickName},&lt;/p&gt;
&lt;p&gt;You are named as an inventor on the invention disclosure for: &lt;b&gt;{!Singledisclosure.SymphonyIPM__Title__c}&lt;/b&gt;. Before the IDF can proceed with the evaluation and patent application process, you are &lt;u&gt;required&lt;/u&gt; to review and update your full legal name, residential address, and citizenship information.&lt;/p&gt;
&lt;p&gt;The legal name, residential address, and citizenship information we have on file for you (if any) is:
&lt;ul&gt;
&lt;li&gt;First Name (Legal): {!LegalFirstName}&lt;/li&gt;
&lt;li&gt;Middle Name/Initial (Legal): {!LegalMiddleName}&lt;/li&gt;
&lt;li&gt;Last Name (Legal): {!LegalLastName}&lt;/li&gt;
&lt;li&gt;Street: {!Inventors.UHG_Street__c}&lt;/li&gt;
&lt;li&gt;City: {!Inventors.UHG_City__c}&lt;/li&gt;
&lt;li&gt;State/Province: {!Inventors.UHG_State__c}&lt;/li&gt;
&lt;li&gt;Zip/Postal Code: {!Inventors.UHG_Postal_Code__c}&lt;/li&gt;
&lt;li&gt;Country: {!Inventors.UHG_Country_new__c}&lt;/li&gt;
&lt;li&gt;Citizenship: {!Inventors.SymphonyIPM__CitizenshipPicklist__c}&lt;/li&gt;
&lt;li&gt;Dual Citizenship: {!Inventors.UHG_Dual_Citizenship__c}&lt;/li&gt;&lt;/ul&gt;&lt;/p&gt;
&lt;p&gt;If anything is missing or incorrect, {!UserHyperlink} to update your information. This link is specific to you. Do not share it with others.
&lt;ul&gt;
&lt;li&gt;If you are prompted to login, please select the &apos;Inventor Login&apos; button at the bottom of the page.&lt;/li&gt;
&lt;li&gt;If you are a reviewer and you are logged in as a reviewer, please log out and log in using the &apos;Inventor Login&apos; button before selecting the link above.&lt;/li&gt;
&lt;li&gt;Please use Edge or Chrome (Salesforce does not completely support Safari).&lt;/li&gt;
&lt;li&gt;If you were recently added to ISM and you receive a single sign-on error, the error may be due to your secure group request not having been approved yet. If the error does not resolve itself within a few days, please contact IP Legal.&lt;/li&gt;
&lt;li&gt;If you have trouble accessing ISM or your business unit is a non-integrated entity with no access to UHG single sign-on, you can just reply to this email with your updated info.&lt;/li&gt;
&lt;/ul&gt;
After opening your User Detail page:
&lt;ol&gt;
&lt;li&gt;Select the &apos;Edit&apos; button near the top of the page&lt;/li&gt;
&lt;li&gt;Scroll down to the &lt;b&gt;&lt;u&gt;&apos;Residential Address, Citizenship, and Legal Name&apos;&lt;/u&gt;&lt;/b&gt; section of the page&lt;/li&gt;
&lt;li&gt;Update your legal name, residential address, and citizenship information&lt;/li&gt;
&lt;li&gt;Select the &apos;Save&apos; button&lt;/li&gt;&lt;/ol&gt;&lt;/p&gt;
&lt;p&gt;Please let us know if you have any questions.&lt;/p&gt;
&lt;p&gt;Best regards,&lt;br/&gt;
{!UserFirstName}&lt;br/&gt;
_______________________________________________&lt;br/&gt;
{!UserFirstName} {!UserLastName}  |  {!$User.Title}&lt;br/&gt;
UnitedHealth Group, Enterprise Legal - Intellectual Property&lt;br/&gt;
9900 Bren Road East, MN008-T615, Minnetonka, MN 55343&lt;br/&gt;
{!UserTelephone}{!$User.Email}&lt;br/&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TemplateVerifyResidencyCitizenship_no_User</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&lt;u&gt;Confidential: Attorney-Client Privileged Communication&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;Hi {!NickName},&lt;/p&gt;
&lt;p&gt;You are named as an inventor on the invention disclosure for: &lt;b&gt;{!Singledisclosure.SymphonyIPM__Title__c}&lt;/b&gt;. Before the IDF can proceed with the evaluation and patent application process, you are &lt;u&gt;required&lt;/u&gt; to review and update your full legal name, residential address, and citizenship information.&lt;/p&gt;
&lt;p&gt;The legal name, residential address, and citizenship information we have on file for you (if any) is:
&lt;ul&gt;
&lt;li&gt;First Name (Legal): {!LegalFirstName}&lt;/li&gt;
&lt;li&gt;Middle Name/Initial (Legal): {!LegalMiddleName}&lt;/li&gt;
&lt;li&gt;Last Name (Legal): {!LegalLastName}&lt;/li&gt;
&lt;li&gt;Street: {!Inventors.UHG_Street__c}&lt;/li&gt;
&lt;li&gt;City: {!Inventors.UHG_City__c}&lt;/li&gt;
&lt;li&gt;State/Province: {!Inventors.UHG_State__c}&lt;/li&gt;
&lt;li&gt;Zip/Postal Code: {!Inventors.UHG_Postal_Code__c}&lt;/li&gt;
&lt;li&gt;Country: {!Inventors.UHG_Country_new__c}&lt;/li&gt;
&lt;li&gt;Citizenship: {!Inventors.SymphonyIPM__CitizenshipPicklist__c}&lt;/li&gt;
&lt;li&gt;Dual Citizenship: {!Inventors.UHG_Dual_Citizenship__c}&lt;/li&gt;&lt;/ul&gt;&lt;/p&gt;
&lt;p&gt;If anything is missing or incorrect, &lt;a href=&apos;http://goto.uhg.com/patents&apos;&gt;please log in to the Invention Submission and Management (ISM) tool here&lt;/a&gt; to update your information.
&lt;ul&gt;
&lt;li&gt;If you are prompted to login, please select the &apos;Inventor Login&apos; button at the bottom of the page.&lt;/li&gt;
&lt;li&gt;If you are a reviewer and you are logged in as a reviewer, please log out and log in using the &apos;Inventor Login&apos; button before selecting the link above.&lt;/li&gt;
&lt;li&gt;Please use Edge or Chrome (Salesforce does not completely support Safari).&lt;/li&gt;
&lt;li&gt;If you were recently added to ISM and you receive a single sign-on error, the error may be due to your secure group request not having been approved yet. If the error does not resolve itself within a few days, please contact IP Legal.&lt;/li&gt;
&lt;li&gt;If you have trouble accessing ISM or your business unit is a non-integrated entity with no access to UHG single sign-on, you can just reply to this email with your updated info.&lt;/li&gt;
&lt;/ul&gt;
Once you have logged in:
&lt;ol&gt;
&lt;li&gt;Select the profile picture in the upper right corner of the page&lt;/li&gt;
&lt;li&gt;Select your &lt;b&gt;&lt;u&gt;profile name&lt;/u&gt;&lt;/b&gt; (not the settings link) in the pop-up dialog&lt;/li&gt;
&lt;li&gt;Select the User Detail button on the right side of the page&lt;/li&gt;&lt;/ol&gt;&lt;/p&gt;
&lt;p&gt;After opening your User Detail page:
&lt;ol&gt;
&lt;li&gt;Select the &apos;Edit&apos; button near the top of the page&lt;/li&gt;
&lt;li&gt;Scroll down to the &lt;b&gt;&lt;u&gt;&apos;Residential Address, Citizenship, and Legal Name&apos;&lt;/u&gt;&lt;/b&gt; section of the page&lt;/li&gt;
&lt;li&gt;Update your legal name, residential address, and citizenship information&lt;/li&gt;
&lt;li&gt;Select the &apos;Save&apos; button&lt;/li&gt;&lt;/ol&gt;&lt;/p&gt;
&lt;p&gt;Please let us know if you have any questions.&lt;/p&gt;
&lt;p&gt;Best regards,&lt;br/&gt;
{!UserFirstName}&lt;br/&gt;
_______________________________________________&lt;br/&gt;
{!UserFirstName} {!UserLastName}  |  {!$User.Title}&lt;br/&gt;
UnitedHealth Group, Enterprise Legal - Intellectual Property&lt;br/&gt;
9900 Bren Road East, MN008-T615, Minnetonka, MN 55343&lt;br/&gt;
{!UserTelephone}{!$User.Email}&lt;br/&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AdditionalInventorEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Inventor__c</objectType>
    </variables>
    <variables>
        <name>AdditionalInventorEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdditionalInventorFirstNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdditionalInventorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdditionalInventors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Additional_Inventor__c</objectType>
    </variables>
    <variables>
        <name>AdditionalInventorsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CCEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CCVerifyEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>filter</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>filters</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InventorIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InventorInfoEmailSent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InventorsInfo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Inventor__c</objectType>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OtherContactDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Inventor__c</objectType>
    </variables>
    <variables>
        <name>PrimaryContactDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Inventor__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Singledisclosure</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Invention_Disclosure_New__c</objectType>
    </variables>
    <variables>
        <name>ToVerifyEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateAdditionalInventor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Additional_Inventor__c</objectType>
    </variables>
    <variables>
        <name>UpdateAdditionalInventors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Additional_Inventor__c</objectType>
    </variables>
</Flow>
