force-app/main/default/flows/UHG_Email_to_Inventors_Reminder_Needs_More_Info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Defer_CP_Reminder_Email</name>
        <label>Defer/CP Reminder Email</label>
        <locationX>671</locationX>
        <locationY>4536</locationY>
        <actionName>SendMail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Reminder_Base_Date_Time</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <elementReference>CCEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageBody</name>
            <value>
                <elementReference>TemplateForDeferredCPReminderEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendTo</name>
            <value>
                <elementReference>AdditionalInventorEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tosub</name>
            <value>
                <stringValue>ISM: REMINDER More Info Requested {!$Record.Name}: {!$Record.SymphonyIPM__Title__c} ({!$Flow.CurrentDate})</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Person_Info_for_Additional_Inventors</name>
        <label>Get Person Info for Additional Inventors</label>
        <locationX>638</locationX>
        <locationY>1680</locationY>
        <actionName>GetRecordsByApex</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Inventors</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>SymphonyIPM__Inventor__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldsToQuery</name>
            <value>
                <stringValue>Id, SymphonyIPM__Email__c, First_Name__c, Nick_Name__c, Middle_Name__c, Last_Name__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filterOperator</name>
            <value>
                <stringValue>OR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>filters</name>
            <value>
                <elementReference>filters</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>SymphonyIPM__Inventor__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>InventorsInfo</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Reminder_Email</name>
        <label>Reminder Email</label>
        <locationX>407</locationX>
        <locationY>4536</locationY>
        <actionName>SendMail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Reminder_Base_Date_Time</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <elementReference>CCEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageBody</name>
            <value>
                <elementReference>TemplateForReminderEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendTo</name>
            <value>
                <elementReference>AdditionalInventorEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tosub</name>
            <value>
                <stringValue>ISM: REMINDER More Info Requested {!$Record.Name}: {!$Record.SymphonyIPM__Title__c} ({!$Flow.CurrentDate})</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Withdrawal_Email</name>
        <label>Withdrawal Email</label>
        <locationX>143</locationX>
        <locationY>4536</locationY>
        <actionName>SendMail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <elementReference>CCEmailAddresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageBody</name>
            <value>
                <elementReference>TemplateForWithdrawalEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendTo</name>
            <value>
                <elementReference>AdditionalInventorEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tosub</name>
            <value>
                <stringValue>ISM: Closed - Withdrawn {!$Record.Name}: {!$Record.SymphonyIPM__Title__c} ({!$Flow.CurrentDate})</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_cc_address</name>
        <label>Add cc address</label>
        <locationX>638</locationX>
        <locationY>3720</locationY>
        <assignmentItems>
            <assignToReference>CCEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>patents@uhg.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CCEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>linhda.nguyen@uhg.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_IC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_IC_cc_address</name>
        <label>Add IC cc address</label>
        <locationX>143</locationX>
        <locationY>4416</locationY>
        <assignmentItems>
            <assignToReference>CCEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SymphonyIPM__Internal_Counsel__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Withdrawal_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_other_address</name>
        <label>Add other address</label>
        <locationX>506</locationX>
        <locationY>3504</locationY>
        <assignmentItems>
            <assignToReference>CCEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OtherContactDetails.SymphonyIPM__Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_cc_address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_primary_address</name>
        <label>Add primary address</label>
        <locationX>506</locationX>
        <locationY>3048</locationY>
        <assignmentItems>
            <assignToReference>CCEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PrimaryContactDetails.SymphonyIPM__Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_other_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_additional_Inventor_Email</name>
        <label>Assign additional Inventor Email</label>
        <locationX>858</locationX>
        <locationY>2496</locationY>
        <assignmentItems>
            <assignToReference>AdditionalInventorEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Inventors.SymphonyIPM__Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdditionalInventorFirstNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NickName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inventors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AdditionalInventorsCount</name>
        <label>Assign AdditionalInventorsCount</label>
        <locationX>638</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>AdditionalInventorsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AdditionalInventors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bulk_filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_bulk_filter</name>
        <label>Assign bulk filter</label>
        <locationX>638</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>filter.filterField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>filter.operator</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>filter.fieldCollectionValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InventorIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_bulk_filters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_bulk_filters</name>
        <label>Assign bulk filters</label>
        <locationX>638</locationX>
        <locationY>1560</locationY>
        <assignmentItems>
            <assignToReference>filters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>filter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Person_Info_for_Additional_Inventors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inventor_Ids_to_bulk_filter</name>
        <label>Assign Inventor Ids to bulk filter</label>
        <locationX>726</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>InventorIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>bulk_filter.SymphonyIPM__Inventor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bulk_filter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_last_additional_inventor</name>
        <label>Assigning last additional inventor</label>
        <locationX>726</locationX>
        <locationY>2280</locationY>
        <assignmentItems>
            <assignToReference>AdditionalInventorFirstNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>and </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_additional_Inventor_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_cc_address</name>
        <label>Add cc address</label>
        <locationX>506</locationX>
        <locationY>3960</locationY>
        <assignmentItems>
            <assignToReference>CCEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.SymphonyIPM__Internal_Counsel__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Additional_Inventor_Email_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_LoopCounter</name>
        <label>Increment Loop Counter</label>
        <locationX>1012</locationX>
        <locationY>1920</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_email_is_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Note_Info_for_Reminder</name>
        <label>Set Note Info for Reminder</label>
        <locationX>770</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>NoteContent</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>See previous note on {!$Record.UHG_Reminder_Date__c} regarding request for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoteTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REMINDER - More Info Requested by UHG IP Legal - {!TextDate}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Note</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Note_Info_for_Withdrawal</name>
        <label>Set Note Info for Withdrawal</label>
        <locationX>506</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>NoteContent</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Withdrawn due to lack of response to request for more information on {!$Record.UHG_Reminder_Date__c}.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoteTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed by UHG IP Legal - {!TextDate}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Note</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Additional_Inventor_Email_Addresses</name>
        <label>Check for Additional Inventor Email Addresses</label>
        <locationX>638</locationX>
        <locationY>4176</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AdditionalInventorEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expiration_Passed1</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_email_is_blank</name>
        <label>Check if inventor email is blank</label>
        <locationX>1012</locationX>
        <locationY>2040</locationY>
        <defaultConnector>
            <targetReference>Inventors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blank</defaultConnectorLabel>
        <rules>
            <name>Not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inventors.SymphonyIPM__Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_last_loop</targetReference>
            </connector>
            <label>Not blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_last_loop</name>
        <label>Check if last loop and &gt; 1 loop</label>
        <locationX>858</locationX>
        <locationY>2160</locationY>
        <defaultConnector>
            <targetReference>Assign_additional_Inventor_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AdditionalInventorsCount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AdditionalInventorsCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_last_additional_inventor</targetReference>
            </connector>
            <label>Last loop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_other_contact</name>
        <label>Check other contact</label>
        <locationX>638</locationX>
        <locationY>3264</locationY>
        <defaultConnector>
            <targetReference>Add_cc_address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Available_other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Other_Contact__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_other_contact</targetReference>
            </connector>
            <label>Is Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_primary_contact</name>
        <label>Check primary contact</label>
        <locationX>638</locationX>
        <locationY>2808</locationY>
        <defaultConnector>
            <targetReference>Check_other_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_primary_contact_email</targetReference>
            </connector>
            <label>Is Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_IC</name>
        <label>Check IC</label>
        <locationX>638</locationX>
        <locationY>3840</locationY>
        <defaultConnector>
            <targetReference>Check_for_Additional_Inventor_Email_Addresses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Internal_Counsel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Add_cc_address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Defer_CP</name>
        <label>Defer/CP?</label>
        <locationX>539</locationX>
        <locationY>4416</locationY>
        <defaultConnector>
            <targetReference>Defer_CP_Reminder_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Disclosure_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requested For More Information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reminder_Email</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Expiration_Passed</name>
        <label>Expiration Passed and Concept?</label>
        <locationX>638</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Set_Note_Info_for_Reminder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExpirationDateForConceptPassed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Note_Info_for_Withdrawal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Expiration_Passed1</name>
        <label>Expiration Passed?</label>
        <locationX>341</locationX>
        <locationY>4296</locationY>
        <defaultConnector>
            <targetReference>Defer_CP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExpirationDateForConceptPassed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_IC_cc_address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ExpirationDateForConceptPassed</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
ISPICKVAL({!$Record.Current_Stage_of_Invention__c}, &quot;Concept&quot;), 
{!$Flow.CurrentDate} &gt; ADDMONTHS({!$Record.UHG_Reminder_Date__c}, 9), 
ISBLANK({!$Record.UHG_First_External_Use_Date__c}), 
ISBLANK({!$Record.UHG_First_Use_Date__c}), 
ISBLANK({!$Record.UHG_Future_Use_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>IDFHyperlink</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;a href=&apos;http://uhg.my.salesforce.com/&quot;+{!$Record.Id}+&quot;&apos;&gt;&quot;+{!$Record.Name}+&quot;&lt;/a&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>MentorStatement</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Mentors__c} &lt;&gt; &quot;&quot;, &quot;If IP Legal assigned mentors to you, please work with them (&quot; + {!$Record.Mentors__c} + &quot;) to update your IDF.&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>NickName</name>
        <dataType>String</dataType>
        <expression>IF({!Inventors.Nick_Name__c}&lt;&gt;&quot;&quot;,{!Inventors.Nick_Name__c},{!Inventors.First_Name__c})</expression>
    </formulas>
    <formulas>
        <name>TextDate</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Flow.CurrentDate})) + &apos;-&apos; + LPAD(TEXT(MONTH({!$Flow.CurrentDate})),2,&apos;0&apos;) + &apos;-&apos; + LPAD(TEXT(DAY({!$Flow.CurrentDate})),2,&apos;0&apos;)</expression>
    </formulas>
    <formulas>
        <name>Trimnames</name>
        <dataType>String</dataType>
        <expression>CASE({!AdditionalInventorsCount},
1,TRIM(SUBSTITUTE(SUBSTITUTE({!AdditionalInventorFirstNames},&quot;[&quot;,&apos; &apos;),&quot;]&quot;,&apos; &apos;)),
2,TRIM(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!AdditionalInventorFirstNames},&quot;[&quot;,&apos; &apos;),&quot;]&quot;,&apos; &apos;),&quot;,and ,&quot;,&quot; and &quot;),&quot;,&quot;,&quot;, &quot;)),
TRIM(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!AdditionalInventorFirstNames},&quot;[&quot;,&apos; &apos;),&quot;]&quot;,&apos; &apos;),&quot;and ,&quot;,&quot;and &quot;),&quot;,&quot;,&quot;, &quot;)))</expression>
    </formulas>
    <formulas>
        <name>UserFirstName</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.SymphonyIPM__Internal_Counsel__r.UHG_Preferred_First_Name__c}&lt;&gt;&quot;&quot;, {!$Record.SymphonyIPM__Internal_Counsel__r.UHG_Preferred_First_Name__c}, {!$Record.SymphonyIPM__Internal_Counsel__r.FirstName})</expression>
    </formulas>
    <formulas>
        <name>UserLastName</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Record.SymphonyIPM__Internal_Counsel__r.LastName},&quot; (IC)&quot;),LEFT({!$Record.SymphonyIPM__Internal_Counsel__r.LastName},LEN({!$Record.SymphonyIPM__Internal_Counsel__r.LastName})-5),{!$Record.SymphonyIPM__Internal_Counsel__r.LastName})</expression>
    </formulas>
    <formulas>
        <name>UserTelephone</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.SymphonyIPM__Internal_Counsel__r.Phone}&lt;&gt;&quot;&quot;,&quot;T: &quot;+{!$Record.SymphonyIPM__Internal_Counsel__r.Phone}+&quot;  |  &quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Email to Inventors - Reminder Needs More Info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email to Inventors - Reminder Needs More Info</label>
    <loops>
        <name>bulk_filter</name>
        <label>Loop for bulk filter</label>
        <locationX>638</locationX>
        <locationY>1104</locationY>
        <collectionReference>AdditionalInventors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Inventor_Ids_to_bulk_filter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_bulk_filter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Inventors</name>
        <label>Loop Inventors</label>
        <locationX>638</locationX>
        <locationY>1800</locationY>
        <collectionReference>InventorsInfo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_LoopCounter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_primary_contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Content_Document_Link</name>
        <label>Create Content Document Link</label>
        <locationX>638</locationX>
        <locationY>744</locationY>
        <connector>
            <targetReference>Get_Additional_Inventors</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Create_Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>I</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Note</name>
        <label>Create Note</label>
        <locationX>638</locationX>
        <locationY>624</locationY>
        <connector>
            <targetReference>Create_Content_Document_Link</targetReference>
        </connector>
        <inputAssignments>
            <field>Content</field>
            <value>
                <elementReference>NoteContent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SharingPrivacy</field>
            <value>
                <stringValue>N</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>NoteTitle</elementReference>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Additional_Inventors</name>
        <label>Get Additional Inventors</label>
        <locationX>638</locationX>
        <locationY>864</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_AdditionalInventorsCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Invention_Disclosure_New__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Additional_Inventor__c</object>
        <outputReference>AdditionalInventors</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyIPM__Inventor__c</queriedFields>
        <queriedFields>UHG_Inventor_Info_Email_Sent__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_other_contact</name>
        <label>Get other contact</label>
        <locationX>506</locationX>
        <locationY>3384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_other_address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Other_Contact__r.Id</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Inventor__c</object>
        <outputReference>OtherContactDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyIPM__Email__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_primary_contact_email</name>
        <label>Get primary contact email</label>
        <locationX>506</locationX>
        <locationY>2928</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_primary_address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Contact__r.Id</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Inventor__c</object>
        <outputReference>PrimaryContactDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyIPM__Email__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Reminder_Base_Date_Time</name>
        <label>Update Reminder Base Date/Time</label>
        <locationX>539</locationX>
        <locationY>4752</locationY>
        <inputAssignments>
            <field>UHG_Reminder_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Disclosure Status</label>
        <locationX>143</locationX>
        <locationY>4656</locationY>
        <inputAssignments>
            <field>SymphonyIPM__Disclosure_Status__c</field>
            <value>
                <stringValue>Closed - Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UHG_Withdrawn_Auto_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UHG_Reminder_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Needs More Info</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>One_Week</name>
            <connector>
                <targetReference>Expiration_Passed</targetReference>
            </connector>
            <label>Bi-weekly Reminder</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>14</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>UHG_Reminder_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TemplateForDeferredCPReminderEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&lt;u&gt;Confidential: Attorney-Client Privileged Communication&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;Hi {!Trimnames},&lt;/p&gt;
&lt;p&gt;This is a reminder that this IDF received a {!$Record.Final_Rating__c} rating after a PRB review on {!$Record.UHG_Reminder_Date__c} and we are waiting for a response from you. Please work with your assigned mentors ({!$Record.Mentors__c}) to address the requests from the PRB.&lt;/p&gt;
&lt;p&gt;&lt;b&gt;&lt;u&gt;Action Needed:&lt;/u&gt;&lt;/b&gt;&lt;br&gt;The PRB members have a few questions for you in the online IDF and/or in comment fields within the supplement to the IDF in the Files card on the right side of the page. You may need to download the IDF supplement to view comments in the Word doc.&lt;/p&gt;
&lt;p&gt;&lt;b&gt;&lt;u&gt;Instructions for Revising IDF:&lt;/u&gt;&lt;/b&gt;&lt;br&gt;You can check the status of this IDF and make updates here: {!IDFHyperlink}. Please make any changes to the online IDF and upload any updates to the supplemental file in ISM, then &lt;b&gt;select the Next button in the “Respond to Request for More Information” card on the right side of the page&lt;/b&gt;. If you do not follow these steps, the review of your IDF may be delayed. If you have any problems making the changes in the online IDF or uploading the updates to the supplemental file, then you can provide the changes to &lt;a href=&quot;mailto:patents@uhg.com?subject=ISM:%20Updates%20for%20{!$Record.Name}&quot;&gt;IP Legal&lt;/a&gt; by email.&lt;/p&gt;
&lt;p&gt;We will await your reply before proceeding further with this IDF. If you have any questions please let us know.&lt;/p&gt;
&lt;p&gt;When communicating with IP Legal or others regarding this IDF, please include the IDF number, &lt;b&gt;{!$Record.Name}&lt;/b&gt;, in the subject line. If you would like to meet with someone from IP Legal, please feel free to drop in during our &lt;a href=&apos;https://teams.microsoft.com/l/meetup-join/19%3ameeting_ZDEyYjk2NWQtYjIyMC00ZTUzLTliYTktNjcxYmFjZjM4MDJj%40thread.v2/0?context=%7b%22Tid%22%3a%22db05faca-c82a-4b9d-b9c5-0f64b6755421%22%2c%22Oid%22%3a%22d9820ba1-fc9a-40c2-a6ef-cb3fe426343e%22%7d&apos;&gt;office hours&lt;/a&gt; at 10am CT every Wednesday, or you can also reply to this email to schedule a meeting at another time and date.&lt;/p&gt;
&lt;p&gt;Best regards,&lt;br/&gt;
{!UserFirstName}&lt;br/&gt;
_______________________________________________&lt;br/&gt;
{!UserFirstName} {!UserLastName}  |  {!$Record.SymphonyIPM__Internal_Counsel__r.Title}&lt;br/&gt;
UnitedHealth Group, Enterprise Legal - Intellectual Property&lt;br/&gt;
9900 Bren Road East, MN008-T615, Minnetonka, MN 55343&lt;br/&gt;
{!UserTelephone}{!$Record.SymphonyIPM__Internal_Counsel__r.Email}&lt;br/&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TemplateForReminderEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&lt;u&gt;Confidential: Attorney-Client Privileged Communication&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;Hi {!Trimnames},&lt;/p&gt;
&lt;p&gt;This is a reminder that IP Legal sent you a request for more information on {!$Record.UHG_Reminder_Date__c}.&lt;/p&gt;
&lt;p&gt;&lt;b&gt;&lt;u&gt;Action Needed:&lt;/u&gt;&lt;/b&gt;&lt;br&gt;We have reviewed the IDF and have a few questions for you in the online IDF and/or in comment fields within the supplement to the IDF in the Files card on the right side of the page. {!MentorStatement} You may need to download the IDF supplement to view comments in the Word doc.&lt;/p&gt;
&lt;p&gt;&lt;b&gt;&lt;u&gt;Instructions for Revising IDF:&lt;/u&gt;&lt;/b&gt;&lt;br&gt;You can check the status of this IDF and make updates here: {!IDFHyperlink}. Please make any changes to the online IDF and upload any updates to the supplemental file in ISM, then &lt;b&gt;select the Next button in the “Respond to Request for More Information” card on the right side of the page&lt;/b&gt;. If you do not follow these steps, the review of your IDF may be delayed. If you have any problems making the changes in the online IDF or uploading the updates to the supplemental file, then you can provide the changes to &lt;a href=&quot;mailto:patents@uhg.com?subject=ISM:%20Updates%20for%20{!$Record.Name}&quot;&gt;IP Legal&lt;/a&gt; by email.&lt;/p&gt;
&lt;p&gt;We will await your reply before proceeding further with this IDF. If you have any questions please let us know.&lt;/p&gt;
&lt;p&gt;When communicating with IP Legal or others regarding this IDF, please include the IDF number, &lt;b&gt;{!$Record.Name}&lt;/b&gt;, in the subject line. If you would like to meet with someone from IP Legal, please feel free to drop in during our &lt;a href=&apos;https://teams.microsoft.com/l/meetup-join/19%3ameeting_ZDEyYjk2NWQtYjIyMC00ZTUzLTliYTktNjcxYmFjZjM4MDJj%40thread.v2/0?context=%7b%22Tid%22%3a%22db05faca-c82a-4b9d-b9c5-0f64b6755421%22%2c%22Oid%22%3a%22d9820ba1-fc9a-40c2-a6ef-cb3fe426343e%22%7d&apos;&gt;office hours&lt;/a&gt; at 10am CT every Wednesday, or you can also reply to this email to schedule a meeting at another time and date.&lt;/p&gt;
&lt;p&gt;Best regards,&lt;br/&gt;
{!UserFirstName}&lt;br/&gt;
_______________________________________________&lt;br/&gt;
{!UserFirstName} {!UserLastName}  |  {!$Record.SymphonyIPM__Internal_Counsel__r.Title}&lt;br/&gt;
UnitedHealth Group, Enterprise Legal - Intellectual Property&lt;br/&gt;
9900 Bren Road East, MN008-T615, Minnetonka, MN 55343&lt;br/&gt;
{!UserTelephone}{!$Record.SymphonyIPM__Internal_Counsel__r.Email}&lt;br/&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TemplateForWithdrawalEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&lt;u&gt;Confidential: Attorney-Client Privileged Communication&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;Hi {!Trimnames},&lt;/p&gt;
&lt;p&gt;Thanks for taking the time to submit your invention disclosure form (IDF) for: &lt;b&gt;{!$Record.SymphonyIPM__Title__c}&lt;/b&gt;.&lt;/p&gt;
&lt;p&gt;This is our final reach-out regarding this IDF. Since we have not received a reply from you to the request for more information that was sent on {!$Record.UHG_Reminder_Date__c}, we have closed this IDF. If you develop further details regarding this invention, please contact &lt;a href=&apos;mailto:patents@uhg.com?subject=ISM:%20Please%20reopen%20{!$Record.Name}&apos;&gt;IP Legal&lt;/a&gt; to re-open this IDF.&lt;/p&gt;
&lt;p&gt;You can check the status of this IDF here: {!IDFHyperlink}.&lt;/p&gt;
&lt;p&gt;If you have any questions please let us know.&lt;/p&gt;
&lt;p&gt;When communicating with IP Legal or others regarding this IDF, please include the IDF number, &lt;b&gt;{!$Record.Name}&lt;/b&gt;, in the subject line. If you would like to meet with someone from IP Legal, please feel free to drop in during our &lt;a href=&apos;https://teams.microsoft.com/l/meetup-join/19%3ameeting_ZDEyYjk2NWQtYjIyMC00ZTUzLTliYTktNjcxYmFjZjM4MDJj%40thread.v2/0?context=%7b%22Tid%22%3a%22db05faca-c82a-4b9d-b9c5-0f64b6755421%22%2c%22Oid%22%3a%22d9820ba1-fc9a-40c2-a6ef-cb3fe426343e%22%7d&apos;&gt;office hours&lt;/a&gt; at 10am CT every Wednesday, or you can also reply to this email to schedule a meeting at another time and date.&lt;/p&gt;
&lt;p&gt;Best regards,&lt;br/&gt;
{!UserFirstName}&lt;br/&gt;
_______________________________________________&lt;br/&gt;
{!UserFirstName} {!UserLastName}  |  {!$Record.SymphonyIPM__Internal_Counsel__r.Title}&lt;br/&gt;
UnitedHealth Group, Enterprise Legal - Intellectual Property&lt;br/&gt;
9900 Bren Road East, MN008-T615, Minnetonka, MN 55343&lt;br/&gt;
{!UserTelephone}{!$Record.SymphonyIPM__Internal_Counsel__r.Email}&lt;br/&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AdditionalInventorEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Inventor__c</objectType>
    </variables>
    <variables>
        <name>AdditionalInventorEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdditionalInventorFirstNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdditionalInventorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdditionalInventors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Additional_Inventor__c</objectType>
    </variables>
    <variables>
        <name>AdditionalInventorsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CCEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>filter</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>filters</name>
        <apexClass>GetRecordsFilter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InventorIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InventorsInfo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Inventor__c</objectType>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NoteContent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoteTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OtherContactDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Inventor__c</objectType>
    </variables>
    <variables>
        <name>PrimaryContactDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Inventor__c</objectType>
    </variables>
    <variables>
        <name>UpdateAdditionalInventors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Additional_Inventor__c</objectType>
    </variables>
</Flow>
