force-app/main/default/flows/UHG_Set_Product_Keyword_on_IDF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Last_Product</name>
        <label>Assign Last Product Keyword</label>
        <locationX>754</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>LastProductKeywordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_to_Assign_Only_Product.SymphonyIPM__Keyword__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Assign_Only_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Count</name>
        <label>Assign Product Count</label>
        <locationX>424</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ProductCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Product_Keywords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiple_Products</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Deleted</name>
        <label>Deleted?</label>
        <locationX>798</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Update_IDF_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeletedKeywordAssocIdInput</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_to_Assign_Only_Product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Multiple_Products</name>
        <label>Multiple Products?</label>
        <locationX>424</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Deleted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Single</defaultConnectorLabel>
        <rules>
            <name>Multiple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Multiple_Product</targetReference>
            </connector>
            <label>Multiple</label>
        </rules>
        <rules>
            <name>None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_IDF_Product_Clear</targetReference>
            </connector>
            <label>None</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Keyword</name>
        <label>Product Keyword?</label>
        <locationX>809</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KeywordFullNameInput</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Product:</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Keywords</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Set Product Keyword on IDF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Product Keyword on IDF</label>
    <loops>
        <name>Loop_to_Assign_Only_Product</name>
        <label>Loop to Assign Last Product Keyword</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Product_Keywords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Last_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Update_IDF_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Multiple_Product</name>
        <label>Get Multiple Product</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_IDF_Product_Multiple</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Multiple</stringValue>
            </value>
        </filters>
        <filters>
            <field>Fullname__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product:Multiple</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyIPM__Keyword__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Keywords</name>
        <label>Get Product Keywords</label>
        <locationX>424</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Product_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Invention_Disclosure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DisclosureIdInput</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fullname__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Product:</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>DeletedKeywordAssocIdInput</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SymphonyIPM__Keyword_Association__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_IDF_Product</name>
        <label>Update IDF Product</label>
        <locationX>666</locationX>
        <locationY>974</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DisclosureIdInput</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UHG_Product__c</field>
            <value>
                <elementReference>LastProductKeywordId</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_IDF_Product</name>
        <label>Update IDF Product</label>
        <locationX>930</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DisclosureIdInput</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UHG_Product__c</field>
            <value>
                <elementReference>KeywordIdInput</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_IDF_Product_Clear</name>
        <label>Update IDF Product (Clear)</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DisclosureIdInput</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UHG_Product__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_IDF_Product_Multiple</name>
        <label>Update IDF Product (Multiple)</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DisclosureIdInput</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UHG_Product__c</field>
            <value>
                <elementReference>Get_Multiple_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <start>
        <locationX>683</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Product_Keyword</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DeletedKeywordAssocIdInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DisclosureIdInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>KeywordFullNameInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>KeywordIdInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastProductKeywordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
