force-app/main/default/flows/UHG_Sync_Keyword_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Base_Disclosure_ID</name>
        <label>Assign Base Disclosure ID</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>BaseDisclosureID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SymphonyIPM__Invention_Disclosure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FromIDF</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Patent_Family_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Base_Disclosure_ID2</name>
        <label>Assign Base Disclosure ID</label>
        <locationX>666</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>BaseDisclosureID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patent.SymphonyIPM__Base_Invention_Disclosure_New__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Base_Disclosure_ID_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patent_ID</name>
        <label>Assign Patent ID</label>
        <locationX>666</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>PatentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SymphonyIPM__Patent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FromIDF</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Patent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_PatentIDs</name>
        <label>Assign to PatentIDs</label>
        <locationX>754</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>PatentIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Patents.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Patents</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Auto_Update</name>
        <label>Auto Update?</label>
        <locationX>358</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>IDF_or_Patent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UHG_Automatically_Updated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Auto_Field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Base_Disclosure_ID_Empty</name>
        <label>Base Disclosure ID Empty?</label>
        <locationX>666</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BaseDisclosureID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Patent_Family_Members</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Diff_Patent_ID</name>
        <label>Diff Patent ID or from IDF?</label>
        <locationX>886</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Patents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FromIDF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Patents.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Patent.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_PatentIDs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>From_IDF</name>
        <label>From IDF?</label>
        <locationX>666</locationX>
        <locationY>2375</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FromIDF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sync_Keyword_for_IDF_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>IDF_or_Patent</name>
        <label>IDF or Patent?</label>
        <locationX>666</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IDF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Invention_Disclosure__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Invention_Disclosure__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Base_Disclosure_ID</targetReference>
            </connector>
            <label>IDF</label>
        </rules>
        <rules>
            <name>Patent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Patent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Patent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Patent_ID</targetReference>
            </connector>
            <label>Patent</label>
        </rules>
    </decisions>
    <description>Same as Create except for trigger conditions on Second and Feature</description>
    <environments>Default</environments>
    <interviewLabel>Sync Keyword (Update) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Keyword (Update) [replaced by root version]</label>
    <loops>
        <name>Loop_Through_Patent_IDs</name>
        <label>Loop Through Patent IDs</label>
        <locationX>666</locationX>
        <locationY>2039</locationY>
        <collectionReference>PatentIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sync_Keyword_for_Patent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>From_IDF</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Patents</name>
        <label>Loop through Patents</label>
        <locationX>666</locationX>
        <locationY>1487</locationY>
        <collectionReference>Get_Patent_Family_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Diff_Patent_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Patent_IDs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Patent</name>
        <label>Get Patent</label>
        <locationX>666</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Base_Disclosure_ID2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatentID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyIPM__Patent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patent_Family_Members</name>
        <label>Get Patent Family Members</label>
        <locationX>666</locationX>
        <locationY>1367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Patents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Base_Invention_Disclosure_New__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BaseDisclosureID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SymphonyIPM__Patent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Reset_Auto_Field</name>
        <label>Reset Auto Field</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>UHG_Automatically_Updated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Auto_Update</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>UHG_Automatically_Updated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Second__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UHG_Product_Feature__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Keyword__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SymphonyIPM__Keyword_Association__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Sync_Keyword_for_IDF_0</name>
        <label>Sync Keyword for IDF</label>
        <locationX>534</locationX>
        <locationY>2495</locationY>
        <flowName>UHG_Sync_Keyword_for_IDF</flowName>
        <inputAssignments>
            <name>DeleteKeywordInput</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DisclosureIDInput</name>
            <value>
                <elementReference>BaseDisclosureID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>KeywordInputNew</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>KeywordInputOld</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Sync_Keyword_for_Patent</name>
        <label>Sync Keyword for Patent</label>
        <locationX>754</locationX>
        <locationY>2159</locationY>
        <connector>
            <targetReference>Loop_Through_Patent_IDs</targetReference>
        </connector>
        <flowName>UHG_Sync_Keyword_for_Patent</flowName>
        <inputAssignments>
            <name>DeleteKeywordInput</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>KeywordInputNew</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>KeywordInputOld</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PatentIDInput</name>
            <value>
                <elementReference>Loop_Through_Patent_IDs</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>BaseDisclosureID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FromIDF</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatentIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
