force-app/main/default/flows/UHG_Clinical_Relevance_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Non_Clinical_CR</name>
        <label>Assign Non-Clinical CR</label>
        <locationX>578</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>ClinicalRelevance</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non-Clinical</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patent_CR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary</name>
        <label>Primary True</label>
        <locationX>930</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>KeywordPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_CR</name>
        <label>Assign Primary CR</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>ClinicalRelevance</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Clinical - Primary</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patent_CR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Secondary</name>
        <label>Secondary True</label>
        <locationX>1194</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>KeywordSecondary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Secondary_CR</name>
        <label>Assign Secondary CR</label>
        <locationX>314</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>ClinicalRelevance</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Clinical - Secondary</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patent_CR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Payment_Integrity_True</name>
        <label>Assign PI False</label>
        <locationX>1106</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>PaymentIntegrity</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Patent_CR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payment_Integrity2</name>
        <label>Assign PI True</label>
        <locationX>842</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>PaymentIntegrity</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Patent_CR</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Clinical_or_Payment_Integrity</name>
        <label>Clinical or Payment Integrity?</label>
        <locationX>842</locationX>
        <locationY>1415</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clinical1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fullname__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Clinical:</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Primary_Secondary</targetReference>
            </connector>
            <label>Clinical</label>
        </rules>
        <rules>
            <name>Payment_Integrity1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fullname__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Payment Integrity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_Keyword</targetReference>
            </connector>
            <label>Payment Integrity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clinical_or_PI</name>
        <label>Clinical or Payment Integrity?</label>
        <locationX>842</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clinical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fullname__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Clinical:</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Clinical_Tags1</targetReference>
            </connector>
            <label>Clinical</label>
        </rules>
        <rules>
            <name>Payment_Integrity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fullname__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Payment Integrity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payment_Integrity_Tags1</targetReference>
            </connector>
            <label>Payment Integrity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Keyword</name>
        <label>Found Keyword?</label>
        <locationX>974</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Payment_Integrity_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>KeywordPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>KeywordSecondary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Integrity2</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary</name>
        <label>Primary/Secondary Keyword?</label>
        <locationX>1062</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Assign_Secondary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Secondary</defaultConnectorLabel>
        <rules>
            <name>PrimaryOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.Second__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Primary</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Secondary</name>
        <label>Found Primary/Secondary Keyword?</label>
        <locationX>314</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>Assign_Non_Clinical_CR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>PrimaryT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KeywordPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Primary_CR</targetReference>
            </connector>
            <label>Found Primary</label>
        </rules>
        <rules>
            <name>SecondaryT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KeywordSecondary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Secondary_CR</targetReference>
            </connector>
            <label>Found Secondary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Being_Deleted</name>
        <label>Record Being Deleted?</label>
        <locationX>1260</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Same Record</defaultConnectorLabel>
        <rules>
            <name>Same_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Primary</targetReference>
            </connector>
            <label>Different Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Clinical Relevance (Delete) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clinical Relevance - Payment Integrity (Delete)</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <collectionReference>Keyword_Assoc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Record_Being_Deleted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Clinical_or_Payment_Integrity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Clinical_Tags1</name>
        <label>Get Clinical Tags</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Patent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyIPM__Patent__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fullname__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Clinical:</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Keyword_Association__c</object>
        <outputReference>Keyword_Assoc</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Second__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Integrity_Tags1</name>
        <label>Get Payment Integrity Tags</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Patent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyIPM__Patent__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fullname__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Payment Integrity</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Keyword_Association__c</object>
        <outputReference>Keyword_Assoc</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Second__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Patent_CR</name>
        <label>Update Patent PI</label>
        <locationX>974</locationX>
        <locationY>1871</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyIPM__Patent__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UHG_Payment_Integrity__c</field>
            <value>
                <elementReference>PaymentIntegrity</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Patent__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patent_CR</name>
        <label>Update Patent CR</label>
        <locationX>314</locationX>
        <locationY>1871</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyIPM__Patent__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UHG_Clinical_Relevance__c</field>
            <value>
                <elementReference>ClinicalRelevance</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Patent__c</object>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clinical_or_PI</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Fullname__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Clinical:</stringValue>
            </value>
        </filters>
        <filters>
            <field>Fullname__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Payment Integrity</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Keyword_Association__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ClinicalRelevance</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Keyword_Assoc</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Keyword_Association__c</objectType>
    </variables>
    <variables>
        <name>KeywordPrimary</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>KeywordSecondary</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PaymentIntegrity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
