force-app/main/default/flows/UHG_Sync_Keyword_Root_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Base_Disclosure</name>
        <label>Assign Base Disclosure</label>
        <locationX>1018</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>DisclosureIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Patent.SymphonyIPM__Base_Invention_Disclosure_New__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisclosureIDText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConcatBaseID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Root_Patent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Base_Disclosure_ID</name>
        <label>Assign Base Disclosure ID</label>
        <locationX>600</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>BaseDisclosureID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SymphonyIPM__Invention_Disclosure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FromIDF</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisclosureIDText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SymphonyIPM__Invention_Disclosure__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Product_Keyword_on_IDF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Disc</name>
        <label>Assign to DiscIDs</label>
        <locationX>1194</locationX>
        <locationY>2495</locationY>
        <assignmentItems>
            <assignToReference>DisclosureIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Patents.SymphonyIPM__Base_Invention_Disclosure_New__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisclosureIDText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConcatIDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Patents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patent_ID</name>
        <label>Assign Patent ID</label>
        <locationX>996</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>PatentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SymphonyIPM__Patent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FromIDF</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Patent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patent_ID2</name>
        <label>Assign Patent ID</label>
        <locationX>468</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>PatentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Disclosure.SymphonyIPM__Related_Patent__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Patent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Root_Patent_ID</name>
        <label>Assign Root Patent ID</label>
        <locationX>798</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>RootPatentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patent.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Patent_Family_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Root_Patent_ID2</name>
        <label>Assign Root Patent ID</label>
        <locationX>1062</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>RootPatentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patent.SymphonyIPM__Root_Patent__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Patent_Family_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_PatentIDs</name>
        <label>Assign to PatentIDs</label>
        <locationX>1106</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>PatentIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Patents.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Diff_Disc_ID2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Auto_Update</name>
        <label>Auto Update?</label>
        <locationX>490</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>IDF_or_Patent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UHG_Automatically_Updated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Auto_Field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Base_Disclosure</name>
        <label>Base Disclosure?</label>
        <locationX>930</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Assign_Base_Disclosure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Patent.SymphonyIPM__Base_Invention_Disclosure_New__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DisclosureIDText</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Get_Patent.SymphonyIPM__Base_Invention_Disclosure_New__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Root_Patent</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Diff_Disc_ID2</name>
        <label>Diff Disc ID?</label>
        <locationX>1106</locationX>
        <locationY>2387</locationY>
        <defaultConnector>
            <targetReference>Assign_Disc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>2 OR (1 AND 3) or 4</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Patents.SymphonyIPM__Base_Invention_Disclosure_New__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BaseDisclosureID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DisclosureIDText</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_Patents.SymphonyIPM__Base_Invention_Disclosure_New__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BaseDisclosureID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Patents.SymphonyIPM__Base_Invention_Disclosure_New__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Patents</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Diff_Patent_ID</name>
        <label>Diff Patent ID or from IDF?</label>
        <locationX>1282</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Patents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FromIDF</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Patents.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Patent.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_PatentIDs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IDF_or_Patent</name>
        <label>IDF or Patent?</label>
        <locationX>930</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IDF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Invention_Disclosure__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Invention_Disclosure__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Base_Disclosure_ID</targetReference>
            </connector>
            <label>IDF</label>
        </rules>
        <rules>
            <name>Patent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Patent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Patent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Patent_ID</targetReference>
            </connector>
            <label>Patent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Patent</name>
        <label>Related Patent?</label>
        <locationX>600</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Disclosure.SymphonyIPM__Related_Patent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Patent_ID2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Root_Patent</name>
        <label>Root Patent?</label>
        <locationX>930</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Assign_Root_Patent_ID2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Patent.SymphonyIPM__Root_Patent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Root_Patent_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ConcatBaseID</name>
        <dataType>String</dataType>
        <expression>{!DisclosureIDText} &amp; &quot;,&quot; &amp; {!Get_Patent.SymphonyIPM__Base_Invention_Disclosure_New__r.Id}</expression>
    </formulas>
    <formulas>
        <name>ConcatIDs</name>
        <dataType>String</dataType>
        <expression>{!DisclosureIDText} &amp; &quot;,&quot; &amp; {!Loop_through_Patents.SymphonyIPM__Base_Invention_Disclosure_New__r.Id}</expression>
    </formulas>
    <interviewLabel>Sync Keyword Root (Create) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Keyword Root (Create)</label>
    <loops>
        <name>Loop_Disc_IDs</name>
        <label>Loop Disc IDs</label>
        <locationX>930</locationX>
        <locationY>3155</locationY>
        <collectionReference>DisclosureIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sync_Keyword_for_IDF_0</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Through_Patent_IDs</name>
        <label>Loop Through Patent IDs</label>
        <locationX>930</locationX>
        <locationY>2855</locationY>
        <collectionReference>PatentIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sync_Keyword_for_Patent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Disc_IDs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Patents</name>
        <label>Loop through Patents</label>
        <locationX>930</locationX>
        <locationY>2063</locationY>
        <collectionReference>Get_Patent_Family_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Diff_Patent_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Patent_IDs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Disclosure</name>
        <label>Get Disclosure</label>
        <locationX>600</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Patent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BaseDisclosureID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patent</name>
        <label>Get Patent</label>
        <locationX>930</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Base_Disclosure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatentID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyIPM__Patent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patent_Family_Members</name>
        <label>Get Patent Family Members</label>
        <locationX>930</locationX>
        <locationY>1955</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Patents</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SymphonyIPM__Root_Patent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RootPatentID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RootPatentID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SymphonyIPM__Patent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Reset_Auto_Field</name>
        <label>Reset Auto Field</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>UHG_Automatically_Updated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Auto_Update</targetReference>
        </connector>
        <object>SymphonyIPM__Keyword_Association__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Set_Product_Keyword_on_IDF</name>
        <label>Set Product Keyword on IDF</label>
        <locationX>600</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_Disclosure</targetReference>
        </connector>
        <flowName>UHG_Set_Product_Keyword_on_IDF</flowName>
        <inputAssignments>
            <name>DeletedKeywordAssocIdInput</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DisclosureIdInput</name>
            <value>
                <elementReference>$Record.SymphonyIPM__Invention_Disclosure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>KeywordFullNameInput</name>
            <value>
                <elementReference>$Record.Fullname__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>KeywordIdInput</name>
            <value>
                <elementReference>$Record.SymphonyIPM__Keyword__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Sync_Keyword_for_IDF_0</name>
        <label>Sync Keyword for IDF</label>
        <locationX>1018</locationX>
        <locationY>3263</locationY>
        <connector>
            <targetReference>Loop_Disc_IDs</targetReference>
        </connector>
        <flowName>UHG_Sync_Keyword_for_IDF</flowName>
        <inputAssignments>
            <name>DeleteKeywordInput</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DisclosureIDInput</name>
            <value>
                <elementReference>Loop_Disc_IDs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>KeywordInputNew</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>KeywordInputOld</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Sync_Keyword_for_Patent</name>
        <label>Sync Keyword for Patent</label>
        <locationX>1018</locationX>
        <locationY>2963</locationY>
        <connector>
            <targetReference>Loop_Through_Patent_IDs</targetReference>
        </connector>
        <flowName>UHG_Sync_Keyword_for_Patent</flowName>
        <inputAssignments>
            <name>DeleteKeywordInput</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>KeywordInputNew</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>KeywordInputOld</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PatentIDInput</name>
            <value>
                <elementReference>Loop_Through_Patent_IDs</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>BaseDisclosureID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>DisclosureIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DisclosureIDText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>FromIDF</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatentIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RootPatentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
