force-app/main/default/flows/UHG_Keyword_Association_Duplicate_Checking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>IDF</name>
        <label>Type</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Invention_Disclosure__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Dup_for_IDF</targetReference>
            </connector>
            <label>IDF</label>
        </rules>
        <rules>
            <name>Patent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Patent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Dup_Pat</targetReference>
            </connector>
            <label>Patent</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DupValueIDF</name>
        <dataType>String</dataType>
        <expression>{!$Record.SymphonyIPM__Keyword__c} &amp; &quot;, &quot; &amp; {!$Record.SymphonyIPM__Invention_Disclosure__c}</expression>
    </formulas>
    <formulas>
        <name>DupValuePat</name>
        <dataType>String</dataType>
        <expression>{!$Record.SymphonyIPM__Keyword__c} &amp; &quot;, &quot; &amp; {!$Record.SymphonyIPM__Patent__c}</expression>
    </formulas>
    <interviewLabel>Keyword Association Duplicate Checking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Keyword Association Duplicate Checking (Create)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Dup_for_IDF</name>
        <label>Update Dup for IDF</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>UHG_Duplicate_Checking__c</field>
            <value>
                <elementReference>DupValueIDF</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Dup_Pat</name>
        <label>Update Dup Pat</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>UHG_Duplicate_Checking__c</field>
            <value>
                <elementReference>DupValuePat</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IDF</targetReference>
        </connector>
        <object>SymphonyIPM__Keyword_Association__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
