force-app/main/default/flows/UHG_Update_Manager_Flow_v3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <constants>
        <name>UnknownMgr</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Found_Unknown</name>
        <label>Found Unknown?</label>
        <locationX>226</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>Update_Person_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Unkn_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Unknown.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Unknown_Manager</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_not_null</name>
        <label>Found Manager?</label>
        <locationX>226</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Unknown</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Manager.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Same_person</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_person</name>
        <label>Same Person?</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Update_Person</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>personInput.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Manager.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Unknown</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Manager (Flow) v3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Manager (Flow)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Manager</name>
        <label>Get Manager</label>
        <locationX>226</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manager_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyIPM__Employee_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>personInput.UHG_Manager_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyIPM__Inventor__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Unknown</name>
        <label>Get Unknown</label>
        <locationX>226</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Unknown</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UnknownMgr</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyIPM__Inventor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Person</name>
        <label>Update Manager</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>personInput.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UHG_Manager__c</field>
            <value>
                <elementReference>Get_Manager.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UHG_Update_Manager__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Inventor__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Person_0</name>
        <label>Clear Manager</label>
        <locationX>358</locationX>
        <locationY>1190</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>personInput.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UHG_Manager__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UHG_Update_Manager__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Inventor__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unknown_Manager</name>
        <label>Update Unknown Manager</label>
        <locationX>94</locationX>
        <locationY>1190</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>personInput.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UHG_Manager__c</field>
            <value>
                <elementReference>Get_Unknown.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UHG_Update_Manager__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Inventor__c</object>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Manager</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>personInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Inventor__c</objectType>
    </variables>
</Flow>
