force-app/main/default/flows/UHG_Update_Manager_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Now</name>
        <label>Now?</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Now1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UHG_Update_Manager__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Now</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Manager_Flow</targetReference>
            </connector>
            <label>Now</label>
        </rules>
        <rules>
            <name>In_2_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UHG_Manager_ID__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Manager_Update_In_2_Hours</targetReference>
            </connector>
            <label>In 2 Hours</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Manager (Changed) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Manager (Changed)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Manager_Update_In_2_Hours</name>
        <label>Update Manager Update (In 2 Hours)</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>UHG_Update_Manager__c</field>
            <value>
                <stringValue>In 2 Hours</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Now</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>UHG_Manager_ID__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UHG_Update_Manager__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Now</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Inventor__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Manager_Flow</name>
        <label>Update Manager (Flow)</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <flowName>UHG_Update_Manager_Flow_v3</flowName>
        <inputAssignments>
            <name>personInput</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
