force-app/main/default/flows/Update_Award_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Award_in_Family</name>
        <label>Set Award in Family</label>
        <locationX>985</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>MyAwardInFamily</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Root_Patent.UHG_Root_Award_Sent_to_AP__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Award_in_Family</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Award_in_Family1</name>
        <label>Set Award in Family</label>
        <locationX>1249</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>MyAwardInFamily</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UHG_Root_Award_Sent_to_AP__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Award_in_Family</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Award_Sent</name>
        <label>Set Award Sent</label>
        <locationX>1018</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>MyAwardSent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Family</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Root_Patent</name>
        <label>Set Root Patent</label>
        <locationX>985</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>MyRootPatent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SymphonyIPM__Root_Patent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Root_Patent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Root_Patent1</name>
        <label>Set Root Patent</label>
        <locationX>1249</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>MyRootPatent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Award_in_Family1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Award_in_Family</name>
        <label>Award in Family?</label>
        <locationX>1117</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MyAwardInFamily</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Family_Members</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Award_Sent</name>
        <label>Award Sent?</label>
        <locationX>649</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Clear_Award_Date_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Sent</defaultConnectorLabel>
        <rules>
            <name>Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UHG_Award_Sent_to_AP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Award_Date_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Award_Sent1</name>
        <label>Award Sent?</label>
        <locationX>1150</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Family</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Family.UHG_Award_Sent_to_AP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Award_Sent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Award_Still_Sent</name>
        <label>Award Still Sent?</label>
        <locationX>930</locationX>
        <locationY>1943</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MyAwardSent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Root_Patent_0_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Root_Patent</name>
        <label>Root Patent Set?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Update_Award_in_Family</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Root_Patent__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Root_Award_in_Family_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Root_Patent_0</name>
        <label>Root Patent Set?</label>
        <locationX>1117</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Set_Root_Patent1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Root_Patent__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Root_Patent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Root_Patent_0_0</name>
        <label>Root Patent Set?</label>
        <locationX>732</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>Reset_Award_in_Family</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyIPM__Root_Patent__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Reset_Award_in_Family1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Update Award Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Award Date</label>
    <loops>
        <name>Loop_Through_Family</name>
        <label>Loop Through Family</label>
        <locationX>930</locationX>
        <locationY>1391</locationY>
        <collectionReference>MyFamilyMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Award_Sent1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Award_Still_Sent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Family_Members</name>
        <label>Get Family Members</label>
        <locationX>930</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Family</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MyRootPatent</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyIPM__Root_Patent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MyRootPatent</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Patent__c</object>
        <outputReference>MyFamilyMembers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UHG_Award_Sent_to_AP__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Root_Patent</name>
        <label>Get Root Patent</label>
        <locationX>985</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Award_in_Family</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyIPM__Root_Patent__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyIPM__Patent__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UHG_Root_Award_Sent_to_AP__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Award_Date_0</name>
        <label>Clear Award Date</label>
        <locationX>1117</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Root_Patent_0</targetReference>
        </connector>
        <inputAssignments>
            <field>UHG_Date_Award_Sent_to_AP__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Award_in_Family</name>
        <label>Reset Award in Family</label>
        <locationX>864</locationX>
        <locationY>2183</locationY>
        <inputAssignments>
            <field>UHG_Root_Award_Sent_to_AP__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Award_in_Family1</name>
        <label>Reset Award in Family</label>
        <locationX>600</locationX>
        <locationY>2183</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyIPM__Root_Patent__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UHG_Root_Award_Sent_to_AP__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Patent__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Award_Date_0</name>
        <label>Update Award Date</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Root_Patent</targetReference>
        </connector>
        <inputAssignments>
            <field>UHG_Date_Award_Sent_to_AP__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Award_in_Family</name>
        <label>Update Award in Family</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>UHG_Root_Award_Sent_to_AP__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Root_Award_in_Family_0</name>
        <label>Update Root Award in Family</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyIPM__Root_Patent__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UHG_Root_Award_Sent_to_AP__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Patent__c</object>
    </recordUpdates>
    <start>
        <locationX>523</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Award_Sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UHG_Award_Sent_to_AP__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SymphonyIPM__Patent__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MyAwardInFamily</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MyAwardSent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MyFamilyMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Patent__c</objectType>
    </variables>
    <variables>
        <name>MyRootPatent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
