force-app/main/default/flows/WIPO_Rules_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_update_list</name>
        <label>Add to update list</label>
        <locationX>654</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>rcWIPORulesUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_WIPO_Rules</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_WIPO_Rules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_jurisdiction_for_Hague</name>
        <label>Update jurisdiction for Hague</label>
        <locationX>512</locationX>
        <locationY>448</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_WIPO_Rules.SymphonyIPM__Jurisdiction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vHagueJurisdictionId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_update_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_jurisdiction_for_Madrid</name>
        <label>Update jurisdiction for Madrid</label>
        <locationX>398</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_WIPO_Rules.SymphonyIPM__Jurisdiction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vMadridJurisdictionId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_update_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_jurisdiction_for_PCT</name>
        <label>Update jurisdiction for PCT</label>
        <locationX>469</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_WIPO_Rules.SymphonyIPM__Jurisdiction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vPCTJurisdictionId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_update_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Rule_Type</name>
        <label>Rule Type?</label>
        <locationX>327</locationX>
        <locationY>363</locationY>
        <defaultConnector>
            <targetReference>Loop_through_WIPO_Rules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PCT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_WIPO_Rules.SymphonyIPM__Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_jurisdiction_for_PCT</targetReference>
            </connector>
            <label>PCT</label>
        </rules>
        <rules>
            <name>Hague</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_WIPO_Rules.SymphonyIPM__Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_jurisdiction_for_Hague</targetReference>
            </connector>
            <label>Hague</label>
        </rules>
        <rules>
            <name>Madrid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_WIPO_Rules.SymphonyIPM__Asset_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trademark</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_jurisdiction_for_Madrid</targetReference>
            </connector>
            <label>Madrid</label>
        </rules>
    </decisions>
    <description>Workflow to correct rule jurisdictions in docketing rule engine - [Ashwin 2020-06-30]</description>
    <interviewLabel>WIPO Rules Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WIPO Rules Update</label>
    <loops>
        <name>Loop_through_WIPO_Rules</name>
        <label>Loop through WIPO Rules</label>
        <locationX>178</locationX>
        <locationY>373</locationY>
        <collectionReference>rcWIPODocketRules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Rule_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Docketing_Rules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Hague_Jurisdiction_Id</name>
        <label>Get Hague Jurisdiction Id</label>
        <locationX>687</locationX>
        <locationY>153</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WIPO_rules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WIPO/Hague (Design)</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Country__c</object>
        <outputAssignments>
            <assignToReference>vHagueJurisdictionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Madrid_Jurisdiction_Id</name>
        <label>Get Madrid Jurisdiction Id</label>
        <locationX>564</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Hague_Jurisdiction_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WIPO/Madrid (Trademark)</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Country__c</object>
        <outputAssignments>
            <assignToReference>vMadridJurisdictionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PCT_Jurisdiction_Id</name>
        <label>Get PCT Jurisdiction Id</label>
        <locationX>404</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Madrid_Jurisdiction_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WIPO/PCT</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Country__c</object>
        <outputAssignments>
            <assignToReference>vPCTJurisdictionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_WIPO_rules</name>
        <label>Get WIPO rules</label>
        <locationX>177</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_WIPO_Rules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WO</stringValue>
            </value>
        </filters>
        <object>SymphonyIPM__Docketing_Rule_Engine__c</object>
        <outputReference>rcWIPODocketRules</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyIPM__Jurisdiction__c</queriedFields>
        <queriedFields>SymphonyIPM__Asset_Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Docketing_Rules</name>
        <label>Update Docketing Rules</label>
        <locationX>186</locationX>
        <locationY>569</locationY>
        <inputReference>rcWIPORulesUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_PCT_Jurisdiction_Id</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>rcWIPODocketRules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Docketing_Rule_Engine__c</objectType>
    </variables>
    <variables>
        <name>rcWIPORulesUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Docketing_Rule_Engine__c</objectType>
    </variables>
    <variables>
        <name>vHagueJurisdictionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vMadridJurisdictionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPCTJurisdictionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
