force-app/main/default/flows/Withdrawl_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Withdraw_Email_Notification</name>
        <label>Withdraw Email Notification</label>
        <locationX>1151</locationX>
        <locationY>213</locationY>
        <actionName>SymphonyIPM__Invention_Disclosure_New__c.Withdrawl_alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_the_Checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CollectRecordID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Accept</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>No1</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Reject</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes1</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>Yes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Approved_or_Rejected</name>
        <label>Approved or Rejected</label>
        <locationX>388</locationX>
        <locationY>559</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_Withdrawl_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Accept</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ID</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_Withdrawl_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ID_0</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_UHG_IP_Legal_Email</name>
        <label>Check UHG IP Legal Email</label>
        <locationX>878</locationX>
        <locationY>153</locationY>
        <defaultConnector>
            <targetReference>Update_the_Checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_Email_ID_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UHGIPLegalEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Withdraw_Email_Notification</targetReference>
            </connector>
            <label>IS Email ID present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User</name>
        <label>Check User</label>
        <locationX>492</locationX>
        <locationY>171</locationY>
        <defaultConnector>
            <targetReference>GetUser1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PlatformInventor</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetCurrentProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Platform Inventor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Withdraw</targetReference>
            </connector>
            <label>Inventor</label>
        </rules>
        <rules>
            <name>IC_and_Admin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetCurrentProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCurrentProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In-house Counsel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUser1</targetReference>
            </connector>
            <label>IC and Admin</label>
        </rules>
    </decisions>
    <description>Fixing the soql limit exception [Asma]
Email Alert Configured
Added a validation on inventor&apos;s  withdrawal comment.(04-19-2021 Tanuj Sharma )</description>
    <formulas>
        <name>GetUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>NoteBody</name>
        <dataType>String</dataType>
        <expression>{!Comments}</expression>
    </formulas>
    <formulas>
        <name>NotebyIConApprove</name>
        <dataType>String</dataType>
        <expression>{!IC_Comments}</expression>
    </formulas>
    <formulas>
        <name>NoteTitle</name>
        <dataType>String</dataType>
        <expression>&quot;Withdrawal Comments by Inventor- &quot; &amp; TEXT(TODAY())</expression>
    </formulas>
    <formulas>
        <name>NoteTitleforIC</name>
        <dataType>String</dataType>
        <expression>&quot;Withdrawal Comments by IC - &quot; &amp; TEXT(TODAY())</expression>
    </formulas>
    <formulas>
        <name>UHGIPLegalEmail</name>
        <dataType>String</dataType>
        <expression>{!CollectID.UHG_IP_Legal__r.Email}</expression>
    </formulas>
    <interviewLabel>Withdrawl Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Withdrawal Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNote</name>
        <label>CreateNote</label>
        <locationX>411</locationX>
        <locationY>361</locationY>
        <assignRecordIdToReference>Notenew</assignRecordIdToReference>
        <connector>
            <targetReference>DocLink</targetReference>
        </connector>
        <inputAssignments>
            <field>Content</field>
            <value>
                <elementReference>NotebyIConApprove</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SharingPrivacy</field>
            <value>
                <stringValue>N</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>NoteTitleforIC</elementReference>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
    </recordCreates>
    <recordCreates>
        <name>CreateNote_0</name>
        <label>CreateNote</label>
        <locationX>1020</locationX>
        <locationY>543</locationY>
        <assignRecordIdToReference>NoteByInv</assignRecordIdToReference>
        <connector>
            <targetReference>DocLink_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Content</field>
            <value>
                <elementReference>NoteBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SharingPrivacy</field>
            <value>
                <stringValue>N</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>NoteTitle</elementReference>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
    </recordCreates>
    <recordCreates>
        <name>DocLink</name>
        <label>DocLink</label>
        <locationX>285</locationX>
        <locationY>430</locationY>
        <connector>
            <targetReference>Approved_or_Rejected</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Notenew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>CollectRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>DocLink_0</name>
        <label>DocLink</label>
        <locationX>1164</locationX>
        <locationY>521</locationY>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>NoteByInv</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>CollectRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>292</locationX>
        <locationY>165</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProfileName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>CurrentUserProfileID</assignToReference>
            <field>ProfileId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetProfileName</name>
        <label>GetProfileName</label>
        <locationX>389</locationX>
        <locationY>169</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserProfileID</elementReference>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>GetCurrentProfileName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetUser1</name>
        <label>GetUser1</label>
        <locationX>595</locationX>
        <locationY>286</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IC_approval_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Username</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>This_Record1</name>
        <label>This Record</label>
        <locationX>170</locationX>
        <locationY>157</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CollectRecordID</elementReference>
            </value>
        </filters>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
        <outputAssignments>
            <assignToReference>CollectRecordID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PriInventor</assignToReference>
            <field>SymphonyIPM__Primary_Inventor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UHGIPLegal</assignToReference>
            <field>UHG_IP_Legal__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Username</assignToReference>
            <field>Withdraw_Requested_By__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CommentInp</assignToReference>
            <field>Withdrawal_Comments__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_ID</name>
        <label>Update ID</label>
        <locationX>624</locationX>
        <locationY>640</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CollectRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Withdraw_Requested__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyIPM__Disclosure_Status__c</field>
            <value>
                <stringValue>Closed - Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ID_0</name>
        <label>Update ID</label>
        <locationX>282</locationX>
        <locationY>698</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CollectRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Withdraw_Requested__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Checkbox</name>
        <label>Update the Checkbox</label>
        <locationX>964</locationX>
        <locationY>372</locationY>
        <connector>
            <targetReference>CreateNote_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CollectRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Withdraw_Requested__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Withdraw_Requested_By__c</field>
            <value>
                <elementReference>GetUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Withdrawal_Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyIPM__Invention_Disclosure_New__c</object>
    </recordUpdates>
    <screens>
        <name>Comment_Screen_for_IC</name>
        <label>Comment Screen for IC</label>
        <locationX>602</locationX>
        <locationY>477</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateNote</targetReference>
        </connector>
        <fields>
            <name>IC_Comments</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ICComments</elementReference>
            </defaultValue>
            <fieldText>IC Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IC_approval_screen</name>
        <label>IC approval screen</label>
        <locationX>757</locationX>
        <locationY>402</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Comment_Screen_for_IC</targetReference>
        </connector>
        <fields>
            <name>IP_Screen</name>
            <fieldText>&lt;p&gt;Withdraw Requested By : {!GetUser1.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inventor_Withdrawl_comments</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CommentInp</elementReference>
            </defaultValue>
            <fieldText>Inventor Withdrawal Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Approve_Withdrawl_request</name>
            <choiceReferences>Accept</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Approve Withdrawal Request</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Withdraw</name>
        <label>Withdraw?</label>
        <locationX>693</locationX>
        <locationY>98</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_UHG_IP_Legal_Email</targetReference>
        </connector>
        <fields>
            <name>Choice</name>
            <choiceReferences>Yes1</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Withdraw Invention Disclosure?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Comments must be less than 255 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Comments})&lt;=255</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Choice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes1</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>36</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>This_Record1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>additionalinventors1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Additional_Inventor__c</objectType>
    </variables>
    <variables>
        <name>AddtionalInventors</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyIPM__Invention_Disclosure_New__c</objectType>
    </variables>
    <variables>
        <name>CollectRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CommentInp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Comments</elementReference>
        </value>
    </variables>
    <variables>
        <name>CurrentUserProfileID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetCurrentProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ICComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoteByInv</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Notenew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PriInventor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UHGIPLegal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Username</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WithdrawnBy</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
